section.clubs
  ul.clubs__list
    li.clubs__club
      a.clubs__anchor(href=pageUrl('clubs/after-school-club/index.pug'))
        img.clubs__image(src=assetUrl('images/dragon.png'))
        h2.clubs__name After School Club
        p.clubs__description A fun place to wind down after school
        p.clubs__info Learn more
        p.clubs__price Sessions are £11.70
    li.clubs__club
      a.clubs__anchor(href=pageUrl('clubs/holiday-club.pug'))
        img.clubs__image(src=assetUrl('images/cooking.png'))
        h2.clubs__name Holiday Club
        p.clubs__description All day play during the school holidays
        p.clubs__info Learn more
        p.clubs__price Sessions from £18.00
