mixin link(href)
  a(href=pageUrl(href), class={ 'is-current': filename === href })&attributes(attributes)
    block

nav.nav.js-nav
  header.nav__header
    div.nav__container
      button.nav__toggle.js-nav-toggle Menu
  div.nav__main
    div.nav__container
      ul.nav__items
        li.nav__item.nav__item--home
          +link('index.jade').nav__link Home
        li.nav__item.nav__item--about.js-nav-item
          +link('about/index.jade').nav__link.js-nav-link About Sparks
          ul.nav__sub-items
            li.nav__sub-item
              +link('about/index.jade').nav__sub-link.js-nav-sub-link About Sparks
            li.nav__sub-item
              +link('about/team.jade').nav__sub-link.js-nav-sub-link Meet our team
            li.nav__sub-item
              +link('about/registration-booking.jade').nav__sub-link.js-nav-sub-link Registration & booking
            li.nav__sub-item
              +link('about/registration-booking.jade#howtopay').nav__sub-link.js-nav-sub-link How to pay
            li.nav__sub-item
              +link('about/policies-procedures/index.jade').nav__sub-link.js-nav-sub-link Policies & procedures
            li.nav__sub-item
              +link('about/terms.jade').nav__sub-link.js-nav-sub-link Terms & conditions
        li.nav__item.nav__item--clubs.js-nav-item
          +link('clubs/index.jade').nav__link.js-nav-link Our clubs
          ul.nav__sub-items
            li.nav__sub-item
              +link('clubs/index.jade').nav__sub-link.js-nav-sub-link Our clubs
            li.nav__sub-item
              +link('clubs/breakfast-club.jade').nav__sub-link.js-nav-sub-link Breakfast Club
            li.nav__sub-item
              +link('clubs/after-school-club.jade').nav__sub-link.js-nav-sub-link After School Club
            li.nav__sub-item
              +link('clubs/holiday-club.jade').nav__sub-link.js-nav-sub-link Holiday Club
            li.nav__sub-item
              +link('clubs/taningua.jade').nav__sub-link.js-nav-sub-link Taningua
            li.nav__sub-item
              +link('clubs/sparkan-foragers.jade').nav__sub-link.js-nav-sub-link Sparkan Foragers
        li.nav__item.nav__item--blog
          +link('blog/index.jade').nav__link Blog
