.breadcrumb {
  @include bp-max-medium {
    display: none;
  }
}

.breadcrumb__container {
  @include container;

  @include bp-min-medium {
    @include container--medium;
    padding-bottom: 0;
  }

  @include bp-min-large {
    @include container--large;
    padding-bottom: 0;
  }
}

%breadcrumb__items {
  @include bp-min-medium {
    @include unstyled-list;
  }
}

%breadcrumb__link {
  @include bp-min-medium {
    @include unstyled-anchor;
    font-family: 'Roboto';
  }
}

.breadcrumb__items {
  @extend %breadcrumb__items;

  @include bp-min-medium {
    display: flex;
  }
}

.breadcrumb__item {
  @include bp-min-medium {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;

    &:not(:last-child) {
      margin-right: 1em;

      &::after {
        content: '';
        width: 15px;
        height: 15px;
        margin-left: 1em;
        background-image: data-url('images/arrow.svg');
      }
    }
  }
}

.breadcrumb__overlay {
  .breadcrumb__item.is-open & {
    &::after {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.breadcrumb__link {
  @extend %breadcrumb__link;

  @include bp-min-medium {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
}

.breadcrumb__sub-items {
  @extend %breadcrumb__items;

  @include bp-min-medium {
    position: absolute;
    top: 100%;
    left: -24px;
    margin-top: 16px;
    padding: 16px;
    background-color: white;
    border: 10px solid rgba(black, .2);
    border-radius: 16px;
    background-clip: padding-box;

    .breadcrumb__item:not(.is-open) & {
      @include visually-hidden;
    }
  }
}

.breadcrumb__sub-item {
  @extend %breadcrumb__item;

  @include bp-min-medium {
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}

.breadcrumb__sub-link {
  @extend %breadcrumb__link;

  @include bp-min-medium {
    white-space: nowrap;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
}
