.clubs {
  @include body;
  margin-bottom: 2em;
}

.clubs__heading {
  @include heading;
  @include heading--primary;
  margin-bottom: .5em;

  .clubs--embedded & {
    @include heading--divider;
  }
}

.clubs__list {
  @include unstyled-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clubs__club {
  width: 50%;
  padding: 10px 30px;
  text-align: center;

  @include bp-min-small {
    width: 33.33%;
  }
}

.clubs__anchor {
  @include unstyled-anchor;
}

.clubs__image {
  max-width: 100%;
}

.clubs__name {
  @include heading;
  @include heading--tertiary;
  margin: 0;
}

.clubs__price {
  @include body--small;
  margin: 0;
  margin-top: .6em;
  font-style: italic;
}

.clubs__info {
  margin: 0;
  margin-top: .4em;
  color: map-get($colors, blue);

  &::after {
    content: '';
    position: relative;
    top: -2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    background-image: data-url('images/link.svg');
  }
}
