.clubs {
  @include body;
  margin-bottom: 2em;
}

.clubs__heading {
  @include heading;
  @include heading--primary;
  @include heading--divider;
  margin-bottom: .5em;
}

.clubs__list {
  @include unstyled-list;

  @include bp-min-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.clubs__club {
  text-align: center;

  @include bp-max-small {
    & + & {
      margin-top: 1em;
    }
  }

  @include bp-min-small {
    flex-basis: 50%;
    padding: 0 20px;
  }

  @include bp-min-medium {
    flex-basis: 33.33%;
    padding: 0 30px;
  }
}

.clubs__anchor {
  @include unstyled-anchor;
}

.clubs__image {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: auto;

  @include bp-min-small {
    max-width: 240px;
  }
}

.clubs__name {
  @include heading;
  @include heading--tertiary;
  margin: 0;

  .clubs__anchor:hover & {
    text-decoration: underline;
  }
}

.clubs__description {
  @include body;
  margin: .5em 0;
}

.clubs__price {
  @include body--small;
  margin: 0;
  margin-top: .6em;
  font-style: italic;
  color: #666;
}

.clubs__info {
  @include button;
  @include button--primary;
  display: block;
  max-width: 180px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
