.club {
}

.club__container {
  @include container;

  @include bp-min-medium {
    @include container--medium;
  }

  @include bp-min-large {
    @include container--large;
  }
}

.club__heading {
  margin-top: 0;
  font-weight: 500;
}

.club__body {
  max-width: 640px;
  line-height: 1.5;
  color: #444;

  @include bp-min-small {
    font-size: 18px;
  }

  @include bp-min-medium {
    font-size: 19px;
  }
}

.club__sessions {
  border-collapse: collapse;
  color: #444;

  td, th {
    font-size: 19px;
    line-height: 1.5;
    padding: 10px;
    text-align: left;
    border: 1px solid #aaa;
  }
}

.club__clubs {
  @include unstyled-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.club__club {
  padding: 10px 30px;
  text-align: center;
  width: 50%;

  @include bp-min-small {
    width: 33.33%;
  }

  a {
    @include unstyled-anchor;
  }

  h2 {
    margin: 0;
    color: #FF0049;
  }

  p {
    @extend .club__body;
    margin: 0;
    margin-top: 5px;
  }

  img {
    max-width: 100%;
    margin-bottom: -5px;
  }
}
