.content {
  @include body;

  section {
    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include heading;
  }

  h1 {
    @include heading--primary;
  }

  h2 {
    @include heading--secondary;
  }

  p, li {
    max-width: 720px;
  }

  ul, ol {
    padding-left: 30px;
  }

  ul {
    list-style-type: square;
  }

  table {
    margin: 1em 0;
  }
}

.content__nowrap {
  white-space: nowrap;
}

.content__cta {
  @include button;
  @include button--cta;
}
