.content {
  @include body;

  section {
    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include heading;
  }

  h1 {
    @include heading--primary;
  }

  h2 {
    @include heading--secondary;
  }

  h4 + p {
    margin-top: 0;
  }

  p, li {
    max-width: 720px;
  }

  ul, ol {
    padding-left: 30px;
  }

  ul {
    list-style-type: square;
  }

  table {
    margin: 1em 0;
  }

  address {
    font-style: normal;
  }
}

.content__nowrap {
  white-space: nowrap;
}

.content__button {
  @include button;
  @include button--filled;
}

.content__cta {
  @include button;
  @include button--cta;
}

.content__location {
  margin: 1em 0;

  @include bp-min-small {
    display: flex;
  }
}

.content__location-item {
  @include bp-max-small {
    & + & {
      margin-top: 1em;
    }
  }

  @include bp-min-small {
    width: 300px;
  }
}

.content__location-label {
  @include heading;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: .5em;
}

.content__location-link {
  display: block;
  margin-top: .5em;
}
