.header {
  background-color: map-get($colors, header);
  mask: url(/images/wave-bottom.svg) no-repeat center bottom;
  mask-size: 100% auto;
  color: white;
}

.header__container {
  @include container;
}

.header__logo {
  display: block;
}

.header__logo-image {
  display: block;
  width: 90px;
  height: 93px;
}
