.nav {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  color: white;

  &.is-open {
    position: fixed;
    bottom: 0;
    background-color: map-get($colors, nav);
  }
}

.nav__header {
  .nav.is-open & {
    background: darken(map-get($colors, nav), 3%);
    mask: url(/images/wave-bottom.svg) no-repeat center bottom;
    mask-size: 100% auto;
  }
}

.nav__main {
  .nav:not(.is-open) & {
    @include visually-hidden;
  }
}

.nav__container {
  @include container;
}

.nav__toggle {
  @include unstyled-input;
  display: block;
  margin-left: auto;
  font: 24px 'Playtime With Hot Toddies', sans-serif;
  color: inherit;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    width: 22px;
    height: 17px;
    margin-right: 10px;
    background-image: url(/images/menu.svg);
  }
}

%nav__items {
  @include unstyled-list;
}

%nav__item {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

%nav__link {
  @include unstyled-anchor;

  &.is-current, &:hover, &:focus {
    text-decoration: underline;
  }
}

.nav__items {
  @extend %nav__items;
}

.nav__item {
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.nav__link {
  @extend %nav__link;
  font: 24px bold 'Playtime With Hot Toddies', sans-serif;
}

.nav__sub-items {
  @extend %nav__items;
  margin-top: 10px;
  margin-left: 10px;
}

.nav__sub-item {
  @extend %nav__item;
}

.nav__sub-link {
  @extend %nav__link;
  color: adjust-color(map-get($colors, nav), $saturation: -50%, $lightness: 75%);
}
