.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: white;

  @include bp-max-medium {
    &.is-open {
      position: fixed;
      z-index: 1;
      bottom: 0;
      background-color: map-get($colors, nav);
    }
  }

  @include bp-min-medium {
    height: 100%;
  }
}

.nav__header {
  @include bp-max-medium {
    .nav.is-open & {
      background: darken(map-get($colors, nav), 3%);
      mask: data-url('images/wave-bottom.svg') no-repeat center bottom;
      mask-size: 100% auto;
    }
  }

  @include bp-min-medium {
    display: none;
  }
}

.nav__main {
  @include bp-max-medium {
    .nav:not(.is-open) & {
      @include visually-hidden;
    }
  }

  @include bp-min-medium {
    height: 100%;
  }
}

.nav__container {
  @include container;
  height: 100%;

  @include bp-min-medium {
    @include container--medium;
  }

  @include bp-min-large {
    @include container--large;
  }
}

.nav__toggle {
  @include bp-max-medium {
    @include unstyled-input;
    display: block;
    margin-left: auto;
    font: 24px 'Playtime With Hot Toddies', sans-serif;
    color: inherit;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      background-image: data-url('images/menu.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  @include bp-min-small {
    font-size: 28px;

    &::before {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-image: data-url('images/menu.svg');
    }
  }
}

%nav__items {
  @include unstyled-list;
}

%nav__link {
  @include unstyled-anchor;
}

.nav__items {
  @extend %nav__items;

  @include bp-min-medium {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.nav__item {
  @include bp-max-medium {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.nav__item--about {
  @include bp-min-medium {
    margin-right: 80px;
  }

  @include bp-min-large {
    margin-right: 100px;
  }
}

.nav__item--clubs {
  @include bp-min-medium {
    margin-left: 80px;
  }

  @include bp-min-large {
    margin-left: 100px;
  }
}

.nav__link {
  @extend %nav__link;
  display: block;
  font: 24px 'Playtime With Hot Toddies', sans-serif;

  @include bp-max-medium {
    &.is-current, &:hover {
      text-decoration: underline;
    }
  }

  @include bp-min-medium {
    font-size: 26px;

    &.is-current {
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        right: -16px;
        bottom: -8px;
        left: -16px;
        background-image: data-url('images/outline.svg');
        background-size: 100% 100%;
        opacity: .5;
      }
    }
  }

  @include bp-min-large {
    font-size: 28px;

    &.is-current {
      &::before {
        top: -12px;
        right: -24px;
        bottom: -12px;
        left: -24px;
      }
    }
  }
}

.nav__sub-items {
  @extend %nav__items;

  @include bp-max-medium {
    margin-top: 10px;
    margin-left: 10px;
  }

  @include bp-min-medium {
    @include visually-hidden;
  }
}

.nav__sub-item {
  @extend %nav__item;

  @include bp-max-medium {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.nav__sub-link {
  @extend %nav__link;

  @include bp-max-medium {
    color: adjust-color(map-get($colors, nav), $saturation: -50%, $lightness: 75%);

    &:hover {
      text-decoration: underline;
    }
  }
}
