.post-preview {
  max-width: 720px;

  & + & {
    margin-top: 32px;
  }
}

.post-preview__title {
  @include heading;
  @include heading--secondary;
}

.post-preview__anchor {
  @include unstyled-anchor;

  &:hover {
    text-decoration: underline;
  }
}

.post-preview__meta {
  @include body;
  @include body--small;
  margin: 0;
  margin-top: .3em;
  color: map-get($colors, blue);
}

.post-preview__summary {
  @include body;
  margin: 0;
  margin-top: .6em;
}

.post-preview__more {
  @include body;
  display: block;
  margin-top: 1em;
  color: map-get($colors, blue);

  &::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    background-image: data-url('images/link.svg');
  }
}
