.post {
}

.post__title {
  @include heading;
  @include heading--primary;
}

.post__meta {
  @include body;
  margin-top: .5em;
  margin-bottom: 1.5em;
  color: #666;
}

.post__nav {
  margin-top: 1.5em;
}

.post__nav-item {
  @include body;
  margin: 0;

  & + & {
    margin-top: 1em;
  }
}

.post__nav-label {
  font-weight: bold;
  color: #111;
}
