.team {
  @include tiles;
}

.team__member {
  @include tiles__item;
}

.team__image,
.team__placeholder {
  @include tiles__image;
  border-radius: 50%;
}

.team__placeholder {
  height: 200px;
  background-color: #eee;
}

.team__name {
  @include tiles__heading;
}

.team__role {
  @include tiles__description;
  margin: 0;
  margin-top: .2em;
}
