---
title: Sparks’ 10 Year Anniversary
summary: We recently celebrated 10 years of Sparks with a big party with live music. We had staff and children past and present come and enjoy all the fun with us. We made a video of all the highlights of the afternoon – see what you think!
date: 2016-01-23
---

extends ../layouts/post

block post
  div.content
    h1=title
    p=summary
    div.content__media
      iframe(src='https://www.youtube.com/embed/Mk9adoWXdQM?rel=0')
