---
title: Christmas Holidays
summary: It’s the most wonderful time of the year, and you’re probably wondering what on earth is happening in Bristol to entertain you and your little sparks?
description: It’s the most wonderful time of the year, and you’re probably wondering what on earth is happening in Bristol to entertain you and your little sparks?
date: 2017-12-06
---

extends ../layouts/post

block append foot
  include ../includes/zoom-image

block body
  div.content
    p It’s the most wonderful time of the year, and you’re probably wondering what on earth is happening in Bristol to entertain you and your little sparks?
    p We’re hosting the Sparks Christmas party on December 14th, and bookings are now available through Libacura. Come along to see St Bart’s Church Hall transformed into a winter wonderland where your children can play, dance, sing and enjoy a delicious feast of festive treats!
    
    div.content__gallery
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-12-06_23-00-00.jpg'))
      div.content__gallery-item(style='flex: 1')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-12-06_23-00-01.jpg'))
      
    p The Sparks team will be dressed as Christmassy characters and there will be presents and prizes to be won. There will also be a performance by #[a(href='http://www.greatjaydinibristol.co.uk/') The Great Jaydini] who bedazzled and entertained us with his incredible magic during October half term Holiday Club.
    p There won’t be a holiday club during the Christmas break, but we’ve done some research for you and listed below are some of the best seasonal activities for children in Bristol.
    
    section
      h2 The Best Santa Experiences
      p Meeting Father Christmas is such an exciting and memorable event for children and their parents. There are many places in the city where you can queue up to meet him and have a photo, but why not take it to the next level?
      
      h3 Ferry boat ride with Santa!
      p
        | 9th-24th December 
        br
        | £12.50 per person 
      p Join the ferry elves and help them find Santa! Once you find Santa he will sing songs and entertain everyone while cruising around the harbour on a ferry. He will bring a present for each child and sherry and mince pies for the parents!
      p #[a(href='http://www.bristolferry.com') bristolferry.com]
    
      h3 Avon Valley Railway ride with Father Christmas! 
      p Enjoy an hour long trip on a steam train where Father Christmas will make his way through the train meeting each family and giving each child a wonderful gift designed for their age group!
      p
        | Visit the website for prices and times:
        br
        a(href='http://www.avonvalleyrailway.org/events/santa-special') avonvalleyrailway.org/events/santa-special
    
    section
      h2 The Best Christmas Shows!
      p Whether it’s panto that gets you in the Christmas spirit or a Disney romance brought to life, or perhaps an old classic that brings a tear of nostalgia to your eye, then Bristol’s brilliant theatres have you covered this December.
      
      h3 Paddington and The Snowman 
      p
        | Are both showing at Colston Hall 
        br
        a(href='http://www.colstonhall.org') www.colstonhall.org
      
      h3 Beauty and the Beast 
      p
        | At Tobacco Factory
        br
        a(href='https://visitbristol.co.uk/whats-on/beauty-and-the-beast-at-tobacco-factory-theatres-p2228023') visitbristol.co.uk/whats-on/beauty-and-the-beast-at-tobacco-factory-theatres-p2228023
      
      h3 Aladdin 
      p
        | At Bristol Hippodrome 
        br
        a(href='http://atgtickets.com/shows/aladdin-2/bristol-hippodrome') atgtickets.com/shows/aladdin-2/bristol-hippodrome
    
    section
      h2 The Best Craft Activities!
      p Craft activities are always very popular at Sparks, so we’ve found some local crafting events to occupy you and your little spark over the holiday season.
      
      h3 Winter Art Day
      p
        | Explore and make a mess!
        br
        | Arts and crafts for 7 - 12 year olds
        br
        | At Chandos Atelier in Redland
        br
        | On 19th December 10am - 3pm 
        br
        | £45 first child and £31.50 for sibling. 
      p This promises to be a great day of art with a fabulous ‘make to take home’ session, run by a professional crafter! Get stuck into a whole day of crafting with great discoveries along the way.
      p #[a(href='https://www.chandosatelier.co.uk/creativemakers/winter-art-day') chandosatelier.co.uk/creativemakers/winter-art-day]
    
      h3 Sew a felt Robin Workshop with @TweedandBird
      p
        | At the Bale House in Golden Hill Community Garden
        br
        | 19th December 
        br
        | Ages 7+ 
        br
        | £15 per person 
      p Every parent prefers a homemade gift to treasure! 
      p Set in the pretty gardens, there’s even the promise of a hot chocolate for everyone and a stroll around the allotments (weather and time permitting)
      p #[a(href='https://www.facebook.com/tweedandbird') facebook.com/tweedandbird]
      
      h3 Family fun and card craft at The American Museum 
      p There’s a family fun day at The American Museum on 17th December. Hear the choir sing and make your own Christmas cards! If you’ve not had the pleasure of visiting the American Museum then this would be the perfect opportunity to look around and browse memorabilia from across the pond!
      p #[a(href='https://americanmuseum.org/events/family-fun-holiday-homecoming-2') americanmuseum.org/events/family-fun-holiday-homecoming-2]
      
    section
      h2 The Best Sports and outdoor Activities!
      p There’s nothing worse than feeling cooped up indoors during the school holibobs, especially when you’ve over indulged on mince pies and had a few too many Quality Steets! So how about a bit of running around to blow off steam?
    
      h3 Hockey & Netball course for 5-13 yr olds
      p
        | Monday 18th or Tuesday 19th December 10am-3pm at Redmaids Highschool in Westbury.
        br
        | £30 per day 
      p #[a(href='https://www.thompsonssportsacademy.co.uk/courses') thompsonssportsacademy.co.uk/courses]
    
      h3 Christmas Holiday Tennis Course
      p
        | For 4 - 15 Year olds of all abilities
        br
        | At Kings Lawn Tennis Club in Bishopston
        br
        | 18th, 19th, 20th and 21st December 9am - 1pm 
        br
        | £15 per child per day. 
      p #[a(href='https://clubspark.lta.org.uk/KingsLawnTennisClub/OurEvents') clubspark.lta.org.uk/KingsLawnTennisClub/OurEvents]
      
      h3 Wild Rumpus Club
      p
        | Animals and Nature for 5 - 7 year olds.
        br
        | 18th December 
        br
        | 10.30am - 12pm
        br
        | TCV Tree Life Centre, Kingswood.
      p We love forest school at Sparks and the Wild Rumpus Club are offering a brilliant opportunity for your 5 - 7 year olds to do a bit of den-building, fire lighting and campfire cooking. And only £5.82 per child!
      p #[a(href='https://www.eventbrite.co.uk/e/wild-rumpus-nature-club-5-7-years-tickets-39829658581') eventbrite.co.uk/e/wild-rumpus-nature-club-5-7-years-tickets-39829658581]
      
    section
      h2 The Best Free events and activities!
      p Christmas is an expensive time, but it’s not always necessary to splash out on family fun. Bristol has some brilliant events and activities for children and their families to enjoy free of charge!
    
      h3 Scribble and Sketch at Easton Community Centre
      p
        | 10.30 am - 12.30pm
        br
        | 16th December
        br
        | #[strong FREE]
      p Arts and Crafts for all ages, everyone is welcome to come and get creative in this friendly environment.
      p #[a(href='http://www.rwa.org.uk/whats-on/scribble-and-sketch-easton-11') rwa.org.uk/whats-on/scribble-and-sketch-easton-11]
    
      h3 Reindeer Feeding 
      p
        | At Whitehall Garden Centre Whitchurch
        br
        | Everyday at 4pm until Xmas day
      p Now that’s worth a drive or a bus out of town to witness!!! 
      p #[a(href='https://whitehallgardencentre.co.uk/events/reindeer-feeding-2017') whitehallgardencentre.co.uk/events/reindeer-feeding-2017]
      
      h3 Story Time
      p Our fabulous libraries offer FREE storytime sessions for children up to 5-years-old. Some of the sessions are followed by ‘stay and play/read’ and craft activities! Click on the link to see what’s happening in your local library.
      p #[a(href='https://www.bristol.gov.uk/libraries-archives/baby-bounce-and-rhyme-and-storytime-sessions') bristol.gov.uk/libraries-archives/baby-bounce-and-rhyme-and-storytime-sessions]
      
      h3 Christmas Markets
      p And finally there are many Christmas markets in Bristol here are our favourite ones.
    
      h4 Cabot Circus Christmas Market
      p Quaint wooden chalet-style stalls filled with handmade crafts and gift ideas and plenty of yummy festive treats and refreshments to help you recharge after all that Christmas shopping!
      p #[a(href='https://visitbristol.co.uk/whats-on/bristols-christmas-market-p31891') visitbristol.co.uk/whats-on/bristols-christmas-market-p31891]
      
      h4 St Nick’s Christmas Market
      p Shelter from the cold in St Nick’s indoor market and browse hundreds of stalls for Christmas presents and enjoy delicious aromatic food from around the world!
      p #[a(href='https://visitbristol.co.uk/whats-on/st-nicks-christmas-market-p2336663') visitbristol.co.uk/whats-on/st-nicks-christmas-market-p2336663]
    
      h4 Winter Wonderland
      p At Cribbs Causeway
      p Featuring the south west’s largest outdoor ice rink, Santa’s enchanted castle and a magical Christmas train ride as well as loads of stalls!
      p #[a(href='https://www.mallcribbs.com/events/winter-wonderland-2017') mallcribbs.com/events/winter-wonderland-2017]
    
      h4 Millennium Square Winter Fair
      p Enjoy the amazing views from the big wheel, ice skating, sleigh rides as well as market stalls and a Christmas carvery!
      p #[a(href='https://visitbristol.co.uk/whats-on/winter-fair-and-ice-rink-in-millennium-square-p2360303') visitbristol.co.uk/whats-on/winter-fair-and-ice-rink-in-millennium-square-p2360303]
    
    p Breakfast and After School clubs will start up again on the 3rd of January and the next Holiday Club will be during February half term with a ‘Wildlife’ theme! Keep watching our facebook page to find out when booking’s open and to view the schedule.
    p Everyone at Sparks wishes you a very merry Christmas whatever you get up to! 
