---
title: Blog
---

extends ../layouts/index
include ../mixins/post-preview

block content
  main.main
    div.main__container
      div.post-list
        h1.post-list__heading Blog
        for post in posts
          +post-preview(post)
