---
title: Japanese Themed Half-Term Holiday Club
summary: Most of our fondest childhood memories took place during the school holidays, especially when they were action-packed with adventure and fun! During the February half-term break, we held a ‘Japanese pop culture’ themed Holiday Club at Sefton Park School.
description: Most of our fondest childhood memories took place during the school holidays, especially when they were action-packed with adventure and fun! During the February half-term break, we held a ‘Japanese pop culture’ themed Holiday Club at Sefton Park School.
date: 2017-02-24
---

extends ../layouts/post

block body
  div.content
    h1=title
    p Most of our fondest childhood memories took place during the school holidays, especially when they were action-packed with adventure and fun!
    p During the February half-term break, we held a ‘Japanese pop culture’ themed #[a(href=pageUrl('clubs/holiday-club.jade')) Holiday Club at Sefton Park School].
    p The children enjoyed taking part in various activities each day, navigating their way around a Takeshi’s Castle-style obstacle course, mastering the ancient art of origami, and preparing scrummy sushi.
    p They were also treated to a manga drawing workshop and a drama class hosted by a guest drama teacher who volunteered their time.
    p Sparks Holiday Club is all about meeting new friends, learning new skills, being active and - most importantly - having bundles of fun!
    p Each week, our Holiday Club has a different theme, so the children can learn about new cultures, explore new hobbies and develop new skills. There’s a very relaxed atmosphere which allows the freedom to get involved in the planned activities or play independently inside and out, making use of the school’s excellent facilities.
    p With instruments hanging from the ceiling and posters of iconic musicians bedecking the walls of the main room, and artificial grass in the sensory room - which is used as a chillout zone - we’re fortunate to have such a creative space that allows children of all ages and abilities to relax, play and explore.
    p We’re excited to announce that the theme of our upcoming Easter Holiday Club will be ‘Nature’. The warmer weather will bring the opportunity to get out and about with our resident team of #[a(href=pageUrl('clubs/sparkan-foragers.jade')) Sparkan Foragers], learning all about springtime wildlife and participating in team-building exercises, such as shelter building and campfire cooking.
    p Holiday Club is open to children from all over Bristol, aged 4-14. To book your child’s place on the Easter Holiday Club (April 10th-21st, excluding Good Friday and Easter Monday), please check out our #[a(href=pageUrl('about/register.jade')) registration and booking page].
