---
title: New locations for Sparks
summary: Over the last six months we have been busy developing two new locations for Sparks. We now run an after school club for Fairlawn, The Dolphin and St Barnabas primary schools at Fairlawn School and we have moved the children aged 8-11 years from the Terrapin to St Bart’s Church Hall now called Big Sparks.
description: Over the last six months we have been busy developing two new locations for Sparks. We now run an after school club for Fairlawn, The Dolphin and St Barnabas primary schools at Fairlawn School and we have moved the children aged 8-11 years from the Terrapin to St Bart’s Church Hall now called Big Sparks.
date: 2016-11-15
---

extends ../layouts/post

block body
  div.content
    h1=title
    p Over the last six months we have been busy developing two new locations for Sparks. We now run an after school club for Fairlawn, The Dolphin and St Barnabas primary schools at Fairlawn School and we have moved the children aged 8-11 years from the Terrapin to St Bart’s Church Hall now called Big Sparks.
    p Callum and I have been busy over the last two days updating our website. Please take a look and give us some feedback at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].
    p Carole Theyer
