---
title: New website
summary: What do you think of our new website?
date: 2015-09-22
---

extends ../layouts/post

block post
  div.content
    h1 New website
    p What do you think of our new website?
