---
title: October Half Term
summary: Halloween is on the way and we’re getting ready by making costumes
date: 2015-09-22
---

extends ../layouts/post

block post
  h1 October Half Term
  p Halloween is on the way and we’re getting ready by making costumes
