---
title: Summer Holiday Club 2017
summary: The summer school holidays are nearly with us and we’ve just launched our fantastic Holiday Club and Taningua programme for 2017.
description: The summer school holidays are nearly with us and we’ve just launched our fantastic Holiday Club and Taningua programme for 2017.
date: 2017-06-12
---

extends ../layouts/post

block body
  div.content
    p The summer school holidays are nearly with us and we’ve just launched our fantastic Holiday Club and Taningua programme for 2017.
    a.content__download(href=assetUrl('files/holiday-club-summer-2017-programme.pdf')) Download the Summer Holiday Club 2017 Programme
    p
      em For Holiday Club session times and prices, #[a(href=pageUrl('clubs/holiday-club.pug')) please click here].
    p
      em For Taningua session times and prices, #[a(href=pageUrl('clubs/taningua.pug')) please click here].
