---
title: Summer Holidays 2017 booking reopens!!
summary: The summer holidays are in full swing, and WOW what a summer we’re having! Holiday Club is bigger, better and more popular than ever! So popular that we welcome a brand new play worker Eden to our team to accommodate this year’s high demand!
description: The summer holidays are in full swing, and WOW what a summer we’re having! Holiday Club is bigger, better and more popular than ever! So popular that we welcome a brand new play worker Eden to our team to accommodate this year’s high demand!
date: 2017-08-20
---

extends ../layouts/post

block body
  div.content
    p The summer holidays are in full swing, and WOW what a summer we’re having! Holiday Club is bigger, better and more popular than ever! So popular that we welcome a brand new play worker Eden to our team to accommodate this year’s high demand! We've added more spaces, so please logon to #[a(href='https://libacura.co.uk') Libacura] to view availability and book.
    
    div.content__gallery
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-08-20_11-45-00.jpg'))
      div.content__gallery-item(style='flex: 3')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-08-20_11-45-01.jpg'))
      div.content__gallery-item(style='flex: 2')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2017-08-20_11-45-02.jpg'))
          
    p The summer kicked off with a #[a(href='https://www.facebook.com/coopsparks/posts/1377731795629089') Pirate themed week]. Shiver me timbers! what a fab trip we had walking the plank with Pirate Pete and learning all about the historic harbourside. The Taningua children got to experience the awesome bird’s eye view of Bristol from the crow's nest when they #[a(href='https://www.facebook.com/coopsparks/posts/1381551815247087') climbed the rigging of the SS Great Britain].
    p During ‘Farm Week’ we got up close and personal with nature, and had plenty of cooking and forest school activities. The Taningua Club learnt about bushcraft during their day trip to Kingscott Farm.
    p ‘India Week’ was all about vibrant colours and amazing aromatic spices! We cooked yummy curries, created beautiful henna art and enjoyed a bedazzling #[a(href='https://www.facebook.com/coopsparks/posts/1386822171386718') mandala workshop].
    p Week five is ‘Fantasy Week’ where we will enjoy plenty of magical, fantastical antics including an Alice in Wonderland tea party and a trip to an adventure playground! 
    p Finally, ‘Woodland Week’ will see nature adventures at Leigh Woods and plenty of forest school fun, including mud kitchens, fire building and a woodland banquet, and of course it wouldn't be Sparks Holiday Club without loads of face painting!
    p Check out our #[a(href=assetUrl('files/holiday-club-summer-2017-programme.pdf')) day by day programme] to see what we have planned, and log on to #[a(href='https://libacura.co.uk') Libacura] to check for availability and book! Make 2017 the best summer ever!!
