---
title: What’s Happening in Bristol for Children during May Half Term 2018?
summary: Our next Holiday Club will be during the summer holidays, so here we’ve rounded-up all the fun activities May Bristol has to offer for the May Half-Term.
description: Our next Holiday Club will be during the summer holidays, so here we’ve rounded-up all the fun activities May Bristol has to offer for the May Half-Term.
date: 2018-05-17
---

extends ../layouts/post

block body
  div.content
    img.content__image.content__image--float(src=assetUrl('images/photos/2017-05-17_23-00-00.jpg'))
    p Our next #[a(href=pageUrl('clubs/holiday-club.pug')) Holiday Club] will be during the summer holidays, so here we’ve rounded-up all the fun activities May Bristol has to offer for the May Half-Term. We’ve made it easy for you to see exactly what’s going on, when and how much it’ll cost.
    p Here’s our pick of the top things to do to entertain your little ones, and guarantee they make the most of the upcoming week off school... 

    section
      h2
        a(href='https://www.avonvalley.co.uk/') Air Bouncer’s Big Bounce Opening
      h4
        time 26th May 11am - 6pm
      address Avon Valley Adventure and Wildlife Park 
      p Kick start the half term with a big bounce! Avon Valley are unveiling their huge air pillows, one for the small children and another for the bigger bouncers. The event will bounce off with a ribbon cutting at 11am. Check out their #[a(href='https://www.facebook.com/events/1867447700221635/') Facebook page] for more information. 

    section
      h2
        a(href='https://www.facebook.com/events/223656761520448/') Story time and book signing at Ashton Court Mansion 
      h4
        time 29th May 10:30am - 11:15am  
      div For 3 - 7 year olds
      p Author Jack Jacob will be reading his book Pillow Fight Night, followed by Q&A’s and a colouring activity. The event is free but booking is necessary. Visit the Ashton Court #[a(href='https://www.facebook.com/events/223656761520448/') Facebook page] for more info. 

    section
      h2
        a(href='https://bristol-cathedral.co.uk/whats-on/crafty-cathedral-6') Crafty Cathedral 
      h4
        time 30th May 10am - 12pm 
      div FREE, donations welcome
      p
        | Family arts and craft morning for under 11’s from 10-12 at Bristol Cathedral. Explore the cathedral with trails and tours as well as getting crafty. 
        br
        | No booking necessary, just pop in. 

    section
      h2
        a(href='https://visitbristol.co.uk/whats-on/crane-rides-at-m-shed-p2450733') Crane Rides at M Shed
      h4
        time 2nd - 3rd June 
      ul
        li Electric cranes – £2
        li Fairbairn steam crane – free, but donations welcome.
        li Experience a working steam crane and learn about the role they played in the working docks. No booking necessary. 

    section
      h2
        a(href='http://aerospacebristol.org/') Aerospace Bristol 
      h4
        time 10am - 5pm, every day
      p
        | Learn all about the history of aviation and step aboard the ‘Concorde Alpha Foxtrot’. Designed and built in Bristol, the Alpha Foxtrot was the last concorde ever to fly!
        br
        | No booking necessary. 
        br
        | A great day out for the whole family! For more information visit #[a(href='http://aerospacebristol.org/') aerospacebristol.org]. 

    section
      h2
        a(href='https://www.facebook.com/events/171204066827871/') Love your Zoo Week at Noah’s Ark Zoo Farm 
      h4
        time 10:30am, May 26th - 2nd June
      address Clevedon Road, Wraxall, North Somerset
      p
        | There’s heaps of exciting things going on at Noah’s Ark Zoo Farm to celebrate BIAZA’S Love Your Zoo Week. 
        br
        | Heart Trail - find hidden hearts in the animal enclosures for the chance to win an animal adoption. 
        br
        | Daily workshops and keeper talks to learn about the importance of Zoos. 
        br
        | Photo and colouring competitions to win a keeper experience! 
        br
        | Visit #[a(href='https://www.facebook.com/pg/noahsarkzoo/about/?ref=page_internal') Noah’s Ark Zoo Farm’s Facebook page to find out more]. 

    section
      h2
        a(href='https://www.facebook.com/SPACE.TheIsland/') Children’s Sewing Workshop @ Space 
      h4
        time 10am - 3pm, Thursday 31st May
      div £25 for the day
      p A day of creative sewing for children of all abilities. Beginners will learn how to use a sewing machine and make a simple first project like a patchwork cushion or tote bag. Sightly more experienced sewers can make a pencil case, bunting or a drawstring bag. You’ll find Space at 6 West Street in St Philips. Visit the #[a(href='https://www.facebook.com/events/567431880304886/') Space Facebook page] for more info.   

    section
      h2
        a(href='https://www.facebook.com/events/1942436999401908/') We The Curious ‘Back to the Future’ Outdoor Screening
      h4
        time 7pm, 1st June
      div FREE
      p
        | The Big Screen on Millenium Square
        br
        | Free outdoor screening of the 80s classic ‘Back to the Future’. Limited seating available so get there early to nab a deck chair or bring your own picnic blanket and sit on the floor! 

    section
      h2
        a(href='http://www.ssgreatbritain.org/') Brunel’s SS Great Britain
      h4
        time 10am - 6pm, 26th May - 2nd June
      div Ticket prices vary #[a(href='https://www.ssgreatbritain.org/your-visit/tickets') buy online and save 5%]
      p
        | The SS Great Britain has lots of exciting exhibits this half term including 
        br
        | ‘Brunel’s Cabinet of Curiosities’. See some of Brunel’s personal possessions and learn about Victorian life. 
        br
        | ‘Collage Your Own Exhibit’ a fun activity for the whole family, what would you put in your own cabinet of curiosities? 
        br
        | ‘Climb the Rigging’ one of our Taningua clubbers favourite treats is to Climb the rigging of the SS Great Britain! During half term under 18’s can climb aloft for no extra cost! Over 18’s pay £10 extra. 
        br
        | Volunteers dressed in Victorian attire bring history to life! 

    p Let us know what you end up getting up to during May Half Term by sharing your photos with us on Facebook. We’ve been busy planning a fun-packed Summer Holiday Club and Taningua club. Bookings for our summer clubs open on 22nd June, book before 6th July to recieve 10% discount! 
    p You can also receive a free session for your child for each friend you refer. For more info on our #[a(href='https://www.facebook.com/search/top/?q=Sparks%20Play%20%26%20Care%20refer%20a%20friend') refer-a-friend special offer CLICK HERE].
