---
title: Why Bristol is a great place for children
summary: Many parents face the dilemma over whether to raise their children in the countryside or city, but we think Bristol offers the best of both worlds.
description: Many parents face the dilemma over whether to raise their children in the countryside or city, but we think Bristol offers the best of both worlds.
date: 2018-03-14
---

extends ../layouts/post

block append foot
  include ../includes/zoom-image

block body
  div.content
    p Many parents face the dilemma over whether to raise their children in the countryside or city, but we think Bristol offers the best of both worlds, and it’s clear to see why our fair city topped #[a(href='https://www.thetimes.co.uk/article/bristol-best-places-to-live-2017-9fkfg7p8f') The Sunday Times Best Place to Live Guide 2017]!
    p Here’s why growing up in Brizzle is gert lush!
    
    div.content__gallery
      div.content__gallery-item(style='flex: 5')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2018-03-14_14-20-00.jpg'))
      div.content__gallery-item(style='flex: 7')
        img.content__gallery-image.js-zoom(src=assetUrl('images/photos/2015-05-28_12-20-01.jpg'))

    section
      h2 Parks
      p There’s so much green open space in Bristol! Wherever you are, you’re always within walking distance of wildlife and countryside, lending plenty of opportunities for your children to experience #[a(href=pageUrl('blog/risky-play-why-we-encourage-children-to-challenge-themselves.pug')) risky-play]. Our favourite parks for play are:
      ul
        li #[a(href='https://www.bristol.gov.uk/museums-parks-sports-culture/st-andrews-park') St Andrews Park]
        li #[a(href='https://visitbristol.co.uk/things-to-do/felix-road-adventure-playground-p2330093') Felix Road Adventure Playground]
        li #[a(href='https://www.bristol.gov.uk/museums-parks-sports-culture/brandon-hill') Brandon Hill]
        li #[a(href='https://www.bristol.gov.uk/museums-parks-sports-culture/victoria-park') Victoria Park]
      p We also love #[a(href='https://en.wikipedia.org/wiki/The_Downs,_Bristol') The Downs] and #[a(href='https://www.bristol.gov.uk/museums-parks-sports-culture/ashton-court-estate') Ashton Court Estate] for their breathtaking views and wide open spaces, perfect for walks and picnics.

    section
      h2 Diversity and independence 
      p Bristol children can experience delicious foods from all around the world, and learn about other cultures without leaving their neighbourhood thanks to our independent and diverse high streets. #[a(href='https://en.wikipedia.org/wiki/Gloucester_Road,_Bristol') Gloucester Road] boasts the longest stretch of independent shops and eateries in the whole UK! 

    section
      h2 Family Days Out
      p Bristolian children are incredibly lucky to have #[a(href='http://www.bristolzoo.org.uk/') Bristol Zoo Gardens] on their doorstep! During February half-term #[a(href=pageUrl('clubs/holiday-club.pug')) Holiday Club], we enjoyed a Discovery Day at the Zoo where we were allowed to hold some of the insects and animals! 
      p Bristol also has fantastic city farms in #[a(href='https://www.windmillhillcityfarm.org.uk/') Windmill Hill] and #[a(href='http://www.swcityfarm.co.uk/') St Werburghs], which offer a great way to learn about farming, gardening and wildlife. They’re also beautiful spots for picnics. 
      p #[a(href='https://www.avonvalley.co.uk/') Avon Valley Adventure and Wildlife Park] is an amazing family day out! With its indoor soft play areas, craft rooms and mini cinema, there’s plenty to do on a rainy day. There’s also a big adventure playground with a virtually vertical slide as high as a house, perfect for children to experience risky play! They have loads of farm animals from Llamas to unicorns! (Okay, they’re actually Shetland ponies with rainbow hair dye, but don't tell the children!) 
      p We could happily spend many summer days enjoying #[a(href='https://www.bristol.gov.uk/museums-parks-sports-culture/blaise-castle-estate') Blaise Castle!] There’s a large play area, a cafe, a museum and beautiful meadows to wander around. Take a walk through the 650 acres of parkland and woods, and explore the castle for free.   
      p What we love about #[a(href='https://www.nationaltrust.org.uk/leigh-woods') Leigh Woods] is that you can be in the city centre one minute, and then a short walk transports you to beautiful woodland with cliffs and ancient trees. It’s a great place for a family cycle ride or nature walk. 

    section
      h2 Museums
      p With its rich history, Bristol has some superb museums, so you’re never short of family outing destinations when the weather’s bad.
      p We have an exciting science museum on MIllennium Square called #[a(href='https://www.wethecurious.org/') We The Curious]. There’s so many interactive activities, you’ll want to go back several times to fit them all in! 
      p You can marvel at the stunning interior of #[a(href='https://www.bristolmuseums.org.uk/bristol-museum-and-art-gallery/') Bristol Museum and Art Gallery] while your under 5’s enjoy the play area. The exhibitions are really good too! 
      p You can spend a day exploring the historic harbourside, learning about the docks and Bristol’s pirates! Climb aboard #[a(href='http://www.ssgreatbritain.org/') The SS Great Britain] and ride the #[a(href='http://www.bristolpacket.co.uk/boat-trips.html') Bristol Packet ferry] back to the centre. 
      p Visit the #[a(href='https://www.bristolmuseums.org.uk/m-shed/') M Shed] where your children can learn the history of their home city through interactive displays and even hop on a vintage double decker bus! Outside the M Shed, you can also take a ride on a real Steam Train! (Check dates #[a(href='https://www.bristolmuseums.org.uk/m-shed/whats-on/train-rides/') here]!) 

    section
      h2 Street Art
      p As the birthplace of world famous artist Banksy, Bristol embraces graffitti (provided you get permission!). We even have an annual festival to celebrate it - #[a(href='https://www.upfest.co.uk/') Upfest] in Southville and Bedminster, where crowds gather to watch artists create beautiful murals on buildings. 
      p If you don’t make it to the actual festival, the masterpieces stay up for a whole year (before being painted over by another artist), so an arty trip south of the river is always fun.

    section
      h2 Festivals Galore
      p Bristol has some amazing family-friendly festivals. Annual highlights include: 
      ul
        li #[a(href='http://www.bristolballoonfiesta.co.uk/') Bristol Balloon Fiesta]
        li #[a(href='http://stpaulscarnival.co.uk/') St Paul’s Carnival]
        li #[a(href='http://bristolharbourfestival.co.uk/') The Harbour Festival]
      p However, there’s barely a weekend that goes by without some kind of festival during the summer months, which means loads of free and affordable family days out and entertainment! 

    section
      h2 The Seaside
      p You can be sat on the beach within 40 minutes! Weston-Super-Mare is sooo close to Bristol and it provides all the traditional seaside activities like donkey rides, a carousel, a big wheel and a pier with arcades and rides. 
      p The Bristol Post recently published an article identifying #[a(href='https://www.bristolpost.co.uk/whats-on/family-kids/best-beaches-hours-drive-bristol-1282') 13 beautiful beaches just one hour drive away from Bristol]. We’ll no doubt be visiting one of these during our next Summer Holiday Club!
    
    p Finally, it’s important to mention that the city has TWO excellent Universities, so your little ones will never have to leave!
