* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  text-size-adjust: 100%;
}

img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  color: #444;

  td, th {
    font-size: 19px;
    line-height: 1.5;
    padding: 10px;
    text-align: left;
    border: 1px solid #aaa;
  }
}
