* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: map-get($colors, footer);
  font-family: 'Asap', sans-serif;
  text-size-adjust: 100%;
}

img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
