@font-face {
  font-family: 'Playtime With Hot Toddies';
  font-style: normal;
  font-weight: 400;
  src: local('Playtime With Hot Toddies'),
       asset-url('fonts/playtime.woff2') format('woff2'),
       asset-url('fonts/playtime.woff') format('woff');
}
