@font-face {
  font-family: 'Playtime With Hot Toddies';
  font-style: normal;
  font-weight: 400;
  src: local('Playtime With Hot Toddies'),
       url(/fonts/playtime.woff2) format('woff2'),
       url(/fonts/playtime.woff) format('woff');
}
