$colors: (
  footer: rgb(0, 65, 65),
  header: rgb(255, 190, 0),
  header-grade: rgb(255, 215, 0),
  blue: rgb(0, 160, 150),
  pink: rgb(255, 0, 70),
  purple: rgb(52, 0, 60),
  purple-grade: rgb(250, 215, 255)
);

$breakpoints: (
  small: 540px,
  medium: 760px,
  large: 820px
);
