---
title: After School Club
---

extends ../layouts/index

block content
  main.main
    div.main__container
      h1 After School Club
      p After School Club is where kids come to have fun and wind down after a busy day at school. It’s our most-loved club and has been providing after school care since 1982. We now have up to 65 children a day with 8 trained playworkers to support them.

      h2 What to expect
      p Most children are collected at the end of their school day from their classrooms. Infants from Sefton Park are collected from their classrooms by a playworker and juniors make their own way to Sparks. All children from Brunel Field and St Barnabas schools are collected from their classrooms and escorted back to the terrapin wearing Hi Vis jackets.
      p After arriving at Sparks children have the option of a healthy snack. Choices include things like toast, crumpets, wraps, rice cakes, cheese and crackers, variety of spreads and raw vegetables and fruit, juice and/or water*. They’re then free to get stuck in to an evening of play… or rest!
      p The evening play session is loosely planned around children’s play needs and this can be adapted according to their preferences. There is usually one planned craft, cooking, outside and early years activity led by a playworker. Sparks have loads of play resources for children to choose from and they are free to do the things they would like to do. Tidy Up time is at 17:30 and all children are expected to participate.
      p
        em *Let us know about any dietary requirements and we will be happy to accommodate them. #[a(href=pageUrl('about/register.jade')) Visit our Registration page for more information].

      h2 Things to do
      ul
        li Arts & crafts
        li Cooking
        li Den building
        li Dressing up
        li Sewing
        li Outdoor play: scootering, tennis, football
        li Toys & boardgames
        li Trips to St Andrews Park and Narroways
        li Computers (on a rota)
        li Television (a choice of films to end the day)

      h2 What to bring
      p Some things to remember to bring to Sparks from school or home…
      ul
        li Weather appropriate clothing (coats, hats, gloves)
        li Book bag
        li School bag
        li Medication*
      p
        em *We must have written permission from a parent or guardian to supply medication.

      h2 Times & prices
      table
        thead
          tr
            th Session
            th Price per child
        tbody
          tr
            td 15:30 – 18:00
            td £10.00
      p
        em Children must be picked up from Sparks by 18:00 at the very latest to avoid a fee.

      h2 Register with us
      p At After School Club we accept children from Sefton Park, Brunel Field and St Barnabas schools.
      a Register now
