---
title: Breakfast Club
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1 Breakfast Club
          p Breakfast Club was set up in 2004 and is ever-growing with more and more parents starting work earlier. We run before school from 07:30 to 08:45.

        section
          h2 What to expect
          p We provide a variety of breakfast items ranging from cereal, toast, fruit, yogurt, waffles and pancakes. Children are never made to have something to eat, just encouraged to know that breakfast is the most important meal of the day and without it, the brain cannot function and learn properly.

        section
          h2 Things to do
          p As there is only a short time between the time the children arrive and the time that they go to school, so we do not offer a set activity like we do in After School Club. A range of simple, fun things are on offer such as drawing, junk modelling, reading, playing with toys, playing on the computer or going outside.
          p Tidy Up time is at 08:20 after which everyone gets ready to walk to school, to be there by their expected start time.

        section
          h2 Times & prices
          table.main__table
            thead
              tr
                th Session
                th Price per child
            tbody
              tr
                td 07:30 – 08:45
                td £4.50

        section
          h2 Register with us
          p At Breakfast Club we accept children from Sefton Park, Brunel Field and St Barnabas schools.
          a.content__cta(href=pageUrl('about/registration-booking.jade')) Register now
