---
title: Breakfast Club
---

extends ../layouts/index

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2016-01-12_15-45-45.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Breakfast Club
          p.intro__body Breakfast Club was set up in 2004 and is ever-growing with more and more parents starting work earlier. We run before school from 07:30 to 08:45.
        div.intro__secondary
          img.intro__badge(src=assetUrl('images/munch-flakes.png'))

    div.main__container
      div.content
        section
          h2 What to expect
          p We provide a variety of breakfast items ranging from cereal, toast, fruit, yogurt, waffles and pancakes. Though children are never made to have something to eat, they’re reminded that breakfast is the most important meal of the day and without it, the brain cannot function and learn properly.

        section
          h2 Things to do
          p As there is only a short time between the time the children arrive and the time that they go to school, so we do not offer a set activity like we do for After School Club. We do however still have range of simple, fun things are on offer such as drawing, junk modelling, reading, playing with toys, playing on the computer or going outside.
          p Tidy Up time is at 08:20 after which everyone gets ready to walk to school to be there by their expected start time.

        section
          h2 Times & prices
          table.main__table
            thead
              tr
                th Session
                th Price per child
            tbody
              tr
                td 07:30 – 08:45
                td £4.50
          a.content__cta(href='mailto:coopsparks@gmail.com?subject=Breakfast Club booking') Make a booking

        section
          h2 Register with us
          p At Breakfast Club we accept children from Sefton Park, Brunel Field and St Barnabas schools.
          a.content__button(href=pageUrl('about/registration-booking.jade')) Register now
