---
title: Holiday Club
---

extends ../layouts/index

block content
  main.main
    div.main__container
      h1.main__heading Holiday Club
      p.main__body Holiday Club was established in 2003 to provide all-day care for 3 to 14 year olds during the school holidays. We have loads of themed activities and fun-packed trips to keep your children busy during their time off.

      h2.main__subheading Things to do
      p.main__body Each week at Holiday Club is planned around a theme so that children get to experience new things. Some of our previous themes have been Bollywood, Vintage Sports, Circus and Chinese New Year.
      ul.main__body
        li Arts & crafts
        li Cooking
        li Den building
        li Dressing up
        li Sewing
        li Outdoor play: skateboarding, rollerblading, scootering, tennis, football
        li Toys & boardgames
        li Trips to places near and far
        li Computers (on a rota)
        li Television (a choice of films to end the day)

      h2.main__subheading What to bring
      p.main__body Some things to remember to bring to Holiday Club…
      ul.main__body
        li Packed lunch with a drink
        li Weather appropriate clothing (coats, hats, gloves)
        li Change of clothing and wellies
        li Swimming costume
        li Spending money (optional)
        li Medication*
      p.main__body Please get in touch or refer to our latest Holiday Club programme for the latest information on what to bring for your chosen sessions.
      p.main__body
        em *We must have written permission from a parent or guardian to supply medication.

      h2.main__subheading Times & prices
      table.main__table
        thead
          tr
            th Session
            th Price per child
        tbody
          tr
            td 08:15 – 17:45
            td £31.00
          tr
            td 08:15 - 13:00
            td £15.50
          tr
            td 13:00 - 17:45
            td £15.50
          tr
            td 09:00 - 15:30
            td £22.00
      p.main__body
        strong N.B. There is a £7.50 supplement for trip days
      p.main__body
        em Children must be picked up from Sparks by 17:45 at the very latest to avoid a fee.

      h2.main__subheading Register with us
      p.main__body We have places for all children aged 4 to 14 in the February, Easter, Summer and October school holidays.
      a Register now
