---
title: Holiday Club
---

extends ../layouts/index

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2015-10-22_11-17-44.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Holiday Club
          p.intro__body Holiday Club was established in 2003 to provide all-day care for 3 to 14 year olds during the school holidays. We have loads of themed activities and fun-packed trips to keep your children busy during their time off.
        div.intro__secondary
          div.intro__badge
            div.intro__badge-wrap
              img.intro__badge-image(src=assetUrl('images/cooking.png'))

    div.main__container
      div.content
        section
          h2 What to expect
          p We offer an environment where children can play freely – inside or out. We host a number of planned activities each day which children can choose from.
          p Holiday Club welcomes children from all over Bristol. This provides a great opportunity for children to catch up with old friends and make new ones.

        section
          h2 Things to do
          p Each week at Holiday Club is planned around a theme so that children get to experience new things. Some of our previous themes have been Bollywood, Vintage Sports, Circus and Chinese New Year.
          ul
            li Arts & crafts
            li Cooking
            li Den building
            li Dressing up
            li Sewing
            li Outdoor play: skateboarding, rollerblading, scootering, tennis, football
            li Toys & boardgames
            li Trips to places near and far
            li Computers (on a rota)
            li Television (a choice of films to end the day)

        section
          h2 What to bring
          p Some things to remember to bring to Holiday Club…
          ul
            li Packed lunch with a drink
            li Weather appropriate clothing (coats, hats, gloves)
            li Change of clothing and wellies
            li Swimming costume and towel
            li Spending money (optional)
            li Medication*
          p Please get in touch or refer to our latest Holiday Club programme for the latest information on what to bring for your chosen sessions.
          p
            em *We must have written permission from a parent or guardian to supply medication.

        section
          h2 Dates
          p Our Holiday Club dates for 2016 are as follows:
          ol
            li February – Feb 8th to Feb 12th
            li Easter – Mar 30th to Apr 8th
            li May – not operating
            li Summer – Jul 25th to Aug 26th
            li October – Oct 24th to Oct 28th

        section
          h2 Sessions & prices
          table
            thead
              tr
                th Session
                th Price per child
            tbody
              tr
                td 08:15 – 17:45
                td £31.00
              tr
                td 08:15 - 13:00
                td £15.50
              tr
                td 13:00 - 17:45
                td £15.50
              tr
                td 09:00 - 15:30
                td £22.00
          p
            strong N.B. There is a £7.50 supplement for trip days
          p
            em Early Bird bookings made up to two weeks before the holidays receive a discount of 10%.
          p
            em Children must be picked up from Sparks by 17:45 at the very latest to avoid a fee.
          p Bookings can be made via your #[a(href='https://libacura.co.uk/fd/login/') Libacura account]. You can also make bookings via email by clicking the link below.
          a.content__cta(href='mailto:coopsparks@gmail.com?subject=Holiday Club booking') Make a booking

        section
          h2 Register with us
          p We have places for all children aged 4 to 14 in the February, Easter, Summer and October school holidays.
          a.content__button(href=pageUrl('about/registration-booking.jade')) Register now
