---
title: Sparkan Foragers
---

extends ../layouts/index

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2013-04-04_14-01-58.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Sparkan Foragers
          p.intro__body At Sparks we are always looking for ways to give the children new experiences. Sparkan Foragers was formed in 2012 to give children the opportunity to try outdoor play with a focus on learning about nature.
        div.intro__secondary
          div.intro__badge
            div.intro__badge-wrap
              img.intro__badge-image(src=assetUrl('images/explorer.png'))

    div.main__container
      div.content
        section
          p Forest School/Nature Nurseries have been an integral part of early years education in Scandinavia since the 1950s. The philosophy was based on a desire to provide children with an education which encouraged appreciation of the wide, natural world and which would encourage responsibility for nature conservation later in life.

        section
          h2 What to expect
          img.content__image.content__image--float(src=assetUrl('images/photos/2015-05-05_17-07-36.jpg'))
          p We decided to call our Forest School Sparkan Foragers. We use the outdoor environment to help children learn about the outside world. Children are encouraged to develop independence skills, improve their decision-making and raise their self esteem through small achievable tasks. All learning is child led.

        section
          h2 Things to do
          ul
            li Fire making
            li Using tools and looking after them
            li Writing a journal
            li Campfire cooking
            li Shelter building
            li Using ropes and tying knots

        section
          h2 How to attend
          p Sparkan Foragers courses are run during term time alongside After School Club between March and October. For times and prices, or to make a booking, please refer to our #[a(href=pageUrl('clubs/after-school-club.pug')) After School Club] page.
