---
title: Sparken Foragers
---

extends ../layouts/index

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2013-04-04_14-01-58.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Sparken Foragers
          p.intro__body At Sparks we are always looking for ways to give the children new experiences and Carole was fortunate enough to be offered a place on the Level 3 OCN Forest School Leader course in March 2011. Carole started the first course in the grounds of Ashley House in 2012.
        div.intro__secondary
          img.intro__badge(src=assetUrl('images/explorer.png'))

    div.main__container
      div.content
        section
          p Forest School/Nature Nurseries have been an integral part of early years education in Scandinavia since the 1950s. The philosophy was based on a desire to provide children with an education which encouraged appreciation of the wide, natural world and which would encourage responsibility for nature conservation later in life.

        section
          h2 What to expect
          p We decided to call our Forest School Sparkan Foragers. We use the outdoor environment to help children learn about the outside world. Children are encouraged to develop independence skills, improve their decision-making and raise their self esteem through small achievable tasks. All learning is child led. We have two friends that feature in our logo that join us on our adventures: our two friendly puppets named Spar the Fox and Kan the Badger.

        section
          h2 Things to do
          ul
            li Fire making
            li Using tools and looking after them
            li Writing a journal
            li Campfire cooking
            li Shelter building
            li Using ropes and tying knots

        section
          h2 How to attend
          p Sparken Foragers courses are run during term time alongside After School Club between March and October. For times and prices, or to make a booking, please refer to our #[a(href=pageUrl('clubs/after-school-club.jade')) After School Club] page.
