---
title: Taningua
---

extends ../layouts/index

block content
  main.main
    div.intro.intro--badge.intro--background(style=backgroundImageStyle('images/photos/2013-08-06_13-49-46.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Taningua
          p.intro__body Taningua is Sparks’ new club created for Big Sparks and teenagers aged 9-14 years in 2012. The club gives the older children at Sparks the opportunity to hang out with children their age and participate in more challenging and stimulating activities geared around this age group.
        div.intro__secondary
          div.intro__badge
            div.intro__badge-wrap
              img.intro__badge-image(src=assetUrl('images/cooking.png'))

    div.main__container
      div.content
        section
          h2 What to expect
          p Taningua was set up by the older children as they were bored with normal holiday activities. The name ‘Taningua’ is Icelandic for teenager and this club mainly runs in the Summer holidays. Taningua runs on the same premises as Sparks Holiday club but mainly the young people go out and about to do their exciting activities. Please see list below for examples of activities that we have planned and run over the last couple of years. Taningua can be booked through Libacura when available.

        section
          h2 Things to do
          ul
            li Archery
            li Gorge walking
            li Mountain biking
            li High & low ropes
            li Raft building
            li Cookery Master Classes
            li Bushcraft
            li Craft workshops
            li Swimming
            li Pottery
            li Caving
            li Digital photography
            li Paintballing

        section
          h2 What to bring
          p Some things to remember to bring to Taningua…
          ul
            li Packed lunch with a drink
            li Spare clothes for certain activities
            li Swimming costume and towel
            li Medication*
          p
            em *We must have written permission from a parent or guardian to supply medication.

        section
          h2 Sessions & prices
          p Taningua is run as part of Holiday Club in Easter, Summer and October school holidays.
          table
            thead
              tr
                th Session
                th Price per child
            tbody
              tr
                td 08:15 – 17:45
                td £38.50
          p Bookings can be made via your #[a(href='https://libacura.co.uk/fd/login/') Libacura account]. You can also make bookings via email by clicking the link below.
          a.content__cta(href='mailto:coopsparks@gmail.com?subject=Taningua booking') Make a booking
