@mixin body {
  font-size: 17px;
  line-height: 1.5;
  color: #444;

  @include bp-min-small {
    font-size: 19px;
  }

  @include bp-min-medium {
    font-size: 20px;
  }
}

@mixin body--small {
  font-size: 17px;

  @include bp-min-small {
    font-size: 19px;
  }

  @include bp-min-medium {
    font-size: 19px;
  }
}
