@mixin heading {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #111;
}

@mixin heading--primary {
  font-size: 22px;

  @include bp-min-small {
    font-size: 26px;
  }

  @include bp-min-medium {
    font-size: 32px;
  }
}

@mixin heading--secondary {
  font-size: 20px;

  @include bp-min-small {
    font-size: 24px;
  }

  @include bp-min-medium {
    font-size: 28px;
  }
}

@mixin heading--tertiary {
  font-size: 18px;

  @include bp-min-small {
    font-size: 22px;
  }

  @include bp-min-medium {
    font-size: 24px;
  }
}

@mixin heading--quaternary {
  font-size: 18px;

  @include bp-min-small {
    font-size: 20px;
  }
}

@mixin heading--divider {
  text-align: center;
  background: data-url('images/border.svg') center center no-repeat;
  background-size: 100% 5px;

  span {
    padding: 0 1em;
    background-color: #fff;
  }
}
