@mixin tiles {
  @include bp-min-small {
    @supports (not (display: grid)) and (not (grid-gap: 3em)) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @supports (display: grid) and (grid-gap: 3em) {
      display: grid;
      grid-gap: 3em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 3em 0;
      justify-items: center;
    }
  }
}

@mixin tiles__item {
  text-align: center;

  @include bp-max-small {
    & + & {
      margin-top: 30px;
    }
  }

  @include bp-min-small {
    @supports (not (display: grid)) and (not (grid-gap: 3em)) {
      width: 50%;
      padding: 20px;
    }
  }

  @include bp-min-medium {
    @supports (not (display: grid)) and (not (grid-gap: 3em)) {
      width: 33.33%;
    }
  }
}

@mixin tiles__image {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: auto;
}

@mixin tiles__heading {
  @include heading;
  @include heading--tertiary;
  margin: 0;
  margin-top: .6em;
}

@mixin tiles__description {
  @include body;
  margin: .5em 0;
}
