---
title: Contact us
---

extends ../layouts/about
include ../mixins/location

block body
  main.main
    div.main__container
      div.content
        h1=title
        p Sparks operates at a number of locations so that we can provide the widest range of childcare.

      section
        ul.location-list
          li.location-list__item
            +location(locations.office, 'images/photos/2018-08-23_22-30-00.jpg')
          li.location-list__item
            +location(locations.fairlawn, 'images/photos/2016-11-14_15-22-07.jpg', true)
          li.location-list__item
            +location(locations.dolphin, 'images/photos/2017-08-28_11-52-00.jpg', true)
          li.location-list__item
            +location(locations.charltonwood, 'images/photos/2019-06-23_21-52-00.jpg', true)
