---
title: About Sparks
---

extends ../layouts/index

block content
  main.main
    div.main__container
      h1 About Sparks
      p Sparks Play & Care cares for school children aged 3 to 14 years in Bristol. Sparks Co-operative Ltd is managed by a team of playworkers as a workers’ co-operative and is a company limited by guarantee. Our team of passionate and qualified playworkers work together to provide a variety of clubs during term time and holidays.
      p At Sparks we provide a safe and flexible environment for children that offers a wide range of fun and stimulating play opportunities to aid their growth and development. We enable them to experiment and express themselves, but most of all… to have fun!!
      p We value individuality and diversity and are proud to provide an equal-opportunity setting. We are committed to maintaining a supportive, friendly and inclusive environment for all.
      p All of our regular staff are trained playworkers with necessary DBS checks. We are also fully registered with Ofsted.

      h2 Our background
      p In April 2005 Sparks Play & Care became Bristol’s first ever childcare workers’ co-operative after taking over the existing after school club which had been run by a committee of parents. We set out to provide a variety of services that could meet and respond to the needs of local families. This is achieved this by offering flexible, safe and affordable childcare that families know they can count on.
      p Our clubs present opportunities to children that are second to none which really make a difference to their lives. We offer creative wrap-around care where children play, take risks and are kept safe.
      p There are currently 142 families actively using Sparks’ services for 205 children. We have an excellent track record in supporting families with additional needs as we run an inclusive play setting.

      h2 Our principles
      p Sparks underpins all of its work with an a ethical code drawn up by Play Wales called #[a(href='//www.playwales.org.uk/eng/playworkprinciples') The Playwork Principles]. These eight principles have been endorsed nationally as good practice for all playworkers by SkillsActive and Ofsted.
      ol
        li All children and young people need to play. The impulse to play is innate. Play is a biological, psychological and social necessity, and is fundamental to the healthy development and well being of individuals and communities.
        li Play is a process that is freely chosen, personally directed and intrinsically motivated.  That is, children and young people determine and control the content and intent of their play, by following their own instincts, ideas and interests, in their own way for their own reasons.
        li The prime focus and essence of playwork is to support and facilitate the play process and this should inform the development of play policy, strategy, training and education.
        li For playworkers, the play process takes precedence and playworkers act as advocates for play when engaging with adult led agendas.
        li The role of the playworker is to support all children and young people in the creation of a space in which they can play.
        li The playworker's response to children and young people playing is based on a sound up to date knowledge of the play process, and reflective practice.
        li Playworkers recognise their own impact on the play space and also the impact of children and young people's play on the playworker.
        li Playworkers choose an intervention style that enables children and young people to extend their play.  All playworker intervention must balance risk with the developmental benefit and well being of children.
