---
title: About
---

extends ../layouts/index

block content
  main.club
    div.club__container
      h1.club__heading About
      p.club__body Sparks Play & Care provides out of school care for children aged 3 to 14 years in Bristol. With our team of passionate and qualified playworkers we run a variety of clubs during term time and holidays.
      p.club__body At Sparks we provide a safe and flexible environment for children that offers a wide range of fun and stimulating play opportunities to aid their growth and development. We enable them to experiment and express themselves, but most of all… to have fun!!
      p.club__body We value individuality and diversity and are proud to provide an equal-opportunity setting. We are committed to maintaining a supportive, friendly and inclusive environment for all.
      p.club__body All of our regular staff are trained playworkers with necessary DBS checks. We are also fully registered with Ofsted.

      h2.club__subheading Our background
      p.club__body In April 2005 Sparks Play & Care became Bristol’s first ever childcare workers’ co-operative aimed at providing a variety of services to meet and respond to the needs of local families.
