---
title: About Sparks
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1 About Sparks
          p #[span.content__nowrap Sparks Play & Care] cares for school children aged 3 to 14 years in Bristol. Our family of passionate and qualified playworkers work together to provide a variety of clubs during term time and holidays.
          p At Sparks we provide a safe and flexible environment for children that offers a wide range of fun and stimulating play opportunities to aid their growth and development. We enable them to experiment and express themselves, but most of all… to have fun!!
          p We value individuality and diversity and are proud to provide an equal-opportunity setting. We are committed to maintaining a supportive, friendly and inclusive environment for all.
          p Sparks underpins all of its work with an a ethical code drawn up by Play Wales called #[a(href='//www.playwales.org.uk/eng/playworkprinciples') The Playwork Principles]. These eight principles have been endorsed nationally as good practice for all playworkers by SkillsActive and Ofsted.
          p All of our regular staff are trained playworkers with necessary DBS checks. We are also fully registered with Ofsted.

        section
          h2 Our background
          p #[span.content__nowrap Sparks Co-operative Ltd] is managed by a team of playworkers as a workers’ co-operative and is a company limited by guarantee.
          p In April 2005 #[span.content__nowrap Sparks Play & Care] became Bristol’s first ever childcare workers’ co-operative after taking over the existing after school club which had been run by a committee of parents. We set out to provide a variety of services that could meet and respond to the needs of local families. This is achieved this by offering flexible, safe and affordable childcare that families know they can count on.
          p Our clubs present opportunities to children that are second to none which really make a difference to their lives. We offer creative wrap-around care where children play, take risks and are kept safe.
          p There are currently 142 families actively using Sparks’ services for 205 children. We have an excellent track record in supporting families with additional needs as we run an inclusive play setting.
