---
title: About Sparks
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1 About Sparks
          p #[span.content__nowrap Sparks Play & Care] cares for school children aged 3 to 14 years in Bristol. Our family of passionate and qualified playworkers work together to provide a variety of clubs during term time and holidays.
          p At Sparks we provide a safe and flexible environment for children that offers a wide range of fun and stimulating play opportunities to aid their growth and development. We enable them to experiment and express themselves, but most of all… to have fun!!
          p We value individuality and diversity and are proud to provide an equal-opportunity setting. We are committed to maintaining a supportive, friendly and inclusive environment for all.
          p Sparks underpins all of its work with an a ethical code drawn up by Play Wales called #[a(href='//www.playwales.org.uk/eng/playworkprinciples') The Playwork Principles]. These eight principles have been endorsed nationally as good practice for all playworkers by SkillsActive and Ofsted.
          p All of our regular staff are trained playworkers with necessary DBS checks. We are also fully registered with #[a(href='//reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/CARE/EY376224') Ofsted].
          a.content__cta(href='//reports.ofsted.gov.uk/provider/files/2379165/urn/EY376224.pdf') Download our latest Ofsted report

        section
          h2 Our background
          p In April 2005 #[span.content__nowrap Sparks Play & Care] became Bristol’s first ever childcare workers’ co-operative after taking over the existing After School Club which had been run by a committee of parents. From here our mission was to provide a variety of services that could meet and respond to the needs of local families. We do this by offering flexible, safe and affordable childcare that families know they can count on.
          p Our clubs present opportunities to children that are second to none which really make a difference to their lives. We offer creative wrap-around care where children play, take risks and are kept safe.
          p There are currently 142 families actively using Sparks’ services for 205 children. We have an excellent track record in supporting families with additional needs as we run an inclusive play setting.

        section
          h2 Where to find us
          div.content__location
            div.content__location-item
              div.content__location-label Main address
              address
                div The Terrapin
                div Sefton Park Schools
                div St. Bartholomews Rd
                div Ashley Down
                div Bristol BS7 9BJ
              a(href='').content__location-link See on a map
            div.content__location-item
              div.content__location-label Office address
              address
                div Sparks Co-operative Ltd
                div Unit 17
                div The Coach House
                div 2 Upper York St
                div Bristol BS2 8QN
              a(href='').content__location-link See on a map
          p For more detailed information and photos of our main premises, please see the #[a(href=pageUrl('clubs/index.jade')) Our Clubs page].

          section
            h2 Becoming part of the Sparks family
            p We welcome families from all over Bristol to come and be a part of Sparks.
            a.content__button(href=pageUrl('about/registration-booking.jade')) Register now
