---
title: Policies & procedures
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Policies & procedures
        p #[span.content__nowrap Sparks Play and Care] works to the Early Years Foundation Stage and below is a full set of policies and procedures that all staff, volunteers and children have to work within.
        p At our clubs we hope to be a partner in the shared care of your child and we believe that by keeping consistent records and using effective methods of reporting we will provide better care for your child.
        li
          li
            a(href='') Admission Policy
          li
            a(href='') Arrivals, Departures, Missing & Uncollected Children Policy
          li
            a(href='') Behaviour Management Policy
          li
            a(href='') Bullying Policy
          li
            a(href='') Child Protection Policy
          li
            a(href='') Equal Opportunities Policy
          li
            a(href='') Fire Safety Policy
          li
            a(href='') Food and Drink Policy
          li
            a(href='') Health and Safety Policy
          li
            a(href='') Health. Illness and Injuries Policy
          li
            a(href='') Information and Confidentiality Policy
          li
            a(href='') Kitchen Hygiene Policy
          li
            a(href='') Medication Policy
          li
            a(href='') Photography, Video and Mobile Phone Policy
          li
            a(href='') Physical Intervention Policy
          li
            a(href='') Site Security Policy
          li
            a(href='') Technology Policy
          li
            a(href='') Visits and Outings Policy
