---
title: Policies & procedures
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Policies & procedures
        p #[span.content__nowrap Sparks Play & Care] works to the Early Years Foundation Stage and below is a full set of policies and procedures that all staff, volunteers and children must abide by.
        p At our clubs we hope to be a partner in the shared care of your child. We believe that by keeping consistent records and using effective methods of reporting we will provide better care for your child.
        ul
          li
            a(href='') Admission
          li
            a(href='') Arrivals, Departures, Missing & Uncollected Children
          li
            a(href='') Behaviour & Bullying Management
          li
            a(href='') Child Protection
          li
            a(href='') Equal Opportunities
          li
            a(href='') Fire Safety
          li
            a(href='') Food and Drink
          li
            a(href='') Health and Safety
          li
            a(href='') Health, Illness and Injuries
          li
            a(href='') Documentation and Confidentiality
          li
            a(href='') Kitchen Hygiene
          li
            a(href='') Medication
          li
            a(href='') Photography, Electronic Devices and E-Safety
          li
            a(href='') Physical Intervention
          li
            a(href='') Site Security
          li
            a(href='') Technology
          li
            a(href='') Visits and Outings
