---
title: Privacy notice
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Privacy notice

        p At Sparks we respect the privacy of the children attending the Club and the privacy of their parents or carers. The personal information that we collect about you and your child is used only to provide appropriate care for them, maintain our service to you, and communicate with you effectively. Our legal basis for processing the personal information relating to you and your child is so that we can fulfil our contract with you and comply with GDPR-General Data Processing Regulations 2018.
        p Any information that you provide is kept secure. Data that is no longer required is erased after your child has ceased attending our Club.
        p We will use the contact details you give us to contact you via phone, email, social media and post, so that we can send you information about your child, our Club and other relevant news, and also so that we can communicate with you regarding payment of our fees.
        p We will only share personal information about you or your child with another organisation if we:
        ul
          li have a safeguarding concern about your child 
          li are required to by government bodies or law enforcement agencies
          li engage a supplier to process data on our behalf (e.g. Libacura and GoCardless)
          li have obtained your prior permission.
        p You have the right to ask to see the data that we have about yourself or your child, and to ask for any errors to be corrected. We will respond to all such requests within one month. You can also ask for the data to be deleted, but note that:
        ul
          li we will not be able to continue to care for your child if we do not have sufficient information about them
          li even after your child has left our care, we have a statutory duty to retain some types of data for specific periods of time so can’t delete everything immediately.
        p If you have a complaint about how we have kept your information secure, or how we have responded to a request to access, update or erase your data, you can refer us to the Information Commissioner’s Office (ICO).
