---
title: Registration & booking
---

extends ../layouts/about

block body
  main.main
    div.main__container
      div.content
        h1 Registration & booking

        section
          img.content__image.content__image--float(src=assetUrl('images/photos/2015-06-16_17-49-02.jpg'))
          p If you’d like to enrol your child into one of our clubs, you’ll need to register first. We welcome you to come and visit us, have a look around and meet the team beforehand. 
          p To arrange a visit, please email #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com] or call us on 0117 9244 439. 
          p Before registering, please take some time to familiarise yourself with our #[a(href=pageUrl('about/policies-procedures/index.pug')) policies and procedures], and read through our #[a(href=pageUrl('about/terms.pug')) Registration and Booking terms and conditions].

        section
          h2#registration How to register
          p Registering with Sparks is easy, and can be completed via our online booking system, #[a(href='https://libacura.co.uk') Libacura]. This is specialist software for After School clubs and playcare centres, allowing you to book sessions and make secure payments via credit or debit card.
          p We charge an annual fee of #[strong £20.00 per child] to be registered with us.
          p Once you have completed the registration form, we will be in touch to find out which clubs you wish your children to attend.
          p We offer childcare at #[a(href=pageUrl('clubs/index.pug') + '#locations') four different locations] - St Bart’s Church Hall, The Dolphin School, The Scout Hut located on St. Bartholomews road and Fairlawn School. 
          p Registration is split up into three groups. Find out which group your child needs to be registered in below.
          
        section          
          h3 Group 1 – Sefton Park and Brunel Field schools
          p If your children attend Sefton Park or Brunel Field schools you must register in Group 1.
          p
            a.content__cta(href='https://libacura.co.uk/register/sparks') Register for Group 1
          
        section
          h3 Group 2 – Fairlawn, The Dolphin and St Barnabas schools
          p If your children attend Fairlawn, The Dolphin or St Barnabas schools you must register in Group 2.
          p
            a.content__cta(href='https://libacura.co.uk/register/fairlawn') Register for Group 2
          
        section
          h3 Group 3 – Holiday Club
          p If you would like your children to attend Holiday Club, please register in Group 3. Note that if they are already registered in Group 1 or 2 you will not have to register again.
          p
            a.content__cta(href='https://libacura.co.uk/register/sparks') Register for Group 3

        section
          h2#booking Booking sessions
          
          h3 Group 1 and Group 2 – Sefton Park, Brunel Field, The Dolphin and St Barnabas schools
          p Once you have registered with Libacura you will be able to make your own bookings. Booking is open on the 15th of each month for the following month. E.g. bookings for September 2018 are made starting 15th August 2018.
          p Unfortunately we cannot guarantee places every month, so we do encourage you to book in as early as possible to avoid disappointment. You will receive email notification from Sparks on the 15th of each month to let you know that the bookings are open.
          p To complete a booking you will need credit on your Libacura account. Funds can be added to your account through the Libacura website using GoCardless.
          
          h4 Booking Monthly 
          p If you are in receipt of childcare vouchers or tax-free childcare, you will be able to book without credit in advance. You will, however, have to transfer the funds from your provider on the day that you make the bookings.

          h4 Booking Weekly 
          p #[strong Important:] when making weekly bookings please make sure your booking is made by 12 midnight on the Wednesday of the week previous to the one you are booking. E.g. if you plan to book the week commencing 10th September 2018, you must book by Wednesday 5th September.
          
          p For further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].
          
          h3 Group 3 – Holiday Club
          p
            strong Please only use this group if you’re not currently registered with us and you only wish to book for holiday club.
          p Libacura enables you to book your preferred sessions for the holiday. If the session you want is full, you will be put on a waiting list and we will notify you when a space becomes available. Book early to avoid disappointment and to take advantage of our Early Bird discount of 10% off, if booked two weeks before the holiday starts.
          p
            strong All bookings for Holiday Club must be paid for at the time of booking. Please use one of the payment methods below.
          p For further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].

        section
          h2#howtopay How to pay
          p Once you have made your booking with us you can pay using any of the following methods:
          ul
            li
              h4 Bank transfer
              p For details, please #[a(href='mailto:coopsparks@gmail.com') email us] or call us on #[a(href='tel:01179244439') 0117 924 4439].
            li
              h4 Childcare vouchers
              p Sparks accepts all recognised childcare vouchers:
              ul
                li Allsave
                li Bath and North East Somerset childcare vouchers
                li Bristol City Council childcare vouchers – HVSP0023
                li Busy Bees Childcare Vouchers
                li care-4 – 64647283
                li childcareplus P&MM
                li Co-operative Childcare Vouchers
                li Computershare – 0007842999
                li Edenred – P382593
                li Fair Care
                li Fideliti – Spa014c
                li Gemelli – SP1510
                li KiddiVouchers
                li PES Childcare Vouchers
                li Rascals
                li Sodexo – 804331
                li South Gloucestershire Council childcare vouchers
              p If your voucher scheme is not mentioned, we are more than happy to register with your preferred provider.
            li
              h4 GoCardless
              p Within your #[a(href='https://libacura.co.uk/fd/login/') Libacura account] you can make secure payments via GoCardlesss. Just enter your bank account number, sort code and the amount you want to pay and the funds are then transferred safely and securely.
