---
title: Registration & booking
---

extends ../layouts/about

block body
  main.main
    div.main__container
      div.content
        h1 Registration & booking

        section
          img.content__image.content__image--float(src=assetUrl('images/photos/2015-06-16_17-49-02.jpg'))
          p Before you register with us we encourage you to come and visit Sparks so that you and your children can meet us and have a look around to see what you think.
          p We arrange childcare at Sparks around into three different age groups: Tiny Sparks (aged 3–5), Little Sparks (5–7) and Big Sparks (8–14). Each group is led by a senior member of staff who is there to ensure children’s wellbeing.
          p For Reception children we offer up to two sessions free of charge to help them get settled in. Please get in touch with us by email at #[a(href='mailto:coopsparks@gmail.com?subject=Introductory session') coopsparks@gmail.com] you would like to arrange an introductory session.
          p We operate within a set of #[a(href=pageUrl('about/policies-procedures/index.jade')) policies and procedures] that are there to make Sparks the best it can be. Please take some time to familiarise yourself with them.

        section
          h2 How to register
          p Registering with Sparks is easy. It can be completed online using our booking system called #[a(href='https://libacura.co.uk') Libacura]. With this you can register your children, book sessions and make secure payments to Sparks by credit or debit card. We charge an annual fee of #[strong £20.00 per child] to be registered with us.
          p Once you have completed the registration form we will be in touch to find out which clubs you wish your children to attend.
          p We offer childcare at #[a(href=pageUrl('clubs/index.jade') + '#locations') four different locations] - Sefton Park School, St Bart’s Church Hall, The Scout Hut and Fairlawn School - and so registration is split up into two groups.
          p #[strong Group 1:] If your children attend Sefton Park or Brunel Field schools #[em or] you would like your children to attend Holiday Club, #[a(href='https://libacura.co.uk/register/sparks') click here to register].
          p #[strong Group 2:] If your children attend Fairlawn, The Dolphin or St Barnabas schools #[a(href='https://libacura.co.uk/register/fairlawn') click here to register].
          p
            strong Please note that registration does not automatically allocate your children a place at our clubs.
          p
            strong Please also be aware that we have strict terms and conditions regarding registration and booking. For more information please #[a(href=pageUrl('about/terms.jade')) click here].
          p
            em If you have problems with registration, please don’t hesitate get in touch with us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].

        section
          h2 Booking sessions
          p To help us keep on top of high numbers during term time, we ask that you make bookings for After School Club and Breakfast club via phone or email. However, if you want to book sessions for Holiday Club you can do this online using your #[a(href='https://libacura.co.uk/fd/login/') Libacura account] where you can check availability and make bookings yourself.
          a.content__cta(href='mailto:coopsparks@gmail.com?subject=Booking') Book a session by email

        section
          h2 How to pay
          p As we are a small not-for-profit company and we rely completely on fees being paid on time.
          p Invoices for After School Club and Breakfast Club are sent on the 15th of the previous month to be paid by the 5th of the month that you are being invoiced for. If monthly invoices are not settled by the 15th of the month then a £10.00 late charge will be added to your account. If your account is not settled by the next invoice run, then you will lose your children’s place. All bookings for Holiday Club must be paid for at the time of booking.
          p Once you have made your booking with us you can pay using any of the following methods:
          ul
            li
              h4 Bank transfer
              p Our bank account details can be found on your invoice or by contacting us.
            li
              h4 Childcare vouchers
              p Sparks accepts all recognised childcare vouchers e.g. Edenred, Computershare, Fair Care, KiddiVouchers, Sodexo, Bristol City Council, South Gloucestershire Council, Rascals, Allsave etc. If your voucher scheme is not mentioned we are more than happy to register with your preferred provider.
            li
              h4 GoCardless
              p Within your #[a(href='https://libacura.co.uk/fd/login/') Libacura account] you can make secure payments to us via GoCardlesss. You enter your bank account number, sort code and the amount you want to pay and the funds are then transferred safely to us.

        section
          h2 Keeping in touch
          p We send out a newsletter once a term i.e. six times a year. We also send out a Holiday Club activity plan and booking form a month prior to the school holidays.
          p We are also on Facebook where we often post photos of what we’re up to at Sparks. There you will find the After School Club weekly activity plan too.
          p If at any time you would like a meeting to catch up with your child’s key worker, please contact us to arrange a time.
