---
title: Registration & booking
---

extends ../layouts/about

block body
  main.main
    div.main__container
      div.content
        h1 Registration & booking

        section
          img.content__image.content__image--float(src=assetUrl('images/photos/2015-06-16_17-49-02.jpg'))
          p If you’d like to enrol your child into one of our clubs, you’ll need to register first. We welcome you to come and visit us, have a look around and meet the team beforehand. 
          p To arrange a visit, please email #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com] or call us on 0117 9244 439. 
          p Before registering, please take some time to familiarise yourself with our #[a(href=pageUrl('about/policies-procedures/index.pug')) policies and procedures], and read through our #[a(href=pageUrl('about/terms.pug')) Registration and Booking terms and conditions].

        section
          h2#registration How to register
          p Registering with Sparks is easy, and can be completed via our online booking system, #[a(href='https://libacura.co.uk') Libacura]. This is specialist software for After School clubs and playcare centres, allowing you to book sessions and make secure payments via credit or debit card.
          p We charge an annual fee of #[strong £20.00 per child] to be registered with us.
          p Once you have completed the registration form, we will be in touch to find out which clubs you wish your children to attend.
          p We offer childcare at #[a(href=pageUrl('clubs/index.pug') + '#locations') three different locations] - The Dolphin School, Fairlawn School and Charlton Wood Primary Academy. 
          p Registration is split up into two groups. Find out which group your child needs to be registered in below.
          
        section
          h3 Group 1 – Fairlawn, The Dolphin, and Fairlawn Holiday Club
          p If your child does not attend either school and you wish to register for Holiday Club, please use this group to register. If your child already comes to After School Club at Fairlawn or Dolphin, you don’t need to register again for Holiday Club.
          p
            a.content__cta(href='https://libacura.co.uk/register/fairlawn') Register for Group 1
          
        section
          h3 Group 2 – Charlton Wood Primary Academy
          p If your child attends Charlton Wood Primary Academy, please contact us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com] to register in this group.
          
        section
          h2#booking Booking sessions
          
          h3 After School Club bookings – The Dolphin and Fairlawn schools
          p Once you have registered with Libacura you will be able to make your own bookings. Bookings are made on a termly basis.
          
          p
            strong Term dates for 2019/2020 are as follows:
          table
            thead
              tr
                th Term
                th Starts
                th Ends
            tbody
              tr
                td Term 1
                td Monday 2 September 2019
                td Friday 25 October 2019
              tr
                td Term 2
                td Monday 4 November 2019
                td Friday 20 December 2019
              tr
                td Term 3
                td Monday 6 January 2020
                td Friday 14 February 2020
              tr
                td Term 4
                td Monday 24 February 2020
                td Friday 3 April 2020
              tr
                td Term 5
                td Monday 20 April 2020
                td Friday 22 May 2020
              tr
                td Term 6
                td Monday 1 June 2020
                td Monday 20 July 2020

          p Bookings will be made available three weeks before the term starts and will close on the last day of term. The exception to this will be during summer holidays ready for Term 1.
          p This means that Term 1 bookings will be made available on 12th August and will close on Friday 30th August.
          p All registered users will receive an email reminding them of the day that bookings open and again two days before the bookings shut.
          p To complete a booking you will need credit on your Libacura account. Funds can be added to your account through the Libacura website using GoCardless, BACS or Childcare Vouchers.
          p If you are eligible for childcare vouchers or tax-free childcare, please make sure that you order your vouchers in advance so that your account has credit before the termly deadline for bookings.
          
          h4 Making ad-hoc bookings
          p If during the term you realise that you need or have forgotten a date, please send an email at least three days in advance and we will see if there is space for your child to attend.
          
          h3 Holiday Club bookings 
          p Libacura enables you to book your preferred sessions for Holiday Club. If the session you want is full, you will be put on a waiting list and we will notify you when a space becomes available. Book early to avoid disappointment and to take advantage of our Early Bird discount of 10% off, if booked two weeks before the holiday starts.
          p
            strong All bookings for Holiday Club must be paid for at the time of booking. Please use one of the payment methods below.
          p For further enquiries, please email us at #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].

        section
          h2#howtopay How to pay
          p Once you have made your booking with us you can pay using any of the following methods:
          ul
            li
              h4 Bank transfer
              p For details, please #[a(href='mailto:coopsparks@gmail.com') email us] or call us on #[a(href='tel:01179244439') 0117 924 4439].
            li
              h4 Childcare vouchers
              p Sparks accepts all recognised childcare vouchers:
              ul
                li Allsave
                li Bath and North East Somerset childcare vouchers
                li Bristol City Council childcare vouchers – HVSP0023
                li Busy Bees Childcare Vouchers
                li care-4 – 64647283
                li childcareplus P&MM
                li Co-operative Childcare Vouchers
                li Computershare – 0007842999
                li Edenred – P382593
                li Fair Care
                li Fideliti – Spa014c
                li Gemelli – SP1510
                li KiddiVouchers
                li PES Childcare Vouchers
                li Rascals
                li Sodexo – 804331
                li South Gloucestershire Council childcare vouchers
              p If your voucher scheme is not mentioned, we are more than happy to register with your preferred provider.
            li
              h4 GoCardless
              p Within your #[a(href='https://libacura.co.uk/fd/login/') Libacura account] you can make secure payments via GoCardlesss. Just enter your bank account number, sort code and the amount you want to pay and the funds are then transferred safely and securely.
