---
title: Meet our team
---

extends ../layouts/about
include ../mixins/team-member

block body
  main.main
    div.main__container
      div.content
        h1 Meet our team
        p Our team at Sparks is made up of a very passionate group of people from all walks of life that have come together with an understanding that being able to play and have fun is essential to our lives. We’re here to make sure your children’s time at Sparks is all-round the best it can be.
        p We’re always on the lookout for new faces to join the Sparks Family. If you have an interest in working with children, whether you have the relevant experience or not, please get in touch with us.

      section.team
        h2.team__heading
          span In the office
        div.team__member-list
          +team-member('Carole Theyer', 'CEO, Company Secretary & Director', 'carole-theyer.jpg')
          +team-member('Liam Jefferies', 'General Manager & Director', 'liam-jefferies.jpg')
          +team-member('Emily Dalton', 'Manager & Business Administrator', 'emily-dalton.jpg')
          +team-member('Ian Holder', 'Inclusion & Sparkan Foragers Lead', 'ian-holder.jpg')
        
      section.team
        h2.team__heading
          span Sparks @ St Bart’s
        div.team__member-list
          +team-member('Liam Jefferies', 'Manager', 'liam-jefferies.jpg')
          +team-member('Hannah Moylan', 'Deputy Manager', 'hannah-moylan.jpg')
          +team-member('Phoebe Flint', 'Deputy Manager', 'phoebe-flint.jpg')
          +team-member('Sam Grayson', 'Playworker', 'sam-grayson.jpg')
        
      section.team
        h2.team__heading
          span Sparks @ Dolphin
        div.team__member-list
          +team-member('Emily Dalton', 'Manager', 'emily-dalton.jpg')
          +team-member('Eleanor Sharp', 'Playworker', 'eleanor-sharp.jpg')
          +team-member('Sarah ‘Floss’ Turner', 'Playworker', 'sarah-turner.jpg')
        
      section.team
        h2.team__heading
          span Sparks @ Fairlawn
        div.team__member-list
          +team-member('Doreen Campbell', 'Playworker', 'doreen-campbell.jpg')
        
      section.team
        h2.team__heading
          span Breakfast Club
        div.team__member-list
          +team-member('Sophie Willoughby', 'Deputy Manager', 'sophie-willoughby.jpg')
          +team-member('Hannah Moylan', 'Senior Playworker', 'hannah-moylan.jpg')
          +team-member('Phoebe Flint', 'Senior Playworker', 'phoebe-flint.jpg')
          +team-member('Doreen Campbell', 'Playworker', 'doreen-campbell.jpg')
