---
title: Meet our team
---

extends ../layouts/about
include ../mixins/team-member

block body
  main.main
    div.main__container
      div.content
        h1 Meet our team
        p Our team at Sparks is made up of a very passionate group of people from all walks of life that have come together with an understanding that being able to play and have fun is essential to our lives. We’re here to make sure your children’s time at Sparks is all-round the best it can be.
        p We’re always on the lookout for new faces to join the Sparks Family. If you have an interest in working with children, whether you have the relevant experience or not, please get in touch with us.

      div.team
        //- management
        +team-member('Carole Theyer', 'CEO, Company Secretary & Director', '2016-01-18_11-25-13_007.jpg')
        +team-member('Liam Jefferies', 'General Manager & Director', '2016-01-18_11-40-56_008.jpg')
        +team-member('Becky Frape', 'Director & Deputy Manager', '2016-01-18_11-24-48_006.jpg')
        +team-member('David Baptiste', 'Director', '2016-01-18_12-41-23_009.jpg')
        +team-member('Kate Berney', 'Deputy Manager', '2016-10-21_11-34-19_005.jpg')
        +team-member('Marie Edwards', 'Deputy Manager', '2015-09-23_17-59-59_012.jpg')
        //- senior playworkers
        +team-member('Alberto Del Favero', 'Senior Playworker', '2016-03-04_08-31-39_001.jpg')
        +team-member('Becky Roberts', 'Senior Playworker', '2016-02-11_15-44-08_016.jpg')
        +team-member('Chloe Blackman', 'Senior Playworker', '2015-09-24_13-43-07_002.jpg')
        +team-member('Laura Davies', 'Senior Playworker', '2016-10-21_16-28-29_006.jpg')
        +team-member('Vivienne Simpson', 'Senior Playworker', '2016-09-15_18-17-56_013.jpg')
        //- trainee senior playworkers
        +team-member('Emily Dalton', 'Trainee Senior Playworker', '2016-08-13_19-55-36_024.jpg')
        +team-member('Hannah Moylan', 'Trainee Senior Playworker', '2016-10-12_11-52-12_001.jpg')
        //- playworkers
        +team-member('Arran Preston', 'Playworker', '2016-09-05_14-10-51_021.jpg')
        +team-member('Caitlin Wilson', 'Playworker', '2016-01-23_11-13-51_001.jpg')
        +team-member('Galatea Scotti', 'Playworker', '2016-09-15_18-16-27_004.jpg')
        +team-member('Lily Meuross', 'Playworker', '2016-09-15_18-17-08_023.jpg')
        +team-member('Moana Schischka', 'Playworker', '2016-10-21_13-12-02_008.jpg')
        +team-member('Sophie Willoughby', 'Playworker', '2016-04-20_16-46-41_003.jpg')
        //- juniour playworkers
        +team-member('Cheyenne James', 'Junior Playworker', '2015-04-24_16-28-14_003.jpg')
        +team-member('Ella Clifton', 'Junior Playworker', '2015-07-10_17-34-13_004.jpg')
        +team-member('Isabel Everington', 'Junior Playworker', '2016-01-23_15-05-50_005.jpg')
        +team-member('Isobel Reid', 'Junior Playworker', '2013-10-08_16-18-20_006.jpg')
        +team-member('Mya Cartmel', 'Junior Playworker', '2016-01-23_13-36-12_008.jpg')
        +team-member('Rudy Jewels', 'Junior Playworker', '2015-09-23_18-03-25_009.jpg')
        //- extras
        +team-member('Brian Titley', 'Southwest Co-operative Support Consultant', '2016-01-22_13-01-48_001.jpg')
        +team-member('Hilary Sudbury', 'Southwest Co-operative Support Consultant', '2016-01-22_13-01-48_005.jpg')
        +team-member('Callum Jefferies', 'Graphic & Web Designer', '2015-04-22_16-17-36_002.jpg')
