---
title: Terms & conditions
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Terms & conditions
          
        section
          h2 After School Club and Breakfast Club
          
          h3 Booking
          p Booking is open on the 15th of each month for the following month. E.g. bookings for September 2018 are made starting 15th August 2018.
          p Unfortunately we cannot guarantee places every month, so we do encourage you to book in as early as possible to avoid disappointment.
          p #[strong Very important information:] we have changed the booking system to eliminate outstanding fees/credit control, which means we no longer offer rolling bookings. All parents will have to pay credit in advance of their bookings through Libacura.
          
          h4 Booking Monthly 
          p If you are in receipt of childcare vouchers or tax-free childcare, you will be able to book without credit in advance. You will, however, have to transfer the funds from your provider on the day that you make the bookings.

          h4 Booking Weekly 
          p #[strong Important:] when making weekly bookings please make sure your booking is made by 12 midnight on the Wednesday of the week previous to the one you are booking. E.g. if you plan to book the week commencing 10th September 2018, you must book by Wednesday 5th September.

          h4 Emergencies
          p If you find you have an emergency, you can book daily on an ad-hoc basis up to 12 noon, subject to space. Please note, however, that it is not an emergency if you have forgotten to book. An emergency means your work situation has changed on the day, or you have had to attend to a sick child or relative etc.
          
          h3 Cancellation
          p If you have booked any After School Club and/or Breakfast Club sessions then the cancellation policy is now also changing. You now only need to give one weeks’ notice (instead of four) as we now give parents the option of booking week by week, as long as the session is booked by the previous Wednesday.
          p The Swapping Sessions policy has also changed to a week, but if it is any less than a week then this will have to be booked as an additional session, subject to availability.
          p You will still be charged for any sessions not attended by the child due to sickness, or any other arrangement that is made, if this falls outside of the week notice period.

          h3 Lateness
          p Between Monday and Friday term time Sparks closes at 18:00. We are only paid until 18:00 so it is very important that the children are picked up on time. Any lateness will need to be reported by calling us on the mobile number given for the club you are using. If lateness is repeated than you will be given notice to leave Sparks.
          p Unexplained lateness will result in a charge of £5.00 for up to 15 minutes (18:00-18:15), £10.00 for 30 minutes (18:00-18:30) and £15.00 for any time later than 18:30. If you arrive later than 19:00, we have a duty to ring Social Services to let them know that there is a problem.
          
        section
          h2 Holiday Club
          
          h3 Booking
          p Holiday Club bookings are opened up one month before the school holiday and are closed on the last day of term. We will not be accepting any bookings outside of this period. There is an Early Bird discount of 10% if booked two weeks before the holiday starts.
          p Libacura will enable you to book your preferred sessions for the holidays, once the bookings have been opened. If there are not sufficient spaces you will be put on a waiting list and you will be notified when a space becomes available.
          p
            strong Important: all bookings for Holiday Club must be paid for at the time of booking. 
          
          h3 Cancellation
          p If you have booked Holiday Club sessions in error you have the opportunity to cancel or swap days if the new days are available up to two weeks before the starting date of the holiday. The full price will still be charged if you don’t cancel two weeks before.
          
          h3 Lateness
          p For Holiday Club our lateness policy is slightly different to that of After School Club and Breakfast Club; all children must be picked up by 17:45. The same charges apply regarding lateness.
