---
title: Terms & conditions
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Terms & conditions

        section
          h2 Payment
          p Invoices for After School Club and Breakfast Club are sent on the 15th of the previous month to be paid by the 5th of the month that you are being invoiced for. If monthly invoices are not settled by the 15th of the month then a £10.00 late charge will be added to your account. If your account is not settled by the next invoice run, then you will lose your child’s place. All bookings for Holiday Club must be paid for at the time of booking. We are a small not-for-profit company and we rely completely on fees being paid on time.

        section
          h2 Cancellation
          p Sparks requires four weeks’ notice to cancel or exchange After School Club or Breakfast Club sessions as it affects our staffing ratios. Please not that exchanges are subject to availability. For Holiday Club we require two weeks’ notice prior to the start date of the holiday to cancel of exchange sessions. Unfortunately, sessions cancelled or not used for any reason without notice cannot be refunded.

        section
          h2 Lateness
          p Between Monday and Friday term time Sparks closes at 18:00. Staff stay until 18:15 to do an end-of-session evaluation meeting before leaving for the evening. It is very important that the children are picked up on time. Reoccurring, unexplained lateness will result in a charge of £5.00 for up to 15 minutes (18:00–18:15), £10.00 for 30 minutes (18:15–18:30) and £15.00 for any time later than 18:30. For Holiday Club all children need to be picked up by 17:45. The same charges apply regarding lateness.
