---
title: Terms & conditions
---

extends ../layouts/index

block content
  main.main
    div.main__container
      div.content
        h1 Terms & conditions

        section
          h2 Group 1 – Sefton Park and Brunel Field schools
          h3 Payment
          p Invoices for After School Club and Breakfast Club are sent on the 15th of the previous month to be paid by the 5th of the month that you are being invoiced for. If monthly invoices are not settled by the 15th of the month then a £10.00 late charge will be added to your account. If your account is not settled by the next invoice run, then you will lose your child’s place.
          h3 Cancellation
          p Sparks requires two weeks’ notice to cancel or exchange After School Club or Breakfast Club sessions. Please note that exchanges are subject to availability.
          h3 Leaving
          p If you wish to end your place at Group 1, can we please have four weeks notice by email to #[a(href='mailto:coopsparks@gmail.com') coopsparks@gmail.com].

        section
          h2 Group 2 – Fairlawn, The Dolphin and St Barnabas schools
          h3 Payment
          p Payment is expected at time of booking unless you have told us that you are registered with a childcare voucher scheme. If your account is not settled are not by the 15th of the month of the following month then a £10.00 late charge will be added to your account. If your account is not settled by the next invoice run, then you will lose your child’s place.
          h3 Cancellation
          p Once you are booked for the week, you will not be able to cancel or swap your sessions

        section
          h2 Group 3 – Holiday Club
          h3 Payment
          p All bookings for Holiday Club must be paid for at the time of booking.
          h3 Cancellation
          p If you have booked Holiday Club sessions in error you have the opportunity to cancel or swap days if the new days are available up to two weeks before the first start date of the holiday. The full price will still be charged if you don’t cancel two weeks before.

        section
          h2 Lateness
          p Between Monday and Friday term time Sparks closes at 18:00. Please ring if you are going to be late to avoid late payment charges.
          p Reoccurring, unexplained lateness will result in a charge of £5.00 for up to 15 minutes (18:00–18:15), £10.00 for 30 minutes (18:15–18:30) and £15.00 for any time later than 18:30.
          p For Holiday Club all children need to be picked up by 17:45. The same charges apply regarding lateness.
