nav.page-nav
  div.page-nav__container
    ul.page-nav__items
      li.page-nav__item
        a(href='#what-to-expect').page-nav__link What to expect
      li.page-nav__item
        a(href='#things-to-do').page-nav__link Things to do
      li.page-nav__item
        a(href='#sessions-prices').page-nav__link Sessions & prices
