section#sessions-prices
  h2 Sessions & prices
  table
    thead
      tr
        th Session
        th Price per child
    tbody
      tr
        td 15:30 – 18:00
        td £#{increaseCost(11.00, 2)}
  p
    em Children must be picked up by 18:00 at the very latest to avoid a fee.
  p To make a booking, please #[a(href='mailto:coopsparks@gmail.com?subject=After School Club booking') click here].
  a.content__button(href=pageUrl('about/registration-booking.pug')) Register now
