h2 Things to do
p We champion #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free play] and a child-led approach to care at Sparks, so everyone is encouraged to choose how they wish to spend their afternoons with us. We organise fun craft activities, games and cooking sessions each day, inviting the children to participate, although there is never any pressure to join in. There are also plenty of other resources and play equipment available, as well as quiet areas for reading and relaxing.
