section#what-to-bring
  h2 What to bring
  ul
    li Weather appropriate clothing (coats, hats, gloves)
    li Book bag
    li School bag
    li Medication*
  p
    em *We must have written permission from a parent or guardian to supply medication.
