---
title: Sparks @ Charlton Hayes
---

extends ../../layouts/index
include ../../mixins/location

block content
  main.main
    div.intro.intro--background(style=backgroundImageStyle('images/photos/2015-06-03_16-57-00.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Sparks @ Charlton Hayes
          p.intro__body Welcome to the newest member of our family. Opening in September 2019.

    include ./_nav

    div.main__container
      div.content
        section
          h2 About
          p We will have the use of a classroom exclusively for Sparks which we decorate and personalise. The children love to get creative and put the Sparks stamp on our room.
          p There’s always planned cooking and crafting activities that the children can choose to take part in. The arts and crafts table is always popular where they can make and invent colourful creations.
          p We encourage the children to #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free play] as much as possible and we provide lots of toys and games to spark their imaginations. Small toys such as Lego and dinosaurs are always popular. Den building is a fantastic way for them to immerse themselves in their own make believe world.
          p There is a large playground that the children can explore and run around to blow off steam or play ball games after school. We try to offer a variety of activities each day and the playworkers have a range of differing skills to bring to After School Club.

        section#what-to-expect
          h2 What to expect
          img.content__image.content__image--float(src=assetUrl('images/photos/2017-08-28_11-25-00.jpg'))
            
          p The after school club staff will collect your child and belongings from their new classrooms and bring them to the Sparks room.
          p Upon arrival, everyone is offered a yummy, scrummy healthy snack, with a menu consisting of: toast, crumpets, wraps, rice cakes, cheese and crackers, and a selection of fruit and veg. Juice and water is also available throughout the session.
          p
            em Let us know about any dietary requirements and we will be happy to accommodate them. #[a(href=pageUrl('about/register.pug')) Visit our Registration page for more information].
          p After snack time, everyone is free to play or chill out until tidy up time at 17:30. All children must then be picked up by 18:00.

        section#things-to-do
          include ./_things-to-do
          p Some other activities on offer include:
          ul
            li Den building
            li Sewing
            li Nature walks
            li Outdoor play: scootering, tennis, football
            li Toys & board games
            li Television - a choice of films to end the day

        include ./_what-to-bring
        include ./_sessions-prices

        section#contact
          h2 Contact us
          +location(locations.charltonhayes)
