---
title: Sparks @ Dolphin
---

extends ../../layouts/index
include ../../mixins/location

block content
  main.main
    div.intro.intro--video.intro--background(style=backgroundImageStyle('images/photos/2015-06-03_16-57-00.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Sparks @ Dolphin
          p.intro__body Dolphin After School Club is for children aged 4-11 attending Dolphin School. It’s the perfect way for the children to blow away those classroom cobwebs, socialise and relax after each school day.
        div.intro__secondary
          div.intro__video
            div.intro__video-container
              iframe(src='https://www.youtube.com/embed/ZZpOp0PFI_I?rel=0')

    include ./_nav

    div.main__container
      div.content
        section
          h2 About
          p We love working with children because they have such an infectious sense of fun! Building positive relationships with them is our number one priority. We like to make them feel supported and encouraged to do what they love doing and help them develop into happy, kind people as they grow up.
          p The children at Dolphin absolutely love to be creative and get messy, and they’re also very active! We’re always playing football, building dens, making slime and so much more!
          p We organise set activities for each session but encourage the children to #[a(href=pageUrl('blog/benefits-of-free-play.pug')) free play] and use their imaginations as much as possible. We’re always on our toes not knowing what activity the children will end up doing. It’s often spontaneous and always heaps of fun. Sometimes we play music, and before we know it everyone is up on their feet dancing. On other days, someone might suggest ‘dressing up’ and by the end of the session everyone will be immersed in a make believe world and adorned with face paint!
          p Some of the children prefer to play quietly or read on their own and to each other, which is brilliant to see. We encourage children to do what they want and let their imaginations run wild because our philosophy is that there is no better way to learn than through playing!

        section#what-to-expect
          h2 What to expect
          img.content__image.content__image--float(src=assetUrl('images/photos/2017-08-28_11-25-00.jpg'))
          p Upon arrival, everyone is offered a yummy, scrummy healthy snack, with a menu consisting of: toast, crumpets, wraps, rice cakes, cheese and crackers, and a selection of fruit and veg. Juice and water is also available throughout the session.
          p
            em Let us know about any dietary requirements and we will be happy to accommodate them. #[a(href=pageUrl('about/register.pug')) Visit our Registration page for more information].
          p After snack time, everyone is free to play or chill out until tidy up time at 17:30. All children must then be picked up by 18:00.

        section#things-to-do
          include ./_things-to-do
          p Some other activities on offer include:
          ul
            li Den building
            li Sewing
            li Nature walks
            li Outdoor play: tennis, football
            li Toys & board games
            li Trips to Montpelier Park
            li Television - a choice of films to end the day

        include ./_what-to-bring
        include ./_sessions-prices

        section#contact
          h2 Contact us
          +location(locations.dolphin)
