---
title: Little Sparks @ Terrapin
---

extends ../../layouts/index

block content
  main.main
    div.intro.intro--video.intro--background(style=backgroundImageStyle('images/photos/2015-06-03_16-57-00.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Little Sparks @ Terrapin
          p.intro__body Little Sparks @ Terrapin, where children aged 3-8 years attending Sefton Park and Brunel Fields School’s come to relax, play and blow away those classroom cobwebs after a busy day at school.
        div.intro__secondary
          div.intro__video
            div.intro__video-container
              iframe(src='https://www.youtube.com/embed/9hsf-Vm7iVw?rel=0')

    include ./_nav
    
    div.main__container
      div.content
        section
          blockquote
            div.callout
              img(src=assetUrl('images/team/2016-10-12_11-52-12_001.jpg')).callout__image
              p.callout__body “Hi, I’m Hannah and I run After School Club for Little Sparks at the Terrapin. 
            p “I love working with the Little Sparks because they’re so imaginative and creative and they bring so much positive energy and enthusiasm to everything we do. 
            p “It’s a pleasure to be able to greet the children after school with their favourite snacks and allow them to run around, make lots of noise and blow off steam after being cooped up in their classrooms all afternoon. 
            p “Our organised crafting and cooking activities are really popular and we love to see them getting involved as a group. I also like to encourage the children to free-play as much as possible. We provide the perfect environment for them to get lost in their imaginations and try to facilitate their made up games and creative impulses as much as possible. 
            p “We have some fantastic crafting resources which we source from #[a(href='http://www.childrensscrapstore.co.uk/') Children’s Scrapstore]. We visit the scrapstore regularly so there’s constantly new items to spark their curiosity.”
          
        section#what-to-expect
          h2 What to expect
          img.content__image.content__image--float(src=assetUrl('images/photos/2017-08-28_11-25-00.jpg'))
          p At the end of the school day, our After School clubbers are collected from their classrooms by one of our friendly playworkers.
          p Upon arrival, everyone is offered a yummy, scrummy healthy snack, with a menu consisting of: toast, crumpets, wraps, rice cakes, cheese and crackers, and a selection of fruit and veg. Juice and water is also available throughout the session.
          p
            em Let us know about any dietary requirements and we will be happy to accommodate them. #[a(href=pageUrl('about/register.pug')) Visit our Registration page for more information].
          p After snack time, everyone is free to play or chill out until tidy up time at 17:30. All children must then be picked up by 18:00.

        section#things-to-do
          include ./_things-to-do
          p Some other activities on offer include: 
          ul
            li Den building
            li Fancy dress
            li Sewing
            li Nature walks
            li Outdoor play: scootering, tennis, football
            li Toys & board games
            li Trips to St Andrews Park and Narroways
            li Computers 
            li Television - a choice of films to end the day

        include ./_what-to-bring
        include ./_sessions-prices
