---
title: Sparks @ St Bart’s
---

extends ../../layouts/index

block content
  main.main
    div.intro.intro--video.intro--background(style=backgroundImageStyle('images/photos/2015-06-03_16-57-00.jpg'))
      div.intro__container
        div.intro__primary
          h1.intro__heading Sparks @ St Bart’s
          p.intro__body St Bart’s After School Club is where children aged 3-11 attending Sefton Park or Brunel Fields schools come to relax, play and blow away those classroom cobwebs after a busy day. 
        div.intro__secondary
          div.intro__video
            div.intro__video-container
              iframe(src='https://www.youtube.com/embed/Mf9OIStQbvU?rel=0')

    include ./_nav
    
    div.main__container
      div.content
        section
          blockquote
            div.callout
              img(src=assetUrl('images/team/2016-01-18_11-40-56_008.jpg')).callout__image
              p.callout__body “Hi, I’m Liam, and I run St Bart’s After School Club. 
            p “We take a child-led approach to everything, and an essential part of that is providing an environment where the children can speak freely and express themselves. 
            p “I love working with 3-11 year-olds because they have such a fascinating outlook on life. I enjoy having discussions with them on topical issues and world events, hearing their views, thoughts and remarkable insights.
            p “We’re really lucky to have the use of St Bart’s Church Hall as we have so much space for all the lively activities. If the weather’s nice the children have the option to play in St Andrew’s Park, we’re so lucky to have such a beautiful space on our doorstep! Our after school snacks are really popular as we’re able to offer the children hot food, so there’s always a variety of options to choose from like pasta, soup or beans on toast.”
          
        section#what-to-expect
          h2 What to expect
          img.content__image.content__image--float(src=assetUrl('images/photos/2017-08-28_11-25-00.jpg'))
          p At the end of the school day, our After School clubbers aged 3-8 years are collected from their classrooms by one of our friendly playworkers.
          p Upon arrival, everyone is offered a yummy, scrummy healthy snack, with a menu consisting of: pizza, pasta, beans on toast, crumpets, wraps, rice cakes, cheese and crackers, and a selection of fruit and veg. Juice and water is also available throughout the session. 
          p
            em Let us know about any dietary requirements and we will be happy to accommodate them. #[a(href=pageUrl('about/register.pug')) Visit our Registration page for more information].
          p After snack time, everyone is free to play or chill out until tidy up time at 17:30. All children must then be picked up by 18:00.

        section#things-to-do
          include ./_things-to-do
          p Some other activities on offer include: 
          ul
            li Badminton
            li Computers 
            li Den building
            li Fancy dress
            li Nature walks
            li Outdoor play: scootering, tennis, football
            li Sewing
            li Television - a choice of films to end the day
            li Toys & board games
            li Trips to St Andrews Park and Narroways

        include ./_what-to-bring
        include ./_sessions-prices
