mixin link(href)
  a(href=pageUrl(href), class={ 'is-current': filename === href })&attributes(attributes)
    block

nav.nav.js-nav
  header.nav__header
    div.nav__container
      button.nav__toggle.js-nav-toggle Menu
  div.nav__main
    div.nav__container
      ul.nav__items
        li.nav__item.nav__item--home
          +link('index.jade').nav__link Home
        li.nav__item.nav__item--about
          +link('about/index.jade').nav__link About Sparks
          ul.nav__sub-items
            li.nav__sub-item
              +link('about/staff.jade').nav__sub-link Meet our staff
            li.nav__sub-item
              +link('about/policies-procedures.jade').nav__sub-link Policies & procedures
        li.nav__item.nav__item--programmes
          +link('programmes/index.jade').nav__link Our programmes
          ul.nav__sub-items
            li.nav__sub-item
              +link('programmes/breakfast-club.jade').nav__sub-link Breakfast club
            li.nav__sub-item
              +link('programmes/after-school-club.jade').nav__sub-link After school club
            li.nav__sub-item
              +link('programmes/holiday-club.jade').nav__sub-link Holiday club
            li.nav__sub-item
              +link('programmes/taningua.jade').nav__sub-link Taningua
            li.nav__sub-item
              +link('programmes/sparken-foragers.jade').nav__sub-link Sparken Foragers
        li.nav__item.nav__item--blog
          +link('blog/index.jade').nav__link Blog
