nav.nav.js-nav
  header.nav__header
    div.nav__container
      button.nav__toggle.js-nav-toggle Menu
  div.nav__main
    div.nav__container
      ul.nav__items
        li.nav__item
          a.nav__link.is-current(href='/') Home
        li.nav__item
          a.nav__link(href='/about') About Sparks
          ul.nav__sub-items
            li.nav__sub-item
              a.nav__sub-link(href='/about/staff') Meet our staff
            li.nav__sub-item
              a.nav__sub-link(href='/about/policies') Policies & procedures
        li.nav__item
          a.nav__link(href='/programmes') Our programmes
          ul.nav__sub-items
            li.nav__sub-item
              a.nav__sub-link(href='/programmes/breakfast') Breakfast club
            li.nav__sub-item
              a.nav__sub-link(href='/programmes/after-school') After school club
            li.nav__sub-item
              a.nav__sub-link(href='/programmes/holiday') Holiday club
            li.nav__sub-item
              a.nav__sub-link(href='/programmes/taningua') Taningua
            li.nav__sub-item
              a.nav__sub-link(href='/programmes/sparken-foragers') Sparken Foragers
        li.nav__item
          a.nav__link(href='/blog') Blog
