---
title: Admission and Fees Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Our club is committed to providing a fair and open admission system that offers a competitively priced and good value service. As a provider of registered childcare, we both encourage and actively support eligible parents/carers claiming and taking up the childcare element of the Working Tax Credit.
          p Sparks Play &amp; Care is open to any child attending Sefton Park Infants/Sefton Park Junior, Brunel Field Primary and St Barnabas Primary.

        section
          h2 Admissions
          p When a parent/carer contacts the club enquiring about a place for their child, they will be given all the relevant information they require including details of the Admissions and Fees policy, and informed of whether there is currently a suitable place available for their child.
          p If a suitable place is available the parent/carer and, where possible, the child will be invited to visit the club and speak to members of staff. If the parent/carer agrees to abide by all the terms and conditions of admission, including the level of fees and arrangements for payment, they will be asked to complete and sign the Registration form to confirm their child&rsquo;s place.
          p Once the admission is secure, the manager, or a designated member of staff, will contact the parent/carer concerned to arrange a date for the child&rsquo;s first session at the Club. At this stage, the provisions of the Settling In policy will come into operation.

        section
          h2 Waiting list
          p To ensure that admissions to the club are offered on a fair and transparent basis, the following procedure will apply to the management of waiting lists:
          ul
            li
              p If, on making an enquiry about a place for their child, a parent/carer is informed that there is not currently a suitable one available, the club&rsquo;s waiting list procedure will be explained and then activated on the parent/carer&rsquo;s behalf.
            li
              p Parents/carers will be encouraged to submit their request for a place for their child to the club in writing. The details of this request will be placed on the waiting list, in the order that they are submitted.
            li
              p The waiting list will be kept and used on a &lsquo;first come first served&rsquo; basis. The club will advise the parent/carer of how long they are likely to have to wait before a suitable place becomes available. This information will only be an estimate and will not constitute a binding guarantee from the club.
            li
              p When a vacancy at the club becomes available, the manager will contact the parent/carer whose child is suitable for the place and is highest up on the waiting list.
            li
              p If that parent/carer still wishes to take up the place for their child, they will be asked to complete the Registration Form and follow the remaining steps of the admissions procedure outlined above.
            li
              p If the parent/carer concerned no longer wishes to take up a place, the parent/carer of the next suitable child on the list will be contacted.

        section
          h2 Fees
          p The club understands that the cost of registered childcare may seem expensive to a parent/carer. However, providing a high quality, safe and stimulating service for children is not cheap and to ensure the continued high standards and sustainability of the club, it must ask that parents/carers respect its policy in respect of fees.
          ul
            li
              p The level of fees will be set by the Board of members and reviewed annually in the light of the club&rsquo;s financial position, its future strategic plans and any other broader economic or social considerations deemed relevant
            li
              p Payment of fees should be made monthly, on an agreed day prior to the start of the month in question. Individual payment arrangements will be negotiated between the manager and parents/carers.
            li
              p The club will be sympathetic to requests for daily payment. Parents/carers wishing to negotiate this or any other alteration to the standard fees policy should arrange a meeting with the manager at the earliest possible opportunity.
            li
              p If the fees are not paid on time, the club will notify the parent/carer in writing and request payment at the earliest possible opportunity.
            li
              p The manager has the right to issue a formal warning to the parent/carer and inform them that continued late payment will result in their child&rsquo;s place at the club being forfeited.
            li
              p If fees are paid persistently late or not at all with no explanation, the club will be forced to terminate that child&rsquo;s place. Under exceptional circumstances, the manager may agree to allow the child to continue attending the club for the remainder of that week.
            li
              p Parents/carers are encouraged to speak to a member of staff or the manager if they have any query about the fees policy, or if, for any reason, they are likely to have difficulty in making a payment on time. Parents/carers are strongly advised to arrange a meeting at the earliest possible opportunity, to avoid jeopardising their child&rsquo;s place at the club.
