---
title: Arrivals and Departures, Missing and Uncollected Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Sparks Play &amp; Care will give a warm and friendly welcome to each child on arrival and ensure that they depart safely at the end of each session.

        section
          h2 Admissions
          p It is the responsibility of the Leader in Charge to ensure that an accurate record is kept of all children in Sparks Play &amp; Care, and that any arrival or departure to and from the premises is recorded in the register. The register will be kept in an accessible location on the premises at all times (for exemptions to this rule, see the Visits and Outings policy). This process will be supplemented by regular head counts during the day.
          p Records of daily registers will be kept by Sparks Play &amp; Care for at least one year.

        section
          h2 Arrivals
          p On arrival, the Leader in Charge will immediately record the child&rsquo;s attendance in the daily register, including the time of registration.
          p If a child is absent from Sparks Play &amp; Care without prior warning, staff will check to see if they attended school that day &ndash; they will not simply accept the word of other children. If the whereabouts of the child is not clear, staff will immediately inform the designated contact at the school and the parents/carers.
          p If the parent/carer wants their child to be given medicine during the day by a member of staff, they must complete and sign the Administering Medication Form. Further details of this procedure are contained in Sparks Play &amp; Care&rsquo;s Health, Illness and Emergency policy.

        section
          h2 Departures
          p If the child is to be collected by someone other than the parent/carer, this must be indicated to a member of staff and recorded at the start of the session. The adult nominated to collect a child must be one of those named on the Registration Form..
          p Permission and arrangements for children leaving Sparks Play &amp; Care alone at the end of a session will be a matter for discussion between Leader in Charge and parents/carers, based on an understanding of a child&rsquo;s age, maturity and previous experience. Written consent for children leaving Sparks Play &amp; Care alone must be submitted to Sparks Play &amp; Care before such arrangements are able to commence.
          p No child under the age of 8 will be allowed to leave Sparks Play &amp; Care unaccompanied.
          p No adult other than those named on the Registration Form will be allowed to leave Sparks Play &amp; Care with a child. In the event that someone else should arrive without prior knowledge, Sparks Play &amp; Care will telephone the parent/carer immediately.
          p If the parent/carer or alternative nominated adult is going to be late to collect their child, staff must be informed of this on arrival. If the designated adult is late in picking up their child without prior warning, the provisions of the Uncollected Children policy will be activated.
          p Upon departure, the register will be marked to show that the child has left the premises. The time of departure will also be recorded.

        section
          h2 Absences
          p If a child is going to be absent from a session, parents must indicate this to Sparks Play &amp; Care in advance.
          p If a child is absent without explanation for more than three days concurrently, staff will contact the parents/carers to try to ascertain the reasons behind this.
          p Regular absences from Sparks Play &amp; Care could be an early sign and/or symptom that a child or family may be encountering some difficulties and might need support from the relevant statutory agencies. Sparks Play &amp; Care and its staff will always try to discover the causes of prolonged and unexplained absences.

        section
          h2 Escorting children between school and Sparks Play &amp; Care
          p Where children are escorted between school premises and Sparks Play &amp; Care, the following procedures will be carried out:
          p The Manager will ensure that a thorough risk assessment is carried out and regularly reviewed, according to the provisions of the Risk Assessment policy.
          p Children who attend Sefton Park Infants, Brunel Field and St Barnabas will be escorted directly from classrooms to Sparks Play &amp; Care&rsquo;s premises. Children who attend Sefton Park Junior will make their own way to the club and must make sure that an adult enters their arrival in the register.
          p There will be one adult staff member accompanying any such group.

        section
          h2 Missing children
          p
            strong Sparks Play &amp; Care has the highest regard for the safety of the children in our care. Staff will always be extremely aware of the potential for children to go missing during sessions.
          p Even when all precautions are properly observed, emergencies can still arise. Therefore members of staff will undertake periodic head counts, especially at the transition points between sessions (in addition to the registration procedures set out in the Arrival and Departures policy). If for any reason a member of staff cannot account for a child&rsquo;s whereabouts during a session at Sparks Play &amp; Care, the following procedure will be activated:
          ul
            li
              p The member of staff in question will inform both Leader in Charge and the rest of the staff team that the child is missing and a thorough search of the entire premises will commence. The staff team will be careful not to create an atmosphere of panic and to ensure that the other children remain safe and adequately supervised.
            li
              p Leader in Charge will nominate one member of staff, to search the area surrounding the premises. All staff will be extra vigilant to any potentially suspicious behaviour or persons in and around Sparks Play &amp; Care.
            li
              p If after 15 minutes of thorough searching the child is still missing, Leader in Charge will inform the police and then the child&rsquo;s parent/carer.
            li
              p While waiting for the police and the parent/carer to arrive, searches for the child will continue. During this period, other members of staff will maintain as normal a routine as is possible for the rest of the children at Sparks Play &amp; Care.
            li
              p Leader in Charges will be responsible for meeting the police and the missing child&rsquo;s parent/carer. Leader in Charges will co-ordinate any actions instructed by the police, and do all they can to comfort and reassure the parents/carers.
            li
              p Once the incident is resolved, Leader in Charge and the staff team will review relevant policies and procedures and implement any necessary changes (paying particular note to the relevant provisions of Sparks Play &amp; Care&rsquo;s Site Security and Risk Assessment policies).
            li
              p All incidents of children going missing from Sparks Play &amp; Care will be recorded in the Incident Record Book, and in cases where either the police or social services have been informed, Ofsted will also be informed, as soon as is practicable.

        section
          h2 Uncollected children
          p
            strong Sparks Play &amp; Care has the highest regard for the safety of the children in our care &ndash; from the moment they arrive to the moment that they leave.
          p At the end of every session, Sparks Play &amp; Care will ensure that all children are collected by a parent, carer or designated adult, in accordance with the Arrivals and Departures policy. If for some reason a child is not collected at the end of a session, the following procedures will be activated.
          ul
            li
              p If a parent, carer or designated adult is more than 15 minutes late in collecting their child, Leader in Charges will be informed.
            li
              p Leader in Charges will call the parent, carer or designated adult, and use any other emergency contact details available in order to try to ascertain the cause for the delay, and how long it is likely to last. Messages will always be left on any answerphone requesting a prompt reply.
            li
              p While waiting to be collected, the child will be supervised by at least two members of staff who will offer them as much support and reassurance as is necessary.
            li
              p If, after repeated attempts, no contact is made with the parent, carer or designated adult, and a further period of 30 minutes has elapsed, Leader in Charge will call the local social services department for advice.
            li
              p In the event of the social services being called and responsibility for the child being passed to a child protection agency, Leader in Charges will attempt to leave a further telephone message with the parent/carer or designated adults&rsquo; answerphone. Furthermore, a note will be left on the door of Sparks Play &amp; Care&rsquo;s premises informing the parent, carer or designated adult of what has happened. The note will reassure them of their child&rsquo;s safety and instruct them to contact the local social services department.
            li
              p Under no circumstances will a child be taken to the home of a member of staff, or away from Sparks Play &amp; Care&rsquo;s premises unless absolutely necessary, in the course of waiting for them to be collected at the end of a session.
            li
              p The child will remain in the care of Sparks Play &amp; Care until they are collected by the parent, carer or designated adult, or alternatively placed in the care of social services.
            li
              p Incidents of late collection will be recorded by Leader in Charge and discussed with parents/carers at the earliest opportunity. Parents and carers will be informed that persistent late collection may result in the imposition of a fine or the loss of their child&rsquo;s place at Sparks.
            li
              p Make record of incident
