---
title: Behaviour and Bullying Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p
            strong Sparks Play &amp; Care recognises the importance of positive and effective behaviour management strategies in promoting children&rsquo;s welfare, learning and enjoyment.
          p The aims of our Behaviour policy are to help children to
          ul
            li Develop a sense of caring and respect for one another.
            li Build caring and co-operative relationships with other children and adults.
            li Develop a range of social skills and help them learn what constitutes acceptable behaviour.
            li Develop confidence, self discipline and self esteem in an atmosphere of mutual respect and encouragement.

        section
          h2 Behaviour management strategies
          p Sparks Play &amp; Care staff team will manage behaviour according to clear, consistent and positive strategies. Parents/carers are encouraged to contribute to these strategies, raising any concerns or suggestions.
          p Behaviour management in Sparks Play &amp; Care will be structured around the following principles:
          ul
            li
              p Staff and children will work together to establish a clear set of &lsquo;ground rules&rsquo; governing all behaviour in Sparks Play &amp; Care. These will be periodically reviewed so that new children have a say in how the rules of Sparks Play &amp; Care operate.
            li
              p Sparks Play &amp; Care&rsquo;s &lsquo;ground rules&rsquo; will apply equally to all children and staff.
            li
              p Positive behaviour will be reinforced with praise and encouragement.
            li
              p Negative behaviour will be challenged in a calm but assertive manner. In the first instance, staff will try to re-direct children&rsquo;s energies by offering them alternative and positive options. Staff will be open in stating and explaining non-negotiable issues.
            li
              p When dealing with negative behaviour, staff will always communicate in a clear, calm and positive manner.
            li
              p Staff will make every effort to set a positive example to children by behaving in a friendly and tolerant manner themselves, promoting an atmosphere where children and adults respect and value one another.
            li
              p Staff will avoid shouting at work.
            li
              p Staff will facilitate regular and open discussions with children about their behaviour. This will help them to understand the negative aspects of their behaviour and enable them to have their say and be helped to think through the causes and effects of their actions.
            li
              p Staff will work as a team by discussing incidents and resolving to act collectively and consistently.
            li
              p Staff will try to discuss concerns with parents/carers at the earliest possible opportunity in an attempt to help identify the causes of negative behaviour and share strategies for dealing with it.
            li
              p Children who experience bullying, racism or other unacceptable behaviour will be given the confidence to speak out
            li
              p Staff will encourage and facilitate mediation between children to try to resolve conflicts by discussion and negotiation.
            li
              p Activities will be varied, well planned and structured, so that children are not easily bored or distracted.

        section
          h2 Dealing with negative behaviour
          p When confronted with negative behaviour, staff will be clear to distinguish between &lsquo;disengaged&rsquo;, &lsquo;disruptive&rsquo; and &lsquo;unacceptable&rsquo; behaviour.
          p &lsquo;Disengaged&rsquo; behaviour may indicate that a child is bored, unsettled or unhappy. With sensitive interventions, staff will often be able to re-engage a child in purposeful activity.
          p &lsquo;Disruptive&rsquo; behaviour describes a child whose behaviour prevents other children from enjoying themselves. Staff will collectively discuss incidents and agree on the best way to deal with them.
          p &lsquo;Unacceptable&rsquo; behaviour refers to non-negotiable actions and may include discriminatory remarks, violence, bullying or destruction of equipment. Staff will be clear that consequences will follow from such behaviour, including in the first instance, temporarily removing a child from the activity session.
          p When an incidence of negative behaviour occurs, staff will listen to the child or children concerned and hear their reasons for their actions. Staff will then explain to the child or children what was negative about their behaviour and that such actions have consequences for both themselves and for other people.
          p Staff will make every attempt to ensure that children understand what is being said to them. Children will always be given the opportunity to make amends for their behaviour and, unless it is judged inappropriate, be able to rejoin the activity.
          p In the event that unacceptable behaviour persists, more serious actions may have to be taken, in accordance with the Suspensions and Exclusions policy. At all times, children will have explained to them the potential consequences of their actions.

        section
          h2 Bullying
          p
            strong Sparks Play &amp; Care is committed to providing an environment for children that is safe, welcoming and free from bullying. Bullying of any form is unacceptable in Sparks Play &amp; Care, whether the offender is a child or an adult. The victim is never responsible for being the target of bullying.
          p Everyone involved in Sparks Play &amp; Care, staff, children and parent/carers, will be made aware of Sparks Play &amp; Care&rsquo;s stance towards bullying. Such behaviour will not be tolerated or excused under any circumstances.
          p Sparks Play &amp; Care defines bullying as the repeated harassment of others through emotional, physical, verbal or psychological abuse. Examples of such behaviour are as follows:
          dl
            dt Emotional
            dd
              p Being deliberately unkind, shunning or excluding another person from a group or tormenting them. For example, forcing another person to be &lsquo;left out&rsquo; of a game or activity, passing notes about others or making fun of another person.
          dl
            dt Physical
            dd
              p Pushing, scratching, spitting, kicking, hitting, biting, taking or damaging belongings, tripping up, punching or using any other sort of violence against another person.
          dl
            dt Verbal
            dd
              p Name-calling, put-downs, ridiculing or using words to attack, threaten or insult. For example, spreading rumours or making fun of another person&rsquo;s appearance.
          dl
            dt Psychological
            dd
              p Behaviour likely to instil a sense of fear or anxiety in another person.

        section
          h2 Preventing bullying behaviour
          p The staff team will make every effort to create a tolerant and caring environment in Sparks Play &amp; Care, where bullying behaviour is not acceptable. Staff will discuss the issues surrounding bullying openly, including why bullying behaviour will not be tolerated and what the consequences of bullying behaviour will be.

        section
          h2 Dealing with bullying behaviour
          p Despite all efforts to prevent it, bullying behaviour is likely to occur on occasion and Sparks Play &amp; Care recognises this fact. In the event of such incidents, the following principles will govern Sparks Play &amp; Care&rsquo;s response:
          ul
            li
              p All incidents of bullying will be addressed thoroughly and sensitively.
            li
              p Children will be encouraged to immediately report any incident of bullying that they witness. They will be reassured that what they say will be taken seriously and handled carefully.
            li
              p Staff have a duty to inform the Manager if they witness an incident of bullying involving children or adults at Sparks Play &amp; Care.
            li
              p If a child or a member of staff tells someone that they are being bullied, they will be given the time to explain what has happened and reassured that they were right to tell.
            li
              p The individual who has been the victim of bullying will be helped and supported by the staff team. They will be kept under close supervision and staff will check on their welfare regularly.
            li
              p In most cases, bullying behaviour can be addressed according to the strategies set out in the Behaviour Management policy. The bully will be encouraged to discuss their behaviour and think through the consequences of their actions. Where appropriate, they will be encouraged to talk through the incident with the other person concerned.
            li
              p Where bullying behaviour persists, more serious actions may have to be taken, as laid out in the Suspensions and Exclusions policy.
            li
              p A member of staff will inform the parents/carers of all the children involved in a bullying incident at the earliest possible opportunity. If appropriate, staff will facilitate a meeting between the relevant parents/carers. At all times, staff will handle such incidents with care and sensitivity.
            li
              p All incidents of bullying will be reported to the Manager and will be recorded in the Incident Record Book. In the light of reported incidents, the Manager and other relevant staff will review Sparks Play &amp; Care&rsquo;s procedures in respect of bullying.

        section
          h2 Suspensions and exclusions
          p
            strong Sparks Play &amp; Care is committed to dealing with negative behaviour in a non-confrontational and constructive manner. Wherever possible, disruptive or challenging behaviour will be tackled collectively between staff and children in Sparks Play &amp; Care. Such procedures are outlined in the Behaviour Management policy.
          p However, there are occasions when such strategies alone will not alter or prevent negative behaviour. In such cases, further action will be necessary, including reviewing a child&rsquo;s place at Sparks Play &amp; Care, on either a temporary or permanent basis.
          p Persistent unacceptable behaviour from a child will result in them receiving a formal warning from staff about their actions. Staff will explain to the child why their behaviour is unacceptable and the consequences of any further such incidents. Children will be encouraged to discuss their behaviour, to explain their actions, and helped to develop strategies to avoiding repeat incidents.
          p Details of all warnings, suspensions and exclusions will be recorded and kept on Sparks Play &amp; Care&rsquo;s records. Each warning should be discussed with the child concerned and their parent/carer. All staff will be made aware of any warnings given to a child. As a last resort, Sparks Play &amp; Care has the right to temporarily suspend or permanently exclude a child in the event of persistent and irresolvable unacceptable behaviour.
          p Only in the event of an extremely serious or dangerous incident will a child be suspended from Sparks Play &amp; Care with immediate effect. In such circumstances, the child&rsquo;s parent/carer will be contacted immediately and asked to collect their child, even if the child normally signs themselves out. Children will not be allowed to leave the premises until a parent/carer arrives to collect them.
          p After an immediate suspension has taken place, the Manager will arrange a meeting with the child concerned and their parents/carers to discuss the incident and decide if it will be possible for them to return to Sparks Play &amp; Care.
          p Suspensions and exclusions should be seen as consistent, fair and proportionate to the behaviour concerned. In setting such a sanction, consideration should be given to the child&rsquo;s age and maturity. Any other relevant information about the child and their situation should also be considered.
          p Children will only be suspended or excluded as a last resort, when there is no alternative action that could be taken, or when it is felt that other children and/or staff are potentially at risk. Wherever possible, Sparks Play &amp; Care will give parents/carers time to make alternative arrangements for childcare during a period of suspension.
          p Staff should always keep parents/carers informed about behaviour management issues relating to their child and attempt to work with them to tackle the causes of disruptive or unacceptable behaviour.
          p No member of staff may impose a suspension from Sparks Play &amp; Care without prior discussion with the Manager. Staff will consult the Manager as early as possible if they believe that a child&rsquo;s behaviour is in danger of warranting suspension or exclusion.
          p When a suspension is over and before a child is allowed to return to Sparks Play &amp; Care, there will be a discussion between staff, the child and their parent/carer, setting out the conditions of their return.
