---
title: Child Protection Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p This child protection policy and procedure forms part of our safeguarding children arrangements. 

          h2 Aims
          p Our setting considers that the welfare of the child is paramount and it is the duty of members, staff and volunteers under HM Government’s Working Together to Safeguard children 2018 to implement this policy, and to ensure that it has in place appropriate procedures to safeguard the well-being of children and young people and protect them from abuse.
         
          section
            h3 (A) Implementation and Monitoring
            ul
              li
                p The Management Committee will appoint a Child Protection Officer. 
              li
                p A role of the Child Protection Officer will be to identify a member of staff (Designated Senior) to take the lead responsibility for safeguarding children within the setting and liaising with local statutory children’s services agencies as appropriate. The Designated Senior must attend an inter-agency child protection training course, to be updated at least every 2 years.
              li
                p This Child Protection Officer will receive reports from the Designated Senior of any occasions when there are concerns or issues of Child Protection.
              li
                p All staff and volunteers are to undertake child protection training and this to be updated every 3 years. There will be an annual update for all staff to keep practice updated, run by senior staff. The CP policy must be part of the induction for all staff and volunteers.
              li
                p The setting will review this policy annually, to ensure it is being implemented
              li
                p If the Designated Senior is uncertain about concerns about a child, consultation with Families in Focus should take place.

            h3 Definitions of Abuse
            p Child abuse is any action by another person – adult or child – that causes significant harm to a child.
            p The 1989 Children Act recognises four categories of abuse:
            ul
              li
                h4 Physical Abuse
                p Actual or likely physical injury to a child, or failure to prevent physical injury. Physical harm may also be caused when a parent or carer fabricates the symptoms of or deliberately induces illness in a child.
              li
                h4 Sexual Abuse
                p Involves forcing or enticing a child or young person to take part in sexual activities, not necessarily involving a high level of violence, whether or not the child is aware of what is happening. Sexual abuse also includes non-contact activities, such as involving children in looking at or in the production of sexual images.
              li
                h4 Emotional Abuse
                p Severe or persistent emotional ill treatment or rejection likely to cause adverse effect on the emotional and behavioural development of a child. It may involve seeing or hearing the ill-treatment of another. Some level of emotional abuse is involved in all types of maltreatment of a child, though it may occur alone. 
              li
                h4 Neglect
                p The persistent failure to meet a child’s basic physical and/or psychological needs, or the failure to protect a child from exposure to any kind of danger, resulting in the significant impairment of a child’s health or development, including failure to thrive.
                
            h3 Other recognised categories of abuse:
            ul
              li
                h4  Historical Abuse
                p There may be occasions when a child will disclose abuse (either sexual, physical, emotional or neglect) which occurred in the past.  This information needs to be treated in exactly the same way as a disclosure of current child abuse.  The reason for this is that the abuser may still represent a risk to children now.
              li
                h4 Domestic Abuse
                p Staff may be working with children experiencing violence at home. Children experiencing this may demonstrate many of the symptoms listed in section A.  Staff will need to treat them sensitively, record their concerns and consider informing First Response. 
              li
                h4 Female Genital Mutilation (FGM)
                p FGM has been a criminal offence in the UK since 1985. In  2003 it also became a criminal offence for  UK nationals or permanent residents to take their child abroad to have female genital mutilation (Female Genital Mutilation Act 2003) Anyone found guilty of the offence faces a maximum penalty of 14 years in prison.
                p Section 73 of the Serious Crime Act 2015 amended the Female Genital Mutilation Act to include FGM protections orders (FGMPOs). A FGM protection order is a civil measure which can be applied for through a family court. The FGM protection order offers the means of protecting actual or potential victims from FGM under civil law.

            p It is helpful if you can have conversations at the earliest opportunity with parents and carers and provide information in leaflets and posters about FGM from the BAVA website #[a(href='http://www.bava.org.uk/types-of-abuse/female-genital-mutilation/') http://www.bava.org.uk/types-of-abuse/female-genital-mutilation/]
            p All agencies have a statutory responsibility to safeguard children in terms of preventing girls from FGM and identifying children who have already survived the procedure.  It is important that staff are aware of what FGM is and the signs to look out for girls at risk of the practice. For more information please go to the BSCB FGM Safeguarding Guidance: #[a(href='https://bristolsafeguarding.org/children-ome/professionals/policies/#FGM') https://bristolsafeguarding.org/children-ome/professionals/policies/#FGM]
            p Being able to identify girls who are at risk needs a sensitive approach.
            p The Bristol Safeguarding Children Board has created an FGM referral risk assessment for professionals to consider risks of girls from FGM. #[a(href='https://bristolsafeguarding.org/media/27269/fgm-referral-risk-assessment-2018.pdf') https://bristolsafeguarding.org/media/27269/fgm-referral-risk-assessment-2018.pdf]
            p At any time you may seek advice from BAND, Families in Focus or First Response, a record of the outcome of using the risk assessment must be kept.
            p Consider whether any other indicators exist that suggest FGM may have or has already taken place, for example:
            ul
              li The child has changed in behaviour after a prolonged absence from the setting 
              li The child has health problems, particularly bladder or menstrual problems;
              li The child has difficulty walking, sitting or standing and may appear to be uncomfortable.
            p If a girl is at immediate risk of FGM taking place it is a significant child protection issue and must be reported to the police and/or First Response.
            p You have a statutory duty to report if a girl under 18 informs you they have had FGM or if you see it. If FGM has taken place it is a significant child protection issue and must be documented and reported to First Response and/or the police. 
            p When FGM has taken place, the Children’s social care team will liaise with the health services so that a statutory safeguarding assessment takes place and to look at how the girl and family will be supported to access appropriate health care if needed. Legal action may be considered.
            p For more information on this topic, see the online South West Child Protection Procedures, NSPCC or locally BAVA. Contact details in the appendix.
            
            h3 The Prevent Duty
            p It is essential that staff members are able to identify children who may be vulnerable to radicalisation, and know what to do when they are identified. Staff will be trained to recognise possible signs. In line with our e-safety policy appropriate controls for digital content will be in place.
            p There is no single way of identifying an individual who is likely to be susceptible to a terrorist ideology. As with managing other safeguarding risks, staff should be alert to changes in children’s behaviour which could indicate that they may be in need of help or protection. It is important to take action if staff observe behaviour of concern. The Police Prevent Team can give advice, contact 01278 647466 or ring 101 and ask for the Prevent team, explaining you are calling about extremism or radicalisation.
            p Any concerns about a child will be referred through First Response or the police. The concern may then be dealt with through usual safeguarding processes or referred to the Channel process. For information regarding the Channel process an email address is in the appendix along with other contacts.
            p In addition if you think a child is at risk of extremism you must contact the Counter Extremism Group at email: #[a(href='counter.extremism@education.gsi.gov.uk') counter.extremism@education.gsi.gov.uk] or Tel: 020 7340 7264
            
            h3 Non-Mobile Babies
            p Injuries in Non-mobile babies are rare and must be further investigated by a paediatrician even if an explanation seems plausible. Early Years Settings and Childminders working with non-mobile babies need to follow the Bristol Safeguarding Children Board “Addendum to the Multi Agency Guidance for Injuries in Non- Mobile babies”. 
            p If settings need to use the procedure, it is important that as well as arranging for the baby to be examined by the Community Paediatrician settings contact Social Care / First Response to request checks are made on the family. This information will be made available to the Community Paediatrician to help in any risk assessment of the injury. This is not the same as making a referral and parents should be reassured that this is the case, but it is important that they check to see if the baby is already known to Social Care.
            
            h3 Confidentiality and Appropriate Disclosure of Information
            p Confidentiality is crucial to all our relationships, but the welfare of the child is paramount. The law does not allow anyone to keep concerns relating to abuse to themselves.  Therefore, confidentiality may not be maintained if the withholding of information will prejudice the welfare of the child.
            p All information that has been collected on any child will be kept locked and secure and access will be limited to the appropriate staff, management and relevant agencies.  
            p In the event of an investigation it is essential that no information on child protection concerns relating to a child are disclosed inappropriately.  Any such leaks could have serious consequences for both the child concerned and any investigation.
            p If uncertain about what information may be shared, take advice or refer to HM Government’s Information Sharing, Advice for practitioners. (Please see Further Information section for a link.)
            ul
              li
                p Whilst parents / carers have the right to see any records kept on their child, this might not always be appropriate and should not put the child or yourself at risk.
              li
                p It is very important that only those who need to know, actually know, to avoid rumour and gossip that could affect the child, parent / carer and the group.
                
            h3 Transfer of a Child Protection Safeguarding file from one education setting to another
            p
              em e.g. from an early years setting to another early years setting or to a school.
            ul
              li
                p The Designated Senior must inform the receiving setting that the child has a child protection file and must do so within 5 school days of being notified of the transfer. 
              li
                p The Designated Senior should pass the original copy of the child protection/ safeguarding file to the receiving setting; this should be delivered separately to the child’s main file and be delivered either by hand or by recorded delivery. The parents/carers of the child must never be used to transfer the child protection file. The transfer must happen within five school days from notification and the setting should record that the transfer has been made. 
              li
                p The setting should ensure that confidentiality is maintained and the transfer process is as safe as possible. 
              li
                p If the setting receives a new child that has been attending a previous setting, then the setting should ask the previous setting if the child has a child protection/ safeguarding file.
              li
                p If so, once the transfer of the file has been made, the setting should record that the file has been received (receipt) and keep this record for 6 years. 
              li
                p Settings should keep a copy of the transferred file themselves for a minimum of 6 years and/or until the child reaches their 25th birthday.
              
              p Please refer to the BSCB document “Guidance on the Transfer of a Child Protection Safeguarding file to another education setting”, for full details of what should be in a file, how to transfer it and what records should be retained.
              p Parents/carers will be made aware at registration that as an education provider we have a duty to share/pass on child protection/safeguarding information to the next education provider.
              
          section
            h3 (B) Protecting Children and Young People
            p Please refer to BSCB Bristol Multi Agency Threshold Guidance, to help you identify the response needed.
            
            h4 Recognising abuse 
            ul
              li
                p Recognising abuse is one of the first steps in protecting children and young people.  There could be signs or behaviour that make you feel concerned.  All staff should be alert to the following types of behaviour in the children:
              li
                p Becoming excessively aggressive, withdrawn or clingy.
              li
                p Seeming to be keeping a secret
              li
                p Significant changes in children’s behaviour
              li
                p Deterioration in children’s well-being
              li
                p Unexplained bruising, marks or signs of possible abuse or neglect.
              li
                p Any bruising on a non-mobile baby
              li
                p Unreasonable fear of certain people or places
              li
                p Acting out in an inappropriate way,  perhaps with adults, other children, toys or objects
              li
                p Children’s comments which give cause for concern, e.g.: inconsistent explanations of bruising, injuries or burns 
              li
                p Self-harm
              li
                p Sexually explicit language or actions
              li
                p Are upset, withdrawn or angry after using the internet or texting
              li
                p Children who go missing, particularly on repeat occasions
            p Staff should be equally vigilant regarding signs relating to disabled children and not automatically assume that any of the above relates to their impairment.
            p Not all concerns about children or young people relate to abuse, there may well be other explanations. It is important to keep an open mind and consider what you know about the child and their circumstances.
            p If you are worried, it #[em is not] your responsibility to investigate and decide if it is abuse.  It #[em is] your responsibility to act on your concerns and do something about it.
            
            h4 What to do if Abuse is Disclosed 
            p The setting is committed to ensuring that it meets its responsibilities in respect of child protection by treating any allegation seriously and sensitively.
            ul
              li
                p Stay calm.
              li
                p Listen to what the child / young person is actually saying.
              li
                p Reassure them that they have done the right thing by telling you. 
              li
                p Ask Open questions, e.g.: Can you tell me why you are upset? Can you tell me what is frightening you? Can you tell me why you don’t want to go home today? Open questions enable you to gain information and clarification.
              li
                p Don’t ask leading questions. This could lead a child to say something or agree with you wrongly. A closed question is: Are you afraid to go home because your Mum will hit you?
              li
                p Do not ask the child / young person to repeat what they have they told you, for another worker or committee member; as if the matter is to be investigated further it will be done so by trained professionals.
              li
                p Do not promise the child that this information can be kept secret, as subsequent disclosure could then lead to the child feeling betrayed.  
              li
                p If appropriate explain to the child who you are going to tell and why. If the child asks what might happen next, it is ok to say that you don’t know, but that you can be there to support them if they want.
              li
                p Make a note of any conversations with the child, trying to make these as detailed as possible, including when and where the conversations took place.  Draw a diagram, if appropriate, to show the position of any bruises or marks the child or young person shows you, trying to indicate the size, shape and colour.
              li
                p Record as soon as possible and use the actual words used by the child.
              li
                p Keep all records factual.  Be aware of not making assumptions or interpretations of what the child / young person is telling you.  Store all records securely.
              li
                p Discuss your concerns with the Designated Senior responsible for child protection.  If the allegations implicate the senior worker, the concerns should be discussed with the next tier of line management - the named committee member responsible for child protection (the Child Protection Officer. This must be reported as soon as possible to the LADO.  See details in the Staff allegations section)
              li
                p If appropriate, inform parents / carers that you are going to report your suspicions / concerns.  This might not always be possible and should not put the child or yourself at risk.  When you report an incident, First Response/duty officer will ask you if the parent / carer has been informed.  If they haven’t, they will want to know the reasons why.
              li
                p If possible, you, or your Designated Senior, will report this information to an appropriate agency, mostly this will be First Response who will triage your call (see Appendix A). You can contact First Response by phone or if it is at the Families in Focus (previously called Early Help) level, by using the online Request for Help form (see link in ‘further information’).
              li
                p First Response will assess your call and pass you onto an appropriate agency. This will be Social Care (Level 3 Statutory Response) if it is a Child Protection issue or Families in Focus (Level 2 Escalating, Targeted support/Escalating Needs) if the concern is at a lower level but a multiagency response is needed. First Response may also signpost to other services or even ask you to plan to support the child. (Level 1 Plus Additional support Universal Services).
              li
                p Once the referral has been made, if appropriate, you can tell the child what is going to happen and what to expect.
                
          h4 What to do if Abuse is Suspected
          p If any signs or symptoms lead you to feel concerned that a child may be being abused or neglected, it is important that you record these (what, when & where) and share these concerns with the Designated Senior.
          p Decide a plan of action:
          ul
            li
              p Ongoing observation of the child noting any further concerns.
            li
              p Discussion with other staff to gain further information they may have.
            li
              p Discussion with Parents/carers to establish if there might be reasons for the child’s behaviour /actions.
            li
              p Keep an open mind and avoid assumptions about the source of the harm.
            li
              p Work with the child and parents/carers to reduce risk, this may be by offering a service through your setting or by referring to additional support externally.
              
          p If you or the Designated Senior is uncertain about whether the concern is reportable, call the Families in Focus Team for advice.
          p If you are still concerned about the welfare of the child / young person, this information must be passed on to First Response. Parents / carers should be informed unless you think this could put the child or yourself at risk.
          p First Response will assess your call and pass you onto an appropriate agency. This will be Social Care (Level 3 Statutory Response) if it is a Child Protection issue or Families in Focus (Level 2 Escalating, Targeted support/Escalating Needs) if the concern is at a lower level but a multiagency response is needed. First Response may also signpost to other services or even ask you to plan to support the child. (Level 1 Plus Additional support Universal Services).
          p If First Response has been contacted and they pass you to Children’s' Social Care, they should let you know that they are responding to what you have told them. If you have not heard from the Social Care team, it may be appropriate to contact them to ensure that the details you gave them have been taken into consideration and acted upon.
          
          h4 What to do if it is an emergency
          p If you think a child is in immediate danger you should telephone the police on 999. In all other circumstances you need to refer the matter to First Response and follow the procedure described in section 1 above.
          p In a medical emergency your first action may need to be one of the following:
          ul
            li Telephone for an ambulance, or,
            li Ask the parent to take the child to the hospital at once, or,
            li Take the child yourself
          p The child is the legal responsibility of the parent/carer and they must be involved as soon as practical, unless to do so would put the child at immediate risk of harm. Having taken the necessary emergency action it is important that you make immediate contact with First Response. If it is out of office hours, contact the Emergency duty team.
        
        section
          h3 (C) Working with Children and Young People
          
          h4 1. Recognising inappropriate behaviour in staff, volunteers and other adults.
          p There is no guaranteed way to identify a person who will harm children. However, there are possible warning signs. These may include:
          ul
            li Paying an excessive amount of attention to a child or groups of children, providing presents, money or having favourites
            li Seeking out vulnerable children, e.g. disabled children
            li Trying to spend time alone with a particular child or group of children on a regular basis
            li Making inappropriate sexual comments
            li Sharing inappropriate images
            li Being vague about where they have worked or when they have been employed
            li Encouraging secretiveness 
          p There may be other sources of concern; this is not a conclusive list. If you are concerned about another staff member or volunteer’s behaviour you need to pass this on to the Designated Senior.

          h4 2. If a Staff Allegation is made, or you Suspect a Member of Staff or Volunteer of Abuse or Inappropriate Behaviour: 
          p The LADO MUST be involved and consulted on ALL staff allegation incidents before an investigation of any type occurs.
          p If it appears that a staff member or volunteer has:
          ul
            li behaved in a way that has harmed a child, or may have harmed a child, or,
            li possibly committed a criminal offence against or related to a child, or,
            li behaved towards a child or children in a way that indicates he or she may pose a risk of harm to children
          p then these procedures must be followed:
          ul
            li
              p Record your concerns and report them to the Designated Senior.
            li
              p The Designated Senior should take steps to ensure that during the remainder of the working day that particular member of staff is not left in sole charge of the children or any child.  
            li
              p At the earliest opportunity, contact the setting’s Child Protection Officer - see list in Appendix A.  
            li
              p It may be clear in some cases, where a child has been injured and/or there is clear evidence of significant harm or risk of significant harm,  an immediate referral must be made to the police, First Response or emergency services. In addition:
            li
              p Either the Designated Senior or the Child Protection Officer must then contact the Local Authority Designated Officer (LADO) WITHIN 1 WORKING DAY of receiving the report of an allegation.
            li
              p Local Authority Designated Officer (LADO)
            li
              p Telephone: 0117 903 7795 or Work Mobile: 07795 091020
            li
              p The setting should then follow the LADO’s advice on how to deal with allegations against staff.  Note:  Do not start any investigation into the allegation until the LADO has been contacted.
            li
              p The setting should take advice from the LADO on how and when to inform the parents of the child.
            li
              p The setting is required to inform OFSTED of any allegations of abuse against a member of staff, student or volunteer, or any abuse that is alleged to have taken place on the premises or during a visit or outing within 14 days. (See Appendix A.)
            li
              p If the concern is regarding the Designated Senior, the above procedure will be followed but the report will be made to the Deputy worker/Child Protection Officer.

          h4 3. Support to Staff and Volunteers
          p The management committee will fully support all members of staff in following this procedure. Following an allegation or investigation:
          ul
            li
              p Staff and volunteers who work with issues of child protection may themselves need support in dealing with the emotional distress this can cause. They can talk to the setting’s Child Protection Officer and any of the appropriate agencies listed in Appendix A.
            li
              p Staff, volunteers or management members may also be subject to allegations of abusing children in relation to their work for the setting. While support will be offered to these individuals by the setting, we will ensure that the agency dealing with the matter is given all assistance in pursuing any investigation and the Bristol LADO will be informed. The disciplinary procedure may be implemented.

          h4 4. Recruitment and employment of Staff and Volunteers
          ul
            li
              p We acknowledge that paedophiles and those that pose a threat to children may be attracted to employment that allows them access to children and young people.  As part of this policy we will ensure that people working with the children are safe to do so. 
            li
              p All staff (including the setting’s Manager/Leader) and volunteers will be checked by the Disclosure and Barring Service on joining the scheme, to be renewed every 3 years. 
            li
              p All people connected with the setting must declare all convictions/cautions incurred since DBS disclosure which may affect their suitability to work with children.
            li
              p All people connected with the setting must declare their disqualification status and that of other persons living or working in their household.
            li
              p Two references will be taken up prior to appointment for new staff and volunteers and a medical reference may also be required.
            li
              p The selection and interview procedure of the setting will be adhered to. This must include a full employment history, qualifications, interview and identity checks.
            li
              p Providers must also meet their responsibilities under the Safeguarding Vulnerable Groups Act 2006 which includes a duty to make a referral to the Disclosure and Barring Service where a member of staff is dismissed (or would have been had the person not left the setting first) because they have harmed a child or put a child at risk of harm.

          h4 5. Use of Mobile Phones, Cameras and E safety
          p We are aware of the risks associated with the use of mobile phones and cameras in the setting.  To manage this appropriately we have a separate policy regarding the use of these devices. In addition we will ensure that all internet compatible devices used in the setting will have appropriate filters and controls.

          h4 6. Staff Behaviour
          p All staff, volunteers and management members within the setting recognise that they need to conduct themselves in an appropriate, open and transparent way to ensure a safer environment for all. 
          p In addition we will use “Guidance for Safer Working Practice for those working with children and young people in education settings,” as a tool to develop setting specific guidance on behaviour for staff and volunteers.

          h4 7. Whistleblowing
          p We have a separate whistle blowing procedure so serious and or systemic concerns about senior staff or management may be reported to more senior member of staff/management or to an appropriate external organisation if necessary. Allegations about specific staff members should be dealt with in line with the staff allegation section earlier in this document.

        section
          h2 (D) Further Information 
          ul
            li
              p
                | South West Child Protection Procedures – provide detailed online information on all aspects of child protection, e.g: Staff allegations —
                a(href='http://www.swcpp.org.uk') http://www.swcpp.org.uk
            li
              p
                | “Addendum to the Multi Agency Guidance for Injuries in Non- Mobile babies” —
                a(href='http://bandltd.org.uk/development-support/safeguarding-non-mobile-babies-addendum-early-years-settings-childminders') http://bandltd.org.uk/development-support/safeguarding-non-mobile-babies-addendum-early-years-settings-childminders
            li
              p
                | Working Together to Safeguard Children 2018 —
                a(href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/722305/Working_Together_to_Safeguard_Children_-_Guide.pdf') https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/722305/Working_Together_to_Safeguard_Children_-_Guide.pdf
            li
              p
                | First Response online Request for Help form — (Please note you cannot print off a copy of this form, so keep a record of the information sent) Do not send any child or family details by unsecured email. —
                a(href='https://www.bristol.gov.uk/en_US/social-care-health/report-concern-about-child-for-professionals') https://www.bristol.gov.uk/en_US/social-care-health/report-concern-about-child-for-professionals
            li
              p
                | Guidance for safer working practice for those working with children and young people in education settings —
                a(href='http://www.safeguardinginschools.co.uk/wp-content/uploads/2015/10/Guidance-for-Safer-Working-Practices-2015-final1.pdf') http://www.safeguardinginschools.co.uk/wp-content/uploads/2015/10/Guidance-for-Safer-Working-Practices-2015-final1.pdf
            li
              p
                | Information sharing. Advice for practitioners providing safeguarding services to children, young people, parents and carers. 2018 —
                a(href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/721581/Information_sharing_advice_practitioners_safeguarding_services.pdf') https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/721581/Information_sharing_advice_practitioners_safeguarding_services.pdf
            li
              p
                | BSCB “Guidance on the transfer of a child protection safeguarding file to another educational setting” —
                a(href='https://bristolsafeguarding.org/media/1162/guidance-on-transfer-info-in-education.pdf') https://bristolsafeguarding.org/media/1162/guidance-on-transfer-info-in-education.pdf
            li
              p
                | Prevent Duty Guidance for England and Wales —
                a(href='https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/439598/prevent-duty-departmental-advice-v6.pdf') https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/439598/prevent-duty-departmental-advice-v6.pdf
            li
              p
                | BSCB Threshold Guidance-2018 –
                a(href='https://bristolsafeguarding.org/children-home/professionals/policies/#ThresholdGuidance') https://bristolsafeguarding.org/children-home/professionals/policies/#ThresholdGuidance

        section              
          h2 Appendix A – Useful contacts
          h4 Director responsible for Child Protection (Child Protection Officer)
          p Name/s: Carole Theyer if on annual leave then please report to Liam Jefferies
          
          h4 Staff Designated Senior/Lead Practitioner responsible for Child Protection (Designated Senior & Deputy Designated Senior)
          p Name: Liam Jefferies, Emily Dalton and Ian Holder
          p If the allegation is about Carole Theyer or Liam Jefferies as they are related, then in the first instance the referral must be made to Emily Dalton or Ian Holder.
          
          h4 Referral Agencies
          p First Response – 0117 9036444 (all Bristol)
          p The place to call if you are concerned about a child or young person or think they need some help. Calls to First Response may result in direct referral to a Social Work Team or to Early Help and/or advice and guidance being given about services to help families.
          ul
            li Early Help: North 0117 352 1499; East / Central 0117 941 5886 ; South 0117 903 7770
            li Disabled Children Team (all Bristol) - Tel: 0117 9038250
            li Emergency Duty Team /Out of Office Hours Tel: 01454 615 165 
            li Police:  Non emergency – Tel: 101 Emergency – Tel: 999
            li On-Call Consultant Paediatrician (via BRI Switchboard) 0117 923 0000 – non-mobile babies

          h4 For Staff Allegations Contact
          ul
            li Local Area Designated Officer - Telephone 0117 903 7795, Work mobile: 07795 091020
            li Registered providers must inform Ofsted of any allegations of serious harm or abuse as soon as reasonably practicable, but at the latest within 14 days of the allegations being made.
            li Ofsted Compliance and Investigation Team (For reporting any Child Protection concerns).-Tel: 0300 123 1231
            li Ofsted Whistleblowing hotline – 0300 123 3155
            li Support and advice
            li South West Child Protection Procedures (online guidance) – #[a(href='http://www.swcpp.org.uk') http://www.swcpp.org.uk]
            li Childline -Tel: 0800 1111 (open 24 hours)
            li National Association for the Prevention of Cruelty to Children (NSPCC) -Tel: 0800 800 500
            li NSPCC Whistleblowing hotline – 0800 0280 285
            li NSPCC FGM helpline: 0800 028 3550 or email #[a(href='mailto:fgmhelp@nspcc.org.uk') fgmhelp@nspcc.org.uk].
            li Bristol Against Violence and Abuse (BAVA) email #[a(href='mailto:bava@bristol.gov.uk') bava@bristol.gov.uk] or #[a(href='www.bava.org.uk') www.bava.org.uk]
            li Bristol Safeguarding Children Board (training) - Tel: 0117 3532505
            li Channel info: #[a(href='mailto:channelsw@avonandsomerset.pnn.police.uk') channelsw@avonandsomerset.pnn.police.uk]
            li BAND Development and Support Worker – Tel: 0117 9542128 
