---
title: Child Protection Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          h2 Aims
          ul
            li
              p
                strong We consider it the duty of members, staff and volunteers to protect children and young people who they come into contact with from abuse. This is part of our safeguarding children procedure.
            li
              p
                strong Not all concerns about children or young people relate to abuse, there may well be other explanations. It is important to keep an open mind and consider what you know about the child and their circumstances.
            li
              p
                strong If you are worried, it #[em is not] your responsibility to investigate and decide if it is abuse. It #[em is] your responsibility to act on your concerns and do something about it.

          h2 Definition of Abuse
          p The 1989 Children Act recognises four categories of abuse:
          ul
            li
              p #[strong Physical Abuse] &ndash; actual or likely physical injury to a child, or failure to prevent physical injury.
            li
              p #[strong Sexual Abuse] &ndash; actual or likely sexual exploitation of a child or adolescent. The child may be dependent or developmentally immature.
            li
              p #[strong Emotional] Abuse &ndash; severe or persistent emotional ill treatment or rejection likely to cause adverse effect on the emotional and behavioural development of a child. All abuse involves some emotional ill treatment.
            li
              p #[strong Neglect] &ndash; the persistent or severe neglect of a child, or the failure to protect a child from exposure to any kind of danger, resulting in the significant impairment of a child&rsquo;s health or development, including non-organic failure to thrive.

        section
          h2 Historical Abuse
          p There may be occasions when a child will disclose abuse (either sexual or physical) which occurred in the past. This information needs to be treated in exactly the same way as a disclosure of current child abuse. The reason for this is that the abuser may still represent a risk to children now.

        section
          h2 Domestic Abuse
          p Staff may be working with children experiencing violence at home. Children experiencing this may demonstrate many of the above symptoms. Staff will need to treat them sensitively, record their concerns and consider informing Social Services.

          h3 Female Genital Mutilation (FGM)
          p Female circumcision is illegal in the UK and it is an offence to take UK nationals abroad to aid, abet or carry out FGM. All agencies have a statutory responsibility to safeguard children from being abused through FGM. If you are concerned that a girl is at risk of FGM this is a child protection issue and must be documented and reported to First Response and or the police.
          p Some warning signs that #[strong MAY] indicate a girl is at risk of FGM include:
          ul
            li Parents requesting an extended leave from school on top of school holidays
            li If a girl comes from a country that has high prevalence of FGM
            li Mother and other siblings have already undergone FGM
            li Child may indicate that they are going for a special event
          p For more information on this topic, see the online South West Child Protection Procedures or the contact the NSPCC. Contact details in the appendix.

        section
          h2 Confidentiality and Appropriate Disclosure of Information
          p Confidentiality is crucial to all our relationships, but the welfare of the child is paramount. The law does not allow anyone to keep concerns relating to abuse to themselves. Therefore, confidentiality may not be maintained if the withholding of information will prejudice the welfare of the child.
          ul
            li
              p All information that has been collected on any child will be kept locked and secure and access will be limited to the appropriate staff, management and relevant agencies.
            li
              p In the event of an investigation it is essential that no information on child protection concerns relating to a child are disclosed inappropriately. Any such leaks could have serious consequences for both the child concerned and any investigation.
            li
              p Whilst parents / carers have the right to see any records kept on their child. This might not always be appropriate, and should not put the child or yourself at risk.
            li
              p It is very important that only those who need to know, actually know, to avoid rumour and gossip that could affect the child, parent / carer and the group.

          h3 Recognising Abuse
          p Recognising abuse is one of the first steps in protecting children and young people. There could be signs or behaviour that make you feel concerned. All staff should be alert to the following types of behaviour in the children:
          ul
            li Becoming excessively aggressive, withdrawn or clingy.
            li Seeming to be keeping a secret.
            li Personality changes &ndash; becoming insecure.
            li Unreasonable fear of certain people or places.
            li Acting out in an inappropriate way perhaps with adults, other children, toys or objects.
            li Inconsistent explanations of bruising, injuries or burns.
            li Sexually explicit language or actions.
          p
            strong Staff should be equally vigilant regarding signs relating to disabled children and not automatically assume that any of the above relates to their impairment.

          h3 What to do if Abuse is Disclosed
          p Sparks is committed to ensuring that it meets its responsibilities in respect of child protection by treating any allegation seriously and sensitively.
          ul
            li
              p Stay calm.
            li
              p Listen to what the child / young person is actually saying.
            li
              p Reassure them that they have done the right thing by telling you.
            li
              p Do not promise the child that this can be kept secret, as subsequent disclosure could then lead to the child feeling betrayed. Explain that you are obliged to inform other people.
            li
              p Reassure the child that the people who will be informed will be sensitive to their needs and will be looking to help protect them. Inform them that it is not in their interests to keep the disclosure confidential and it will have to be passed on to the appropriate agencies.
            li
              p Make a note of any conversations with the child, trying to make these as detailed as possible, including when and where the conversations took place. Draw a diagram, if appropriate, to show the position of any bruises or marks the child or young person shows you, trying to indicate the size, shape and colour.
            li
              p Record as soon as possible and use the #[strong actual words] used by the child.
            li
              p Keep all records factual. Be aware of not making assumptions or interpretations of what the child / young person is telling you. Store all records securely.
            li
              p #[strong Do not interrogate] the child, or push for more information. Ensure that any questions asked are open, not leading closed questions. Do not ask the child / young person to repeat what they have they told you, for another worker. Record accurately.
            li
              p If possible, report this information yourself to the Sparks Child Protection Officer who will make the referral to the appropriate agency.
              p Discuss your concerns with the senior worker responsible for child protection. If the allegations implicate the senior worker, the concerns should be discussed with the next tier of line management - the named Director responsible for child protection.
            li
              p The person to whom the disclosure was made should ensure that the child who has disclosed the information is informed about what will happen next, so they can be reassured about what to expect.

          h3 What to do if Abuse is Suspected
          ul
            li
              p The playworker should keep monitoring the child&rsquo;s behaviour, making a note of any particular concerns (when, where and what happened).
            li
              p Discuss concerns with Child Protection Officer. The child&rsquo;s parents / carers should be seen at the earliest opportunity to ascertain if there is a known reason for a change in behaviour (eg,. a change in family make-up, death of family member, pet).
            li
              p You should remember that if abuse is taking place, it is often not the parents but other family members or friends who are causing it. Parents are often the last to know.
            li
              p Any member of staff or volunteer can contact the relevant agency (as listed in appendix A), to discuss any concerns they have and seek guidance before actually reporting any child protection issues. It is appropriate to seek support from the Child Protection officer in the organisation, as to how to deal with situations and confirm appropriate action to take.
            li
              p If you are still concerned about the welfare of the child / young person, this information must be passed on to the appropriate agency. It is important to remember that if you report concerns, you are not reporting the parents / carers &ndash; you are reporting to protect the welfare of the child.
            li
              p If appropriate, inform parents / carers that you are going to report your suspicions / concerns. This might not always be possible and should not put the child or yourself at risk. When you report an incident, the duty officer will ask you if the parent / carer has been informed. If they haven&rsquo;t, they will want to know the reasons why.
            li
              p If the Children&rsquo;s&apos; Social Care Referral and Assessment Team (Social Services) has been contacted, they should let you know that they are responding to what you have told them. It is unlikely that you will be told what action has been taken unless it has implications for the scheme. If you have not heard from the Referral and Assessment Team, it may be appropriate to contact them to ensure that the details you gave them have been taken into consideration and acted upon.

          h3 What to do if it is an emergency
          p If you think a child is in immediate danger you should telephone the police on 999. In all other circumstances you need to refer the matter to a Social Work Assessment Team for Children&rsquo;s Social Care and follow the procedure described in section 1. above.
          p In a medical emergency your first action may need to be one of the following:
          ul
            li Telephone for an ambulance, or,
            li Ask the parent to take the child to the hospital at once, or,
            li Take the child yourself
          p The child is the legal responsibility of the parent/carer and they must be involved as soon as practical, unless to do so would put the child at immediate risk of harm. Having taken the necessary emergency action it is important that you make immediate contact with Social Care.

        section
          h2 Working with Children and Young People
          p
            strong Recognising inappropriate behaviour in staff, volunteers and other adults.
          p There is no guaranteed way to identify a person who will harm children. However, there are possible warning signs. These may include:
          ul
            li
              p Paying an excessive amount of attention to a child or groups of children, providing presents, money or having favourites
            li
              p Seeking out vulnerable children, eg: disabled children
            li
              p Trying to spend time alone with a particular child or group of children on a regular basis
            li
              p Making inappropriate sexual comments
            li
              p Sharing inappropriate images
            li
              p Being vague about where they have worked or when they have been employed
            li
              p Encouraging secretiveness
          p There may be other sources of concern; this is not a conclusive list. If you are concerned about another staff member or volunteer&rsquo;s behaviour you need to pass this on to the Designated Senior.

          h3 If You Suspect a Member of Staff or Volunteer of Abuse or Inappropriate Behaviour or an Allegation is Made
          p If it appears that a staff member or volunteer has:
          ul
            li
              p behaved in a way that has harmed a child, or may have harmed a child, or,
            li
              p possibly committed a criminal offence against or related to a child, or,
            li
              p behaved in an inappropriate way towards a child which may indicate that he or she is unsuitable to work with children, then these procedures must be followed:
              ul
                li
                  p Record your concerns and report them to the senior worker
                  ul
                    li
                      p The senior worker should take steps to ensure that during the remainder of the working day that particular member of staff is not left in sole charge of the children or any child.
                    li
                      p The child protection officer will contact the Local Authority Designated Officer (LADO) WITHIN 1 WORKING DAY of receiving the report of an allegation.
                      address
                        p (Local Authority Designated Officer)
                        p #[strong Telephone] 0117 903 7795
                    li
                      p The setting should then follow the LADO&rsquo;s advice on how to deal with allegations against staff.
                    li
                      p Ofsted will be informed of any allegations of abuse against a member of staff, student or volunteer, or any abuse that is alleged to have taken place on the premises or during a visit or outing. (see Appendix A).
                li
                  p While support will be offered to the staff member involved, the staff and committee will ensure that the agencies concerned are given all assistance in pursuing any investigation. The disciplinary procedure may be implemented.
                li
                  p If the concern is regarding the senior worker, the above procedure will be followed but the report will be made to the Directors.

          h3 Support to Staff and Volunteers
          p The management committee will fully support all members of staff in following this procedure. Following an allegation or investigation:
          ul
            li
              p Staff and volunteers who work with issues of child protection may themselves need support in dealing with the emotional distress this can cause. They can talk to the setting&rsquo;s Child Protection and any of the appropriate agencies listed in Appendix A.
            li
              p Staff, volunteers or management members may also be subject to allegations of abusing children in relation to their work for the setting. While support will be offered to these individuals by the setting, we will ensure that the agency dealing with the matter is given all assistance in pursuing any investigation and the Bristol LADO will be informed. The disciplinary procedure may be implemented.

          h3 Recruitment of Staff and Volunteers
          p We acknowledge that paedophiles and those that pose a threat to children may be attracted to employment that allows them access to children and young people. As part of this policy we will ensure that people working with the children are safe to do so.
          ul
            li
              p All staff (including the setting&rsquo;s Manager/Leader) and volunteers will be checked by the Criminal Records Bureau on joining the scheme, to be renewed every 3 years.
            li
              p All people connected with the setting must declare all convictions/cautions incurred since CRB disclosure which may affect their suitability to work with children.
            li
              p Two references will be taken up prior to appointment for new staff and volunteers and a medical reference may also be required.
            li
              p All staff must undertake Child Protection training to keep up to date and as part of induction to understand the setting&rsquo;s safeguarding/child protection policy and procedures.
            li
              p The selection and interview procedure of the setting will be adhered to. This must include a full employment history, qualifications, interview and identity checks.

          h3 Use of Mobile Phones and Cameras
          p This setting is aware of the risks associated with the use of mobile phones and cameras in the setting. To manage this appropriately we have a separate policy regarding the use of these devices.

          h3 Code of Conduct
          p All staff, volunteers and management members within the setting recognise that they need to conduct themselves in an appropriate, open and transparent way to ensure a safer environment for all. One of the ways of ensuring this is by following the setting&rsquo;s policies and procedures, including:
          ul
            li Child protection policy and procedure
            li Safeguarding children overview
            li Photography, video, mobile phone and e-safety policy and procedure
            li Recruitment and selection policy and procedure
            li Whistle-blowing policy and procedure
            li Training policy
            li Health and Safety policy and procedures
            li First Aid policy and procedure
            li Fire Safety
            li Risk assessments
            li Secure premises (in H&amp;S)
            li Behaviour Management policy and procedure
            li Child registration form information
            li Arrival &amp; Departure policy and procedures
            li Deployment of staff (in H&amp;S)
            li Offsite and Trips policy and procedures
            li Working with Disabled children
            li Complaints policy and procedures
            li Keeping Ofsted up to date with any changes to the registration
          p In addition staff will use &ldquo;Guidance for Safer Working Practice for Adults who work with Children and Young People&rdquo; as a tool to develop setting specific guidance for staff and volunteers.

        section
          h2 Implementation and Monitoring
          ul
            li
              p The Directors will appoint a Child Protection Officer. In most cases, concerns can be logged with Carole Theyer, the Child Protection Officer. If the allegation is about Carole Theyer or Liam Jefferies (Carole&rsquo;s son), then the matter will be dealt with by Lucy Morgan.
            li
              p The role of the Officer is to take the lead responsibility for safeguarding children within the setting and liasing with local statutory children&rsquo;s services agencies as appropriate. They must also attend a child protection training course.
            li
              p This Officer will receive reports from the senior worker/lead professional of any occasions when there are concerns or issues of Child Protection.
            li
              p The Setting will review this policy annually, to ensure it is being implemented. Appropriate action will be taken if deemed necessary, through consultation with the agencies listed in Appendix A.

        section
          h2 Further Information
          p South West Child Protection Procedures &ndash; provide detailed online information on all aspects of child protection &ndash; #[a(href='http://www.swcpp.org.uk') www.swcpp.org.uk]

          h3 CONTACT LIST FOR CHILD PROTECTION
          ul
            li
              h4 Child Protection Officer
              p Carole Theyer
            li
              h4 Director responsible for Child Protection
              p Lucy Morgan
            li
              h4 Staff Senior/Lead Practitioner responsible for Child Protection on a daily basis
              p
                div Carole Theyer
                div Chloe Blackman
                div Liam Jefferies
                div Becky Frape

        section
          h2 Referral Agencies
          ul
            li
              h4 First Response &ndash; 0117 9036444 (all Bristol)
              p The place to call if you are concerned about a child or young person or think they need some help. Calls to First Response may result in direct referral to a Social Work Team or to Early Help and/or advice and guidance being given about services to help families.
            li
              h4 Disabled Children Team (all Bristol)
              p Tel: 0117 9038250
            li
              h4 Out of Office Hours Tel: 01454 615 165 (Emergency Duty Team)
            li
              h4 Email (all Bristol)
              p #[a(href='mailto:childprotection@bristol.gov.dot.uk') childprotection@bristol.gov.dot.uk]
            li
              h4 Police
              p
                div Non emergency &ndash; Tel: 101
                div Emergency &ndash; Tel: 999

        section
          h2 Staff Allegations
          p For staff allegations contact:
          ul
            li
              p Local Area Designated Officer &ndash; Telephone 0117 903 7795, Work mobile: 07795 091020
            li
              p Registered providers must inform Ofsted of any allegations of serious harm or abuse as soon as reasonably practicable, but at the latest within 14 days of the allegations being made.
            li
              p Ofsted Compliance and Investigation Team (For reporting any Child Protection concerns).-Tel: 0300 123 1231

        section
          h2 Support and Advice
          ul
            li South West Child Protection Procedures (online guidance) #[a(href='http://www.swcpp.org.uk') www.swcpp.org.uk]
            li Childline &ndash; Tel: 0800 1111 (open 24 hours)
            li National Society for the Prevention of Cruelty to Children (NSPCC) &ndash; Tel: 0800 800 500
            li NSPCC FGM helpline: 0800 028 3550 or email #[a(href='mailto:fgmhelp@nspcc.org.do.uk') fgmhelp@nspcc.org.do.uk]
            li Bristol Safeguarding Children Board (training) &ndash; Tel: 0117 3532505
            li BAND Development and Support Worker &ndash; Tel: 0117 954 2128
