---
title: Documentation and Confidentiality Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Sparks Play &amp; Care recognises the importance of maintaining up to date and accurate records, policies and procedures necessary to operate safely, efficiently and in accordance with the law.
          p Sparks Play &amp; Care is also aware of its obligations with regard to the storing and sharing of information under the Data Protection Act 1998, and is committed to complying with its regulations and guidance. The manager and staff are aware of the implications of the Data Protection Act 1998 in so far as it affects their roles and responsibilities within Sparks Play &amp; Care.
          p Sparks Play &amp; Care is committed to a policy of openness with parents/carers with regard to its policies and procedures and the information that Sparks Play &amp; Care holds on their child. Records and information will be made available to parents/carers on written request unless subject to an exemption. If for any reason a request is going to be refused, then this decision, and an explanation, will be communicated in writing.
          p Sparks Play &amp; Care&rsquo;s certificate of registration or any notice of suspension of registration will be displayed on the premises at all times.

        section
          h2 Record keeping
          p Sparks Play &amp; Care requires all parent/carers to complete a registration form before their child starts at Sparks Play &amp; Care. The information is stored on our computer and Sparks Play &amp; Care use a software system called Libacura to store all information, bookings, finance and staff details. This piece of software is limited by treble password system. Only nominated staff of Sparks Play &amp; Care can use the software.
          p Ordinarily, information kept on a child will include:
          ul
            li Birth name (along with any other name the child is known by).
            li Date of birth
            li Gender
            li School attended
            li Ethnic background
            li Religion
            li Languages spoken
            li Home address and telephone number(s)
            li Parents and carers names and addresses
            li Parents or carers place of work and contact number(s)
            li Name of parent the child normally lives with
            li Any other emergency contact names and numbers.
            li Family doctor&rsquo;s name, address and telephone number
            li Details of any special health issues (including a special educational needs or physical disability statement)
            li Details of any special dietary requirements, allergies and food and drink preferences
            li Record of immunisation
            li Appropriate records of children&rsquo;s progress and achievements.
            li Names of people authorised by parents/carers to collect children, along with recent photographs
            li Any other information relating to the child deemed by staff or parents/carers to be relevant and significant
          p Additionally, and in accordance with our policies and procedures, the following records and information will be stored and maintained by Sparks Play &amp; Care:
          ul
            li
              p An up to date record of all the staff, students and volunteers who work at Sparks Play &amp; Care, including theirname; address; telephone number; Criminal Records Bureau check; references; employment details and any other information accrued during their time spent working at Sparks Play &amp; Care.
            li
              p A record of any other individuals who reside at, or regularly visit/spend time at Sparks Play &amp; Care, including their contact details.
            li
              p The daily attendance registers, as set out in the Arrivals and Departures policy.
            li
              p An up to date waiting list with details of all children waiting for a place at Sparks Play &amp; Care, as set out in the Documentation and Information policy.
            li
              p Records of the activities planned and implemented by Sparks Play &amp; Care, including any off-site visits and outings.
            li
              p Records of any medication being held by staff on behalf of children, along with the signed Administration of Medication Form, in the Medication Record Book (in accordance with the Health, Illness and Emergency policy).
            li
              p Records of any medication administered to any child, including dates, circumstances and who administered it - this includes self administered medication.
            li
              p Records of signed Emergency Medical Treatment Forms, giving parental authorisation for staff to consent to emergency treatment for children (in accordance with the Health, Illness and Emergency policy).
            li
              p A record of the risk assessment clearly stating, when it was carries out, by whom, date of review, and any action following.
            li
              p An Inventory Record of all equipment owned or used by Sparks Play &amp; Care, including safety checks and repairs carried out, (in accordance with the Equipment policy).
            li
              p A fully completed and up to date Accident Record Book and Incident Record Book.
            li
              p Additionally, a regularly updated version of the admissions list will be kept off the premises, but close by, in case of an emergency, such as a fire.
          p Information and records held on children will be kept in a locked file, access to which will be restricted to the manager and one other designated member of staff.
          p The manager has overall responsibility for the maintenance and updating of children&rsquo;s records and ensuring that they are accurate.
          p All required records relating to individual children are maintained and retained for three years after children last attended Sparks Play &amp; Care. This rule will be disregarded where regulations and guidance from Ofsted or other statutory agencies overrides it.
          p All records above will be retained for a period of 1 year.

        section
          h2 Notification of changes
          p Sparks Play &amp; Care recognises its responsibilities in keeping children, parents/carers, staff and Ofsted informed of any changes to the running or management of Sparks Play &amp; Care that will directly affect them.
          p Wherever possible, if changes are to be made affected parties will be given as much warning as possible. In the case of proposed changes that are of considerable scope or importance, Sparks Play &amp; Care will facilitate consultation with the affected groups or individuals.
          p In the following cases, it is mandatory for Sparks Play &amp; Care to inform Ofsted at the earliest possible opportunity &ndash; within 14 days after the change occurs:
          ul
            li
              p Any significant change to the premises.
            li
              p Change of premises address where childcare is provided.
            li
              p Change in the type of childcare, for example, from after school club to childminding.
            li
              p Any change of the registered person&rsquo;s name, address or telephone number.
            li
              p Any change in registered person and person in day to day charge.
            li
              p Any changes that will affect the suitability of the registered person or anyone who cares for children on the premises. For example, committing an offence that would result in disqualification.
            li
              p Any incident of food poisoning affecting two or more children in the care of the childcare setting.
            li
              p Any serious accident or injury to, or death of any child receiving childcare.
            li
              p Any serious accident or injury to, or death of any person on the childcare premises.
            li
              p Any allegation of serious harm or abuse of any child committed by a member of staff (whether the offence is committed on or off site).
            li
              p Any allegation of serious harm or abuse of any child occurring on the premises and committed by any person (whether they are children, staff, parents or visitors).
            li
              p Any significant change to the operational plan of Sparks Play &amp; Care.
            li
              p Any other significant events.

        section
          h2 Confidentiality
          p The manager, staff, volunteers and any other individual associated with the running or management of Sparks Play &amp; Care will respect confidentiality by:
          ul
            li Not discussing confidential matters about children with other parents/carers.
            li Not discussing confidential matters about parents/carers with children or other parents/carers.
            li Not discussing confidential information about other staff members.
            li Only passing sensitive information, in written or oral form, to relevant people.
          p In circumstances where staff have good reason to believe that a child is at risk, or is likely to be at risk, of child abuse or neglect, the Safeguarding Children/Child Protection policy will override confidentiality on a &lsquo;need to know&rsquo; basis.
          p Staff failing to show due regard for confidentiality will be liable to disciplinary action under the provisions of the Staff Disciplinary &amp; Grievance Procedures policy.
