---
title: Equal Opportunities Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p This setting is committed to eliminating discrimination of all kinds and encouraging diversity amongst our workforce. We will strive to make our service accessible to all parents who wish to use it and we will ensure that no child, individual* or family will be unlawfully discriminated against on the grounds of age, sex, sexuality, family status, means, disability, race ethnic origin, culture, religion or belief. We are committed to creating an environment in which individual differences and everyone&rsquo;s contributions are recognised and valued and we believe in promoting dignity and respect to all.
          p
            em *Includes staff members, volunteers and members of the committee.

        section
          h2 Admissions and membership
          p Our setting aims to be open and accessible to every family in the community. We operate a priority system and this is outlined in the admissions policy and procedure.

        section
          h2 Recruitment and employment
          p We will recruit and employ people on the basis of their skills, experience and knowledge. We aim to ensure that no applicant or employee is subject to discrimination of any kind (see appendix 3) on the grounds of having, or being perceived as having, or being associated with someone who has, a protected characteristic, as defined by the Equality Act 2010 (see appendix 2). We will advertise for staff and management using a mix of methods and using a mixture of minority and mainstream press. We will always follow the procedures outlined in our Recruitment Procedure. Training, development and progression opportunities will also be available to all staff.

        section
          h2 Information
          p We will aim to make information on our setting as accessible as possible to all users, potential users and interested parties, seeking appropriate additional support to do so where necessary. Where appropriate, we will provide translations into relevant languages, large print or Braille and will use jargon free, clear and understandable language. We will also use a translator where appropriate.

        section
          h2 Inclusive practice
          p We aim to provide play opportunities and activities that are inclusive and accessible for all children and for all children to feel welcomed and valued. We will do this by:
          ul
            li
              p Recognising children&rsquo;s individual needs through observation, reflective practice and working in partnership with parents and other professionals.
            li
              p Providing appropriate support and making reasonable adjustments to meet each child&rsquo;s needs, including those with a Statement of Educational Needs.
            li
              p Challenging inappropriate attitudes and practices.
            li
              p Identifying a member of staff who will take on the role of Special Educational Needs Co-ordinator (SENCO), who will lead on and take responsibility for inclusive practice.

        section
          h2 Harassment
          p We will not tolerate incidents of harassment or abuse and will address any complaint or occurrence of harassment or abuse promptly. This includes harassment by third party and harassment directed at others, as defined by the Equalities Act 2010.
          p We will deal with incidents sensitively, with a view to supporting both parties involved in the incident, that is the person who has been harassed and the perpetrator. We will work with the perpetrator with the aim of helping them to overcome their prejudice and understand the effect of their behaviour.
          p Cases of harassment will invoke disciplinary measures for the perpetrator. For staff and management this will be in line with our Disciplinary and Grievance Procedures. In the case of parents exhibiting discriminatory behaviour, we will remind them of their need to comply with this policy. If further incidents occur, this will result in them being asked to leave the premises and prevented from returning until written assurance has been received stating that they will comply with it.
          p Parents with concerns over staff behaviour should follow our general complaints policy.
          p Where the perpetrator is a child, we will follow our Behaviour Management/Anti Bullying Policy and Procedures.
          p All incidents of harassment or abuse will be recorded as an incident on the appropriate form and if necessary Ofsted will be informed.

        section
          h2 Staff awareness and training
          p All staff will be made aware of this policy through the induction procedure. Staff and management will be offered training in all relevant aspects of Equal Opportunities.

        section
          h2 Monitoring
          p Through reflective practice and self evaluation, we will implement monitoring systems to highlight shortcomings and review our procedures and practice accordingly on a regular basis. This policy itself will be reviewed annually.

        section
          h2 Appendix 1
          p
            strong Equality Act 2010
          p The Act brings together for the first time all the legal requirements on equality that the private, public and voluntary sectors need to follow. It affects equality law at work and in delivering all sorts of services. It replaces all the existing equality law including:
          ul
            li The Equal Pay Act 1970
            li The Sex Discrimination Act 1975
            li The Race Relations Act 1976
            li The Disability Discrimination Act 1995

        section
          h2 Appendix 2
          p The Protected Characteristics: key points
          p The Act protects individuals and groups from discrimination based on their &ldquo;protected characteristics&rdquo;. There are nine protected characteristics and they vary slightly in their bearing according to whether a person is using a service or at work:
          ul
            li Age
            li Disability
            li Gender Reassignment
            li Marriage and Civil Partnership
            li Pregnancy and Maternity
            li Race
            li Religion or Belief
            li Sex
            li Sexual Orientation
          dl
            dt Age
            dd
              p The Act protects people of all ages. However, different treatment because of age is not unlawful direct or indirect discrimination if you can justify it, ie if you can demonstrate that it is a proportionate means of meeting a legitimate aim. Age is the only protected characteristic that allows employers to justify direct discrimination.
          dl
            dt Disability
            dd
              p The Act has made it easier for a person to show that they are disabled and protected from disability discrimination. Under the Act, a person is disabled if they have a physical or mental impairment which has a substantial and long term adverse effect on their ability to carry out normal day-to-day activities, which would include things like using a telephone, reading a book or using public transport.
              p 6 THE EQUALITY ACT &ndash; WHAT&rsquo;S NEW FOR EMPLOYERS? As before, the Act puts a duty on you as an employer to make reasonable adjustments for your staff to help them overcome disadvantage resulting from an impairment (eg by providing assistive technologies to help visually impaired staff use computers effectively). The Act includes a new protection from discrimination arising from disability. This states that it is discrimination to treat a disabled person unfavourably because of something connected with their disability (eg a tendency to make spelling mistakes arising from dyslexia). This type of discrimination is unlawful where the employer or other person acting for the employer knows, or could reasonably be expected to know, that the person has a disability. This type of discrimination is only justifiable if an employer can show that it is a proportionate means of achieving a legitimate aim. Additionally, indirect discrimination now covers disabled people. This means that a job applicant or employee could claim that a particular rule or requirement you have in place disadvantages people with the same disability. Unless you could justify this, it would be unlawful. The Act also includes a new provision which makes it unlawful, except in certain circumstances, for employers to ask about a candidate&rsquo;s health before offering them work. See page 8.
          dl
            dt Gender Reassignment
            dd
              p The Act provides protection for transsexual people. A transsexual person is someone who proposes to, starts or has completed a process to change his or her gender. The Act no longer requires a person to be under medical supervision to be protected &ndash; so a woman who decides to live as a man but does not undergo any medical procedures would be covered. It is discrimination to treat transsexual people less favourably for being absent from work because they propose to undergo, are undergoing or have undergone gender reassignment than they would be treated if they were absent because they were ill or injured.
          dl
            dt Marriage and Civil Partnership
            dd
              p The Act protects employees who are married or in a civil partnership against discrimination. Single people are not protected.
              p THE PROTECTED CHARACTERISTICS: KEY POINTS 7
          dl
            dt Pregnancy and Maternity
            dd
              p A woman is protected against discrimination on the grounds of pregnancy and maternity during the period of her pregnancy and any statutory maternity leave to which she is entitled. During this period, pregnancy and maternity discrimination cannot be treated as sex discrimination. See Annex 1 for an example. You must not take into account an employee&rsquo;s period of absence due to pregnancy-related illness when making a decision about her employment.
          dl
            dt Race
            dd
              p For the purposes of the Act &lsquo;race&rsquo; includes colour, nationality and ethnic or national origins.
          dl
            dt Religion or belief
            dd
              p In the Equality Act, religion includes any religion. It also includes a lack of religion, in other words employees or jobseekers are protected if they do not follow a certain religion or have no religion at all. Additionally, a religion must have a clear structure and belief system. Belief means any religious or philosophical belief or a lack of such belief. To be protected, a belief must satisfy various criteria, including that it is a weighty and substantial aspect of human life and behaviour. Denominations or sects within a religion can be considered a protected religion or religious belief. Discrimination because of religion or belief can occur even where both the discriminator and recipient are of the same religion or belief.
          dl
            dt Sex
            dd
              p Both men and women are protected under the Act.
          dl
            dt Sexual orientation
            dd
              p The Act protects bisexual, gay, heterosexual and lesbian people.

        section
          h2 Appendix 3
          p
            strong Types of discrimination:
          dl
            dt Direct discrimination
            dd
              p Direct discrimination occurs when someone is treated less favourably than another person because of a protected characteristic they have or are thought to have (see perception discrimination below), or because they associate with someone who has a protected characteristic (see discrimination by association below). Annex 1 contains an example of direct discrimination.
          dl
            dt Discrimination by association
            dd
              p Already applies to race, religion or belief and sexual orientation. Now extended to cover age, disability, gender reassignment and sex. This is direct discrimination against someone because they associate with another person who possesses a protected characteristic. See Annex 1 for an example of discrimination by association.
          dl
            dt Perception discrimination
            dd
              p Already applies to age, race, religion or belief and sexual orientation. Now extended to cover disability, gender reassignment and sex. This is direct discrimination against an individual because others think they possess a particular protected characteristic. It applies even if the person does not actually possess that characteristic. See Annex 1 for an example of perception discrimination.
          dl
            dt Indirect discrimination
            dd
              p Already applies to age, race, religion or belief, sex, sexual orientation and marriage and civil partnership. Now extended to cover disability and gender reassignment. Indirect discrimination can occur when you have a condition, rule, policy or even a practice in your company that applies to everyone but particularly disadvantages people who share a protected characteristic. Indirect discrimination can be justified if you can show that you acted reasonably in managing your business, ie that it is &lsquo;a proportionate means of achieving a legitimate aim&rsquo;. A legitimate aim might be any lawful decision you make in running your business or organisation, but if there is a discriminatory effect, the sole aim of reducing costs is likely to be unlawful.
              p Being proportionate really means being fair and reasonable, including showing that you&rsquo;ve looked at &lsquo;less discriminatory&rsquo; alternatives to any decision you make. Annex 1 contains an example of indirect discrimination.
          dl
            dt Harassment
            dd
              p Harassment is &ldquo;unwanted conduct related to a relevant protected characteristic, which has the purpose or effect of violating an individual&rsquo;s dignity or creating an intimidating, hostile, degrading, humiliating or offensive environment for that individual&rdquo;. Harassment applies to all protected characteristics except for pregnancy and maternity and marriage and civil partnership. Employees will now be able to complain of behaviour that they find offensive even if it is not directed at them, and the complainant need not possess the relevant characteristic themselves. Employees are also protected from harassment because of perception and association (see page 3). See Annex 1 for some examples of harassment.
          dl
            dt Third party harassment
            dd
              p Already applies to sex. Now extended to cover age, disability, gender reassignment, race, religion or belief and sexual orientation. The Equality Act makes you potentially liable for harassment of your employees by people (third parties) who are not employees of your company, such as customers or clients. You will only be liable when harassment has occurred on at least two previous occasions, you are aware that it has taken place, and have not taken reasonable steps to prevent it from happening again. See Annex 1 for an example of third party harassment.
          dl
            dt Victimisation
            dd
              p Victimisation occurs when an employee is treated badly because they have made or supported a complaint or raised a grievance under the Equality Act; or because they are suspected of doing so. An employee is not protected from victimisation if they have maliciously made or supported an untrue complaint. There is no longer a need to compare treatment of a complainant with that of a person who has not made or supported a complaint under the Act.

        section
          h2 Appendix 4
          p Further information:
          ul
            li ACAS website &ndash; #[a(href='http://www.acas.org.uk') www.acas.org.uk]
            li The Equalities and Human Rights Commission &ndash; #[a(href='http://www.equalityhumanrights.com') www.equalityhumanrights.com]
            li The Government Equalities Office &ndash; #[a(href='http://www.equalities.gov.uk') www.equalities.gov.uk]
            li Business Link &ndash; #[a(href='http://www.businesslink.gov.uk') www.businesslink.gov.uk]
            li Direct Gov &ndash; #[a(href='http://www.direct.gov.uk') www.direct.gov.uk]
