---
title: Fire Safety Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Sparks Play &amp; Care understands the importance of vigilance to fire safety hazards. The club has notices explaining the evacuation procedures positioned next to every fire exit. All staff, students, volunteers and children are made aware of the fire safety procedures set out in this policy.
          p The Person responsible for Health and Safety will ensure there is in place a clearly defined procedure for the emergency evacuation of the premises in the case of a fire.
          p All staff understands their roles and responsibility in the event of a fire and are aware of the location of all fire exits, the fire assembly point and where fire safety equipment is stored at induction.
          p Children will be made aware of the fire safety procedures during their settling in period and on regular occasion from then on. All children will be made aware of the location of fire exits and the fire assembly point.
          p Fire doors and fire exits are clearly marked, are not obstructed at any times, and are easily opened from the inside.
          p Fire exits are kept closed at all times but never locked. Fire extinguishers and fire alarm systems are regularly tested in accordance with manufacturer&rsquo;s guidance by school staff.
          p The Health and Safety Officer will be responsible for arranging fire drills and tests. Fire drills will take place periodically and staff will be informed of when these will occur.
          p Six times a year, Sparks Play &amp; Care will hold a fire drill without prior warning, on different days to capture children&rsquo;s attendance in conjunction with the school as set out in the school fire policy and procedures.
          p All fire drills, fire incidents and equipment checks will be recorded in the Incident Record book.
          p Certification from the Fire Service is no longer relevant. The Health and Safety Officer must carry out a fire safety risk assessment and implement and maintain a fire management plan.
          p It is the policy of Sparks Play &amp; Care to abide by all rules set out in the school Fire Policy and Procedures at all times.

        section
          h2 Fire prevention
          p The club will take all steps possible to prevent fires occurring. As such, the manager and the staff team are responsible for:
          ul
            li Ensuring that power points are not overloaded with adaptors.
            li Ensuring that the club&rsquo;s No Smoking policy is always observed.
            li Checking for frayed or trailing wires.
            li Checking that fuses are replaced safely.
            li Switching off all equipment before leaving the premises.
            li Storing any potentially flammable materials safely.
          p The manager will explain fire safety procedures to new staff, students and volunteers as part of the induction process.

        section
          h2 In the event of fire
          p In the event of a fire a member of staff will raise the alarm immediately and the emergency services will be called at the earliest possible opportunity.
          p All children will immediately be escorted out of the building and the leader in charge will collect the register, telephone and fire box and go to the assembly point using the nearest marked exit. No attempt will be made to collect personal belongings, or to re-enter the building after evacuation.
          p The entire premises will be checked by the LIC, providing that this does not put anyone at risk. All rooms in the building are fitted with Fire Doors to prevent the spread of fire.
          p The register will be taken and all children and staff accounted for. If any person is missing from the register, the emergency services will be informed immediately. If for any reason the register is not to hand, the manager should access the emergency contacts list that is kept off the premises (for further details see the Documentation and Information policy).
          p All children and adults will stay at the evacuation point until the LIC gives permission to re-enter the building. The LIC will only act on advice of the Emergency Services in event of actual fire, or on advice of school Site Manager in the event of false alarm or test.
