---
title: Food and Kitchen Hygiene Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p
            strong The Food Safety Act 1990 means that everyone who handles or prepares food for public consumption is responsible for food hygiene and safety. The Act is there to set the standards for the safe handling and preparation of food to avoid the incidence of food poisoning, through raising awareness and promoting good practice, specifically through training for food handlers and registration of premises.
          p The food provided at the setting will be low or medium risk foods and will comply with the Government&rsquo;s new food based standards for all food provided on school premises, other than lunches. Even though the food provided will be low or medium risk foods, there are still hazards to be aware of and controls to be put in practice.
          p The law states that
            em if you sell or give away food at the premises, you are required to comply with the following requirements.

        section
          h2 Food Premises Registration
          p In accordance with The Food Premises (Registration) Regulations this setting is registered with the local authority&rsquo;s food safety team.
          p Settings that do not have their own premises will need to advise their landlord that they (the landlord) will have responsibility under the Food Safety Act.

        section
          h2 Food Hygiene awareness and training
          p Staff and volunteers who handle food at the setting will need training in food hygiene. All staff need to know about basic food hygiene and need to understand how food poisoning can occur. At least one member of the staff will have a Basic Food Hygiene Certificate and then pass on their knowledge to others. This will happen within the first 3 months of starting the setting.
          p Food Safety Officers do carry out spot checks at settings to make sure that settings comply with food safety and hygiene.

        section
          h2 Requirements
          p In relation to operating an out of school setting, the hazards to safety and quality of food are likely to be limited to the following:
          ul
            li
              p Microbiological contamination (most of these products used by settings will not be susceptible to food poisoning organisms, but spoilage organisms may grow if shelf life is not observed).
            li
              p Physical Contamination (from dirt, debris)
            li
              p Physical damage (to the product or packaging)
          p Hazards can occur at any stage - from shopping to serving the food
          p The controls that settings are required to implement to minimise the above hazards are summarised by the following headings:
          ul
            li Structure, equipment and facilities
            li Food hygiene awareness and training
            li Food handling
            li Personal Handling
            li Temperature Control
            li Stock rotation
            li Cleaning
            li Waste
          p

        section
          h2 Aim
          p Sparks Play &amp; Care recognises that whilst we do not supply full meals to the children using our scheme we are still have a responsibility to make our staff and the children using the scheme aware of potential hazards arising from food and drink preparation. This policy has been written in order to limit or avoid the hazards that could occur with food handling. The following controls will be taken by staff and volunteers who handle food at this setting:
          h3 Structure, equipment and facilities
          p The floor, tables and chairs used should be clean and in good repair, so as not to harbour bacteria and dirt.
          p The setting will use the sink in the kitchen for food preparation and washing of food items only. A separate sink must be used for hand washing. If a separate sink is not available to wash up utensils, crockery and cutlery, a washing-up bowl kept for this purpose must be used.
          p Appropriate refrigeration equipment will be available and used.
          p Any broken or faulty kitchen equipment will be reported immediately to the Playleader.

        section
          h2 Food Hygiene awareness and training
          p Staff and volunteers who handle food at this setting will attend training in food hygiene including how to store, prepare, cook and serve food safely and hygienically. All staff and volunteers who handle food must know about basic food hygiene and need to understand how food poisoning can occur. At least one member of the staff will have a Basic Food Hygiene Certificate and then pass on their knowledge to others. This will happen within the first three months of starting the setting.

          h3 Food Handling
          p All food will be prepared in the food area of the setting. Whilst food is being prepared in this area, no other activities should occur in this same area. If children are to be involved, the procedure for cooking activities with children will be followed (see below).
          p Food should be obtained from a reputable source. Ensure that packaging is clean and intact.
          p Non-perishable food should be kept in a separate container/cupboard from general play equipment and resources.
          p All fruit and vegetables are thoroughly washed immediately prior to preparation.

          h3 Personal Hygiene
          p  Hands #[em MUST] be washed immediately prior to preparing food and dried with a disposable paper towel, not a tea towel.
          p Children #[em MUST] wash their hands immediately prior to eating and #[em MUST] sit at the area that has been cleaned and prepared for the food to be eaten from.
          p Staff must keep themselves clean and let their playleader/manager know of any illness or infections. Hair should be tied back; clothes should be clean and clean aprons worn when handling and preparing food. Wounds should be covered and jewellery should be restricted.

          h3 Temperature Control
          p All perishable food eg. Milk, bread, fruit, vegetables and spreads must be kept in the refrigerator which is kept between 0-5 degrees.
          p The fridge must have a thermometer showing the temperature of the interior. A daily recording of this temperature must be made.

          h3 Stock Rotation
          p Ensure stock is rotated to prevent spoilage beyond the product shelf life.
          p Use-by dates must be recorded.
          p Each Friday the contents of the refrigerator must be checked and anything past the use-by date is discarded.

          h3 Cleaning
          p Ensure that surfaces and utensils are clean before use. Wipe down work surfaces (where food is to be prepared) and tables (where food is to be eaten), with a kitchen cloth and an antibacterial surface cleanser. (Cloths used to clean in the kitchen #[em MUST] not be used anywhere else in the play setting, eg. to clean up after an art activity). Then immediately dry surface to maintain dry conditions.
          p Utensils, plates and cups etc. are washed up straight after use (with hot water and anti-bacterial detergent followed by rinsing) and immediately dried with a clean cloth.
          p All surfaces are surfaces wiped down with antibacterial cleanser after use.

          h3 Waste
          p Uneaten food is discarded immediately.
          p Bins will be are emptied daily by the cleaner

        section
          h2 Procedure for cooking activities with children
          p Can be considered a high-risk activity and as such should be subject to a risk assessment process. Staff that have undertaken food hygiene training will oversee the activity to ensure standards are maintained.
          ol
            li
              p Children and staff will wash their hands immediately prior to starting the cooking activity and dry them with a disposable paper towel not tea towel.
            li
              p Children and staff will wear &lsquo;cooking aprons&rsquo; during food activities. These aprons are different to the creative activity aprons and are stored separately to them, in a clean container.
            li
              p Staff will ensure that surfaces and utensils are clean before use. Wipe down work surfaces (where food is to be prepared) with a kitchen cloth and an antibacterial surface. Then immediately dried to maintain dry conditions. Utensils are stored in a clean container in a cupboard in the kitchen to avoid contamination after being washed.
            li
              p A member of staff will supervise children throughout the cooking activity.
            li
              p Children will not have unsupervised access to sharp cutting implements or the area where the oven is located.
            li
              p Cooking utensils etc. are washed up straight after use (with hot water and detergent followed by rinsing) and dried immediately. Uneaten food is discarded and surfaces wiped down with antibacterial cleanser.
            li
              p Any food that is to be saved until parents/carers collect their children will be stored appropriately, in the kitchen, which is inaccessible to the children.

        section
          h2 Special Dietary Requirements
          p Any snacks provided will take into account children&rsquo;s dietary needs. Parents/carers will be asked to complete a registration form when registering their child with the setting. Individual dietary needs are kept on a poster in kitchen. This list is kept up to date.

          h3 Drinking Water
          p Drinking water will always be available and accessible. It will be stored in an appropriate container such as a jug with a lid.

          h3 Holiday Lunch
          p This setting does not provide lunch during Holiday setting. Parents/carers will be asked to provide a packed lunch for their children.
          p Lunch will be taken within four hours of the opening time. If lunch is taken later than four hours from opening time, packed lunches (labelled with the child&apos;s name) will be stored in a fridge.
          p Parents/carers will be advised to pack the lunch container with an &quot;ice pack&quot; and be careful to avoid using dairy or poultry products during hot weather.
