---
title: Health and Safety Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p
            strong Sparks Play &amp; Care takes the maintenance of health and safety extremely seriously as a matter of both legal and moral importance. All staff will be familiarised with the provisions contained within this policy as part of their induction and be expected to act in accordance with them at all times.
          p Sparks Play &amp; Care aims to ensure the health, safety and welfare of all staff, children, visitors and other individuals who may be affected by Sparks Play &amp; Care&rsquo;s activities and actual existence. The Health and Safety at Work Act 1974 and the Workplace (Health, Safety and Welfare) Regulations 1992 and their associated Approved Code of Practice (ACOP) and guidance will be complied with at all times. The Operations Managers and staff will always strive to go beyond the minimum statutory standards to ensure that health and safety remains the first priority.
          p The steps below will be actioned as a matter of course:
          ul
            li Create an environment that is safe and without risk to health.
            li Prevent accidents and cases of work-related ill health.
            li Use, maintain and store equipment safely.
            li Ensure that all staff are competent in the work in which they are engaged.

        section
          h2 Responsibilities of the Operation Manager and staff
          p The identification, assessment and control of hazards within Sparks Play &amp; Care is vital in reducing accidents and incidents. A designated member of staff is responsible for assessing risks to health and safety arising out of Sparks Play &amp; Care&rsquo;s activities and introducing suitable steps to eliminate or control any such risk identified.
          p It is vital to ensure that health and safety matters are taken seriously by all members of staff and other persons who are affected by Sparks Play &amp; Care&rsquo;s activities. Staff who have been found to have blatantly disregarded safety instructions or recognised safe practices will be subject to the procedures laid out in the Staff Disciplinary Procedures policy.
          p The Registered Person holds ultimate responsibility and liability for ensuring that Sparks Play &amp; Care operates in a safe and hazard free manner. The Registered Person &ndash; along with the health and safety role&ndash; is responsible for ensuring that staff both understand and accept their responsibilities in relation to health and safety procedures.
          p The Registered Person will ensure that adequate arrangements exist for the following:
          ul
            li
              p Monitoring the effectiveness of the Health and Safety policy and authorising any necessary revisions to its provisions.
            li
              p Providing adequate resources, including financial, as is necessary to meet Sparks Play &amp; Care&rsquo;s health and safety responsibilities.
            li
              p Providing adequate health and safety training for all staff.
            li
              p Ensuring that all accidents, incidents and dangerous occurrences are adequately reported and recorded (including informing the Health and Safety Executive, and Ofsted, where appropriate).
            li
              p Reviewing all reported accidents, incidents and dangerous occurrences, and Sparks Play &amp; Care&rsquo;s response, to enable corrective measures to be implemented.
            li
              p Ensuring that all staff, students, volunteers and any other adult who come into contact with children at Sparks Play &amp; Care have appropriate and up to date Criminal Record Bureau checks.
          p The Health and Safety role is responsible for the day to day implementation, management and monitoring of the Health and Safety policy and they are required to report any matter of concern regarding the Health and Safety policy to the Registered Person.
          p The Health and Safety role will ensure that:
          ul
            li All risk assessments are complete and regularly updated.
            li Regular safety inspections are carried out and the reports accurately logged.
            li Any action required as a result of a health and safety inspection is taken as rapidly as possible.
            li Information received on health and safety matters is distributed to the Registered Person and all members of staff.
            li An investigation is carried out on all reported accidents, incidents and dangerous occurrences.
            li Staff are adequately trained to fulfil their role within the Health and Safety policy.
          p Staff are responsible for ensuring that the provisions of the Health and Safety policy are adhered to at all times. As such, they are required to:
          ul
            li Have regard for the Health and Safety policy and their responsibilities under it.
            li Take reasonable care for their own health and safety as well as of other persons who may be affected by their acts or omissions at work.
            li Take all reasonable care to see that the equipment and premises that are used by children, and the activities that are carried out at Sparks Play &amp; Care, are safe.
            li Report any accidents, incidents or dangerous occurrences that have led to, or may in the future be likely to lead to, injury or damage, and assist in the investigation of any such events.
            li Undergo relevant health and safety training when necessary.

        section
          h2 Insurance
          p The Children Act 1989 and the Health and Safety at Work Act 1974, place a number of legal responsibilities on Sparks Play &amp; Care. Therefore, Sparks Play &amp; Care has insurance cover appropriate to its duties under this legislation, including Employer&rsquo; Liability Insurance. Responsibility will, in most cases, rest with Sparks Play &amp; Care, but staff will take reasonable care, both for themselves and other people who may be affected by their acts or omissions at work. If Sparks Play &amp; Care is held responsible for any incident that may occur, public liability insurance will cover compensation.

        section
          h2 Liability
          p Under provisions contained in the Occupiers Liability Act 1957, Sparks Play &amp; Care has a duty to ensure that both children and any visitors are kept reasonably safe. The parties named in the wording of the premises contract are responsible for this duty.
          p Sparks Play &amp; Care&rsquo;s full responsibilities and procedures in respect of Health and Safety, are contained in this policy, alongside the relevant sections of the following policies:
          ul
            li Staffing
            li Physical Environment
            li Equipment
            li Risk Assessment
            li Site Security
            li Fire Safety
            li Visits and Outings
            li Health, Illness and Emergency
            li Hygiene
            li Managing Behaviour
            li Child Protection
            li Documentation and Information

        section
          h2 Risk assessment
          p
            strong We understand the importance of ensuring that systems are in place for checking that Sparks Play &amp; Care is a safe and secure place for children, staff and other visitors. Our risk assessment procedures are part of a continuous process to prevent any dangerous incident taking place. They are the responsibility of all staff as part of their daily duties.
          p In accordance with our duties under the Management of Health and Safety at Work Regulations 1999, Sparks Play &amp; Care is required to undertake regular risk assessments and take any necessary action arising from these according to provisions set out in the Health and Safety policy and elsewhere.
          p The Health and Safety role is responsible for making sure that risk assessments are completed, logged and effectively monitored. Reviews are conducted when there is any change to equipment or resources, any change to Sparks Play &amp; Care&rsquo;s premises, or when particular needs of a child or other visitor necessitates this.
          p The Health and Safety role is further responsible for conducting any necessary reviews or making changes to Sparks Play &amp; Care&rsquo;s policies or procedures in the light of any potential risks that they or other members of staff discover.
          p A visual inspection of both the equipment and the entire premises &ndash; both indoor and outdoor &ndash; will be carried out daily. This will, ordinarily, be carried out by a designated member of staff on arrival at Sparks Play &amp; Care and will be completed before any children arrive.
          p During the session, staff will be vigilant and continuously aware of any potential risks to health and safety arising from:
          ul
            li Sparks Play &amp; Care&rsquo;s environment, both indoors and outdoors
            li All surfaces, both indoors and outdoors
            li All equipment used by children or staff
          p On discovering a hazard, staff will take all steps necessary to making themselves and any other people potentially affected safe. They will then notify the Leader in Charge and ensure that a record is made in the Incident Record Book.
          p The Leader in Charge is then responsible for ensuring that any necessary action is taken.
