---
title: Health, Illness and Emergency Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Our club is committed to encouraging and promoting good health and to dealing efficiently and effectively with illnesses and emergencies that may arise while children are in our care.

        section
          h2 Infectious and communicable diseases
          p
            strong Sparks Play &amp; Care is committed to the health and safety of all children and staff who play, learn and work here. As such, it will sometimes be necessary to require a poorly child to be collected early from a session or be kept at home while they get better.
          p In accordance with the procedures set out in the Health, Illness and Emergency policy, parents/carers will be notified immediately if their child has become ill and needs to go home. Poorly children will be comforted, kept safe and under close supervision until they are collected.
          p If a child has had to go home prematurely due to illness, they should remain at home until they are better for at least 24 hours, or according to the times set out in the table below. If a member of staff becomes ill at work, similar restrictions on their return will apply.
          p If a child or member of staff becomes ill outside Club hours, they should notify Sparks Play &amp; Care as soon as possible. The minimum exclusion periods outlined in the table below will then come into operation.
          p If any infectious or communicable disease is detected on Sparks Play &amp; Care premises, Sparks Play &amp; Care will inform parents/carers personally in writing as soon as possible. Sparks Play &amp; Care is committed to sharing as much information as possible about the source of the disease and the steps being taken to remove it. Ofsted and the Health Protection Agency and or Health and Safety Executive under RIDDOR will also be informed of any infectious or communicable diseases discovered on Sparks Play &amp; Care premises.

        section
          h2 Head lice
          p When a case of head lice is discovered at Sparks Play &amp; Care, the situation will be handled carefully and safely. The child concerned will not be isolated from other children, and there is no need for them to be excluded from activities or sessions at Sparks Play &amp; Care.
          p When the child concerned is collected, their parent/carer will be informed in a sensitive manner.
          p Other parents/carers will be informed as quickly as possible in writing, including advice and guidance on treating head lice.
          p Staff should check themselves regularly for lice and treat whenever necessary.

        section
          h2 Minimum exclusion periods for illness and disease
          table
            thead
              tr
                td Disease
                td Period of exclusion
            tbody
              tr
                td Antibiotics prescribed
                td First 24 hours
              tr
                td Chicken Pox
                td 7 days from when the rash first appeared
              tr
                td Conjunctivitis
                td 24 hours or until the eyes have stopped &lsquo;weeping&rsquo;
              tr
                td Diarrhoea
                td 24 hours
              tr
                td Diphtheria
                td 2-5 days
              tr
                td Gastro-enteritis, food poisoning, Salmonella and Dysentery
                td 24 hours or until advised by the doctor
              tr
                td Glandular Fever
                td Until certified well
              tr
                td Hand, Foot and Mouth disease
                td During acute phase and while rash and ulcers are present
              tr
                td Hepatitis
                td A 7 days from onset of jaundice &amp; when recovered
              tr
                td Hepatitis B
                td Until clinically well
              tr
                td High temperature
                td 24 hours
              tr
                td Impetigo
                td Until the skin has healed
              tr
                td Infective hepatitis
                td 7 days from the onset
              tr
                td Measles
                td 7 days from when the rash first appeared
              tr
                td Meningitis
                td Until certified well
              tr
                td Mumps
                td 7 days minimum or until the swelling has subsided
              tr
                td Pediculosis (lice)
                td Until treatment has been given
              tr
                td Pertussis (Whooping cough)
                td 21 days from the onset
              tr
                td Plantar warts
                td Should be treated and covered
              tr
                td Poliomyelitis
                td Until certified well
              tr
                td Ringworm of scalp
                td Until cured
              tr
                td Ringworm of the body
                td Until treatment has been given
              tr
                td Rubella (German Measles)
                td 4 days from onset of rash
              tr
                td Scabies
                td Until treatment has been given
              tr
                td Scarlet fever and streptococcal infection of the throat
                td 3 days from the start of the treatment
              tr
                td Tuberculosis
                td Until declared free from infection by a doctor
              tr
                td Typhoid fever
                td Until declared free from infection by a doctor
              tr
                td Warts (including Verrucae)
                td Exclusion not necessary. Sufferer should keep feet covered

        section
          h1 List of notifiable diseases
          p The following diseases are notifiable under the Health Protection (Notification) Regulations 2010:
          ul
            li Acute encephalitis
            li Acute meningitis
            li Acute poliomyelitis
            li Acute infectious hepatitis
            li Anthrax
            li Botulism
            li Brucellosis
            li Cholera
            li Diphtheria
            li Enteric fever (typhoid or paratyphoid fever)
            li Food poisoning
            li Haemolytic uraemic syndrome (HUS)
            li Infectious bloody diarrhoea
            li Invasive group A streptococcal disease and scarlet fever
            li Legionnaires&rsquo; Disease
            li Leprosy
            li Malaria
            li Measles
            li Meningococcal septicaemia
            li Mumps
            li Plague
            li Rabies
            li Rubella
            li SARS
            li Smallpox
            li Tetanus
            li Tuberculosis
            li Typhus
            li Viral haemorrhagic fever (VHF)
            li Whooping cough
            li Yellow fever
          p As of April 2010, it is no longer a requirement to notify the following diseases: dysentery, ophthalmia neonatorum, leptospirosis, and relapsing fever.

        section
          h2 First Aid
          p Under duties set out in the Health and Safety (First Aid) Regulations 1981, the Club recognises its responsibilities in providing adequate and appropriate equipment, facilities and personnel to enable suitable first aid to be given at the club.
          p The club has a designated member of staff responsible for First Aid. This person has an up to date First Aid certificate. They are responsible for maintaining the correct contents of all First Aid boxes and administering basic First Aid when necessary and appropriate.
          p The manager and the designated member of staff will ensure that there will always be at least one member of staff who has a current paediatric first aid certificate available at all times during sessions at the club. The manager will be responsible for enabling the members of staff concerned to receive adequate first aid training. First Aid training will have met the criteria set out by the DCSF.
          p The First Aid box will be regularly checked to ensure its contents are up to date, in good condition and fulfil the criteria set out in the Health and Safety (First Aid) Regulations 1981.
          p The box should contain:
          ul
            li A card or leaflet giving general guidance
            li Sterile triangular bandages
            li Adhesive plasters
            li A sterile eye pad with attachment
            li Cotton wool
            li Crepe bandages
            li A sterile gauze
            li Micropore tape
            li Sterile covering for serious wounds
            li Individually wrapped assorted dressings
            li Waterproof disposable gloves
            li A disposable bag for soiled material
          p The location of the First Aid box, and the names of any other qualified first-aiders, will be clearly displayed around the club&rsquo;s premises.
          p A First Aid box will be taken on all off site visits or outings. This is the responsibility of the designated First Aider, or where this is not possible, the manager.

        section
          h2 In the event of a major accident, incident or illness
          p The club requests that parents/carers complete and sign the registration form enabling the manager or any member of staff so empowered, to give permission for emergency medical treatment for their child in the event of a major accident, incident or illness occurring at the club.
          p In the event of such an event, the following procedures will apply:
          ul
            li
              p In the first instance, the First Aider will be notified and take responsibility for deciding upon the appropriate action.
            li
              p The First Aider will assess the situation and decide whether the child needs to go straight to hospital or whether they can safely wait for their parent/carer to arrive.
            li
              p If the child needs to go straight to hospital, an ambulance will be called. The parent/carer will also be contacted. A member of staff will accompany the child to the hospital and will consent to medical treatment being given, so long as the Emergency Medical Treatment Form has been completed and sign.
            li
              p Children&rsquo;s records will be taken to hospital with the child.
            li
              p If the child does not need to go straight to hospital but their condition means they should go home, the parent/carer will be contacted and asked to collect their child. In the meantime, the child will be made as comfortable as possible and be kept under close supervision (from this point on, the provisions of the club&rsquo;s Infectious and Communicable Diseases policy will govern the child&rsquo;s return to the club).
            li
              p Parents/carers will be made fully aware of the details of any incidents involving their child&rsquo;s health and safety, and any actions taken by the Club and its staff.
            li
              p All such accidents or incidents will be recorded in detail and logged in the Incident Record Book or the Accident Record Book. Parents/carers will be asked to sign in the relevant section of the book to acknowledge the incident or accident and any action taken by the club and its staff.
            li
              p The manager and other relevant members of staff should consider whether the accident or incident highlights any actual or potential weaknesses in the club&rsquo;s policies or procedures, and act accordingly, making suitable adjustments where necessary.

        section
          h2 In the event of a minor accident, incident or illness
          ul
            li
              p In the first instance, the designated First Aider will be notified and take responsibility for deciding upon any appropriate action.
            li
              p If the child does not need hospital treatment and is judged to be able to safely remain at the club, the First Aider will remove the child from the activities and, if appropriate, treat the injury/illness themselves.
            li
              p If and when the child is feeling sufficiently better, they will be resettled back into the activities, but will be kept under close supervision for the remainder of the session.
            li
              p At the end of the session, the First Aider will fully inform the parent/carer of the incident or accident and any treatment given.
            li
              p If the injury or illness incurred is such that treatment by the First Aider is deemed inappropriate, but does not warrant hospitalisation, the parent/carer will be contacted immediately and asked to collect their child. Until the parent/carer arrives, the child will be kept under close supervision and as comfortable as possible (from this point on, the provisions of the Club&rsquo;s Infectious and Communicable Diseases policy will govern the child&rsquo;s return to the club).
            li
              p All such accidents and incidents will be recorded in detail and logged in the Accident Record Book and parents/carers should sign to acknowledge the incident and any action taken.
            li
              p The manager and any other relevant staff will consider whether the accident or incident highlighted any actual or potential weaknesses in the club&rsquo;s policies or procedures, and make suitable adjustments if necessary.

        section
          h2 Sun protection
          p The manager and staff understand the dangers posed to children and themselves by over exposure to the sun.
          p In hot weather, parents/carers are encouraged to provide sunscreen for their children. A store of sun protection will also be kept on the premises. Children will also be encouraged to wear a hat when playing outside in the sun.
          p When necessary, staff may apply sunscreen to children who cannot do so for themselves, where prior permission has been given by the parent/carer on the registration form.
          p In hot weather, staff will encourage children to drink water frequently. Staff will also ensure that shady areas out of the sun are always available to children when playing outside.
