---
title: Hot Drinks Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Sparks Play & Care are happy for practitioners and parents to consume hot food and drinks whilst on the premises and in the area where children play in line with this policy.
          p Young children can be severely affected by burns and scalds as their skin is much thinner. Drinking hot drinks in the close proximity of children puts them at risk. 
          p Hot drink: Any container holding a liquid that has been heated or boiled, and that remains above room temperature (25°C) for any period of time.

          p If you wish to consume hot drinks at work you are required to bring your own cup in from home and it must meet the same safety standards i.e. a safety lid that will not fall off in the event of dropping or knocking over.
          ul
            li Staff MUST stand next to the kettle whilst it is boiling. Under no circumstances are you to walk away whilst there is hot water boiling in the kettle. Once the kettle has been used and the lids are on the cups you are then free to move from your station to remove the kettle to store it in a safe place.
            li All staff and parents are expected to use safety mugs ONLY to consume HOT food and drinks. These cups have safety features that will prevent the hot contents from spilling out in the event of accidentally dropping it or knocking it over.
            li ALL staff to be aware of safe hygiene practices and risks of any cross-contamination. Please take note of any children or staff present that session with allergies.
            li ALL accidents and near misses are to be recorded in the relevant log books. Please reference your operations manual for master copy of incident and near miss forms.

          p Staff are encouraged to refer to the Sparks Health & Safety policy to remind yourselves of your duties whilst at work to maintain a safe environment and to report any accidents.
          p UNDER NO CIRCUMSTANCES are hot drinks permitted to be drunk in open-top cups, glasses or mugs whilst there are children or young adults present in the play area.
