---
title: Medication Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          ul
            li
              p Wherever possible, children who are prescribed medication should receive their doses at home. If it is necessary for medication to be taken during sessions at Sparks Play &amp; Care, children should be encouraged to take personal responsibility for this, where this is appropriate. Parents/carers and staff should discuss such situations at the earliest possible opportunity and decide together on the best course of action.
            li
              p Staff may only administer medication to the child &ldquo;if it is recommended by a pharmacist or nurse without a written prescription, as well as any medication prescribed by a doctor, dentist or an appropriately qualified pharmacist or nurse.&rdquo; (Taken from Ofsted document 080290).
            li
              p if the request to do so is from the child&rsquo;s parent or carer and is given in writing at the start of a session, stating frequency and dosage. Parents/carers can make such a request by completing and signing the Administrating Medication Form.
          p
            strong The procedure for administering medication at Sparks Play &amp; Care is as follows:
          p Medication will never be given without the prior written request of the parent/carer and a written and signed instruction, including frequency, dosage, any potential side effects and any other pertinent information.
          p A member of staff will be assigned to administer medication for each individual child concerned. They will also be responsible for ensuring that:
          ul
            li prior consent is arranged.
            li all necessary details are recorded.
            li that the medication is properly labelled and safely stored during the session.
            li another member of staff acts as a witness to ensure that the correct dosage is given.
            li parents/carers sign in the Medication Record Book to acknowledge that the medication has been given.
          p If for any reason a child refuses to take their medication, staff will not attempt to force them to do so against their wishes. If and when such a situation occurs, the Leader in Charge and the child&rsquo;s parent/carer will be notified, and the incident recorded in the Medication Record Book.
          p Where children carry their own medication (asthma pumps or insulin for example), Sparks Play &amp; Care recommends that staff hold onto the medication until it is required. This is to minimise possible loss of medication and to ensure the safety of other children. Inhalers should always be labelled with the child&rsquo;s name. All medication will be kept in a locked medication cupboard in the office.
          p If there is any change in the type of medication &ndash; whether regarding dosage or other changes to the information given on the Administering Medication Form &ndash; a new form must be completed.
          p Full details of all medication administered at Sparks Play &amp; Care, along with all Administering Medication Forms, will be recorded and stored in the Medication Record Book.
          p The Statutory Framework recommends that children under 16 should never be given medicines containing aspirin unless a doctor has prescribed that medicine for that child. We will make this clear to parents and take account of this when accepting requests from parents. (Taken from Ofsted document 080290).

        section
          h2 Training for staff to administer medicines that require technical/medical knowledge
          p The legal guidance says that to give some medicines you need to have training by a qualified health professional. These are things such as injections. If a parent asks Sparks Play &amp; Care to give medication for which your staff need training, you should first ask the child&rsquo;s parent about suitable training as they may have health professionals they work with. Alternatively we will enquire at the child&rsquo;s health centre about specific training. If the training relates to generic medication such as administering EpiPens then the staff do not have to have training for each individual child. However some children may require more specific medical interventions and in these cases Sparks Play &amp; Care may want staff trained in relation to that child&rsquo;s individual needs.
          p Sparks Play &amp; Care will request a specific medication care plan to be completed by the parent/carer and be signed off by the child&rsquo;s GP.
