---
title: Photography, Electronic Devices and E-Safety Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title

          h2 Aims
          ul
            li
              p To be clear on the responsibilities of Directors and staff when using cameras, mobile phones, computers and games consoles within the setting.
            li
              p To safeguard children&rsquo;s welfare in relation to the above areas and minimize the risk of harm.
            li
              p To fulfil legal duties in relation to personal data and other areas, e.g.: Data Protection Act 1998

        section
          h2 Procedures

          h3 Digital and Video Images
          p Written permission from parents/carers will be obtained and documented before any images of children are recorded. We take images for:
          ul
            li
              p Evidence of EYFS tracking or Play quality in the setting.
            li
              p Use of images on setting website or other publicity.
            li
              p Images recorded during events/ parties/ fundraising or outings.
            li
              p Parents must be made fully aware of how any images of their children may be used or must have the right to decide if they wish their children to be photographed. Parents must be able to have a say in how these photos will be used.
            li
              p Digital images will be stored in a separate file on the computer, which is accessed by setting practitioners only. These images must be stored in accordance with data protection laws e.g.: password protected files, cameras and memory sticks locked away.
            li
              p While using digital images, practitioners should be aware of the risk associated with taking, using, sharing, publishing and distribution of images.
            li
              p Setting practitioners must only use the setting equipment: personal equipment must NOT be used to record images of the children.
            li
              p Staff should be vigilant when taking digital/video images of the children to ensure that they are appropriately dressed.
            li
              p Children&rsquo;s full names/names will not be used anywhere on the settings website or literature
            li
              p Individual parent&rsquo;s wishes must be considered.
            li
              p After a photograph is taken down it will be either stored in the child&rsquo;s file, returned to the family or shredded

          h3 Mobile Phone Usage
          p Mobile phones may be used in settings, as long it is only used for communication amongst staff for the benefit of the child. The use of a mobile phone must not detract from the quality of the supervision and care of children.
          ul
            li
              p In the setting, use of mobile phones will be for business and emergency purposes and practitioners are not to be distracted from the care of children.
            li
              p Setting practitioners must never exchange mobile phone numbers with children in their setting.
            li
              p Setting practitioners are not to use any mobile phone cameras to photograph the children, unless, there is a designated setting mobile phone for this purpose.
            li
              p Images taken of the setting or its children should be downloaded onto the settings computer/laptop only the same day as taken. Images must not be downloaded onto any personal computer.
            li
              p Offsite on outings, mobile phones may be very useful. Where child information is stored on a personal mobile for an outing this needs to be deleted after the outing is over. It is recommended for the senior member of staff to record this occurrence. Alternatively paper information may be taken on outings.
            li
              p Practitioners will be held responsible for the content and security of their own phones, e.g. access to web pages. If this is deemed to be a safeguarding issue this will be dealt with in line with the settings child protection and disciplinary policy.
            li
              p All staff mobile phones will be spot checked regularly (approximately once and month) by the Leader in Charge. This will look at the photos on the phone. This will be recorded in a document which both the staff member and LIC will sign and date.

          h3 Computer and Laptop
          ul
            li
              p Practitioners should not use the setting&rsquo;s computer/laptop for personal use.
            li
              p The setting will ensure that all programs used and websites accessed are appropriate and that children are not able to access or download material which is unsuitable.
            li
              p All setting files that contain personal data will be stored appropriately and securely, e.g.: password protected or locked away.
            li
              p Practitioners should not forward any of the settings work, files, information etc stored on the setting computer/laptop to their home PC, unless, this has been agreed by the Directors as necessary practice for the setting. Practitioners should not use any personal memory devices in the setting&rsquo;s computer/laptop. Memory sticks provided by the setting should be used for work purposes only and should not be taken off the premises.
            li
              p All ICT equipment should remain in the setting at all times. This is to minimise the risk of computer viruses and for data protection purposes.
            li
              p Practitioners should not access, copy, remove or otherwise alter any other user&rsquo;s files, without their expressed permission.
            li
              p All email communication should be appropriate and written in a professional manner.
            li
              p Caution should be taken if personal e-mail addresses are used on the setting/laptop.
            li
              p E-mail attachments should only be opened if they are from a source known and trusted, due to the risk of the attachment containing viruses or other harmful programmes.
            li
              p Illegal or inappropriate materials MUST NOT be uploaded, downloaded or accessed.
            li
              p Practitioners should ensure that setting&rsquo;s computer/laptop is used appropriately to avoid disabling or damaging equipment.

          h3 Social Networking Sites
          ul
            li
              p Practitioners, volunteers, students, registered bodies etc should not put details of their work on any form of social networking site.
            li
              p Practitioners, volunteers, student, registered bodies etc should not engage in any on-line activity that may compromise their professional responsibilities.
            li
              p Adults working with children/young people should not correspond with setting&rsquo;s children/families through social networking sites.
            li
              p Practitioners should be aware of possible implications when entering any personal details on any gaming or social networking sites (e.g. YouTube, Facebook, twitter etc).
            li
              p The setting&rsquo;s computer/laptop should only be used for setting related activities. Practitioners will not be permitted to use the equipment to access social networking sites at any time, including designated breaks.
            li
              p All communications in the setting should be transparent and open to scrutiny.
            li
              p All staff should be made aware that failure to comply with policies and procedures may result in disciplinary action being taken.

          h3 Games Consoles
          ul
            li
              p Practitioners should ensure that all games consoles and games used are suitable and appropriate for the ages of children in their care.
            li
              p Use of computer consoles should be supervised and monitored and children encouraged to participate in a broad range of activities.
            li
              p All games used should be originals and not copies.
            li
              p Parents/carers should be made aware that computer games are available and have the option to request that their child does not access this equipment.
            li
              p Children should be closely supervised to ensure that they are not accessing the Internet via the console. Or if they are permitted to do so that the websites accessed are appropriate and the setting has put in place appropriate safeguards.

          h3 Responsibilities
          p This means that employees should:
          ul
            li
              p Report any concerns about any inappropriate or intrusive photographs found or any activity that raises concerns.
            li
              p All staff should be made aware that failure to comply with policies and procedures may result in disciplinary action being taken.
            li
              p Be aware that not following club guidance is potentially a child protection issue which may affect their suitability to work with children.

        section
          h2 Further Information
          p South West Child Protection Procedures &ndash; provide detailed online information on all aspects of child protection &ndash; #[a(href='http://www.swcpp.org.uk') www.swcpp.org.uk]
          p Guidance for Safer Working Practice for Adults who work with Children and Young People - DCSF #[a(href='http://www.dcsf.gov.uk/everychildmatters/resources-and-practice/IG00311/') www.dcsf.gov.uk/everychildmatters/resources-and-practice/IG00311/]
          p Data Protection #[a(href='http://www.ico.gov.uk') www.ico.gov.uk]
