---
title: Physical Intervention Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p Sparks Play &amp; Care takes seriously its duty of care towards children, staff, volunteers and its visitors to the setting. This policy has a clear focus.
          p The first and paramount consideration is the wellbeing of the children in our care.
          p The second is the wellbeing and protection of the adults who look after them.
          blockquote
            p Children with severe behavioural difficulties sometimes present a risk to themselves and others. Sparks Play &amp; Care may use reasonable force to control or restrain children. Examples of when such action may be reasonable are to prevent injury to people, damage to property or the breakdown of discipline
          dl
            dt Positive Handling Management
            dd
              p The term &ldquo;Positive Handling&rdquo; includes a wide range of supportive strategies for managing challenging behaviour. Included in this framework are a small number of responses which may involve the use of force to control or restrain a pupil. The term &ldquo;physical restraint&rdquo; is used when force is used to overcome active resistance. All physical interventions at this setting are conducted within a framework of positive handling management. Sparks Play &amp; Care behaviour policy is intended to reward effort and application, and encourage children to take responsibility for improving their own behaviour. Part of Sparks Play &amp; Care preventative approach to risk reduction involves looking for early warning signs, learning and communicating any factors which may influence behaviour and taking steps to divert behaviours leading towards foreseeable risk. Children are encouraged to participate in the development of their own Positive Behaviour Plans, if appropriate by focusing on positive alternatives and choices. Parent/carers are also encouraged to contribute. However if problems arise staff have an additional responsibility to support all children when they are under pressure and safely manage crises if, and when, they occur.
          dl
            dt Alternatives to Physical Controls
            dd
              p Staff who choose not to make a physical intervention can still take effective action to reduce risk.
              p They can: Show care and concern by acknowledging unacceptable behaviour and requesting alternatives using negotiation and reason, give clear directions to the child to stop, remind them about rules and likely outcomes, remove an audience or take vulnerable children to a safer place, make the environment safer by moving furniture and removing objects which could be used as weapons, use positive touch to guide or escort child to somewhere less pressured and ensure that colleagues know what is happening and get help.
          dl
            dt Modifications to the Environment
            dd
              p Ideally staff will not be waiting until a crisis is underway before conducting a dynamic risk assessment of the environment. Sparks Play &amp; Care recognises that some children who attend the setting may exhibit extreme and possibly dangerous behaviour. Consideration is given to secure storage for a range of everyday objects when they are not being used, for example; Pointed instruments are kept in the craft room and are supervised at all times and Any small items available are removed from the vicinity of an angry child.
          dl
            dt Help Protocols
            dd
              p The expectation at this setting is that all staff should support each another. This means that staff always offer help and always accept it. Help does not always mean taking over. It may mean just staying around in case you are needed, getting somebody else or looking after somebody else&rsquo;s group.
          dl
            dt Well Chosen Words
            dd
              p A well chosen word can sometimes avert an escalating crisis. When children are becoming angry there is no point in getting into an argument. Telling people to calm down can actually wind them up. Pointing out what they have done wrong can makes things worse. The only purpose in communicating with an angry person is to prevent further escalation. It is better to say nothing and take time to choose your words carefully than to say the wrong thing and provoke a further escalation.
          dl
            dt The Last Resort Principle
            dd
              p Sparks Play &amp; Care staff only use physical restraint when there is no other realistic alternative. This does not mean that we always expect people to methodically work their way through a series of failing strategies, before attempting an intervention in which they have some confidence. Nor does it mean always waiting until the danger is imminent, by which time the prospect of safely managing it may be significantly reduced. It does mean that Sparks Play &amp; Care expect staff members to conduct a risk assessment and choose the safest alternative. It also means that Sparks Play &amp; Care expects staff to experiment and think creatively about any alternatives to physical intervention which may be effective. National guidance is clear on this point.
              p &ldquo;If necessary staff have the authority to take immediate action to prevent harm occurring even if the harm is expected to happen some time in the predicted future.&rdquo;
              p
                em Para 10 Page 4 Directorate of Health &ndash; 1997 &ndash; &ldquo;The Control Of Children In The Public Care: Interpretation Of The Children Act 1989&rdquo; - London: H M S O
          dl
            dt Proactive Physical Interventions
            dd
              p It is sometimes reasonable to use physical controls to prevent extreme behaviour from becoming dangerous provided that it is an agreed part of a plan. Examples of this are where a child has shown ritual patterns of behaviour, which in the past have led to the child becoming more distressed and violent. In such circumstances it may be reasonable to withdraw the child to a safer place when the pattern of behaviour begins, rather than wait until the child is distressed and out of control. The paramount consideration is that the action is taken in the interest of the child and that it reduces, rather than increases, risk.
          dl
            dt Reasonable and Proportionate
            dd
              p Any response to extreme behaviour should be reasonable and proportionate. People should not react in anger. If they feel they are becoming angry they should consider withdrawing to allow someone else to deal with the situation. When physical controls are considered staff should think about the answers to the following questions: How is this in the best interests of the child? Why is a less intrusive intervention not preferable? Why do we have to act now? Why am I the best person to be doing this? Why is this absolutely necessary? If staff can answer these questions it is more likely that a physical intervention will be judged to be justifiable.
          dl
            dt Unreasonable Use of Force
            dd
              p It is not reasonable to use force simply to enforce compliance in circumstances where there is no risk. Nor is it reasonable to use any more force than is necessary to achieve a reduction in risk. Under no circumstances should pain be deliberately inflicted or should children be deliberately subjected to undignified or humiliating treatment (this should not be confused with the unavoidable discomfort associated with some approved techniques for disengaging from assaults such as bites and grabs). Other than as a one-off emergency measure to protect health and safety, force should never be used to keep a child secluded. Seclusion is only lawful by specific court order and cannot become part of a planned strategy.
          dl
            dt Health and Safety
            dd
              p If dangerous behaviour presents a significant risk of injury to people, there is a legal Health and Safety issue to be addressed. Dangerous behaviour should be regarded just as seriously as dangerous equipment. Dangerous occurrences should be reported to the person responsible for Health and Safety within Sparks Play &amp; Care. All staff have a shared responsibility to identify risk, communicate potential risks and take active steps to reduce risk wherever possible. Sparks Play &amp; Care recognises that it is not possible to entirely remove risk. As a minimum requirement, in order to comply with Health and Safety legislation, all staff have a responsibility to ensure that they know and understand Sparks Play &amp; Care policy and guidance, and to cooperate to make the setting safer. It is also a requirement that they participate in training if they are asked to do so.
          dl
            dt Risk Assessment
            dd
              p Informal risk assessments (dynamic) should be a routine part of work for staff working with children who may exhibit extreme behaviour. Responsible staff should think ahead to anticipate what might go wrong. If a proposed activity or course of action involves unacceptable risk the correct decision is to do something else.
              p Factors which might influence a more immediate risk assessment, and therefore a decision about how to intervene, might include the state of health and fitness of staff, physical stature, competence, confidence and relationships with the child concerned. Other than in an emergency, staff should only attempt physical controls when they are confident that such action will result in a reduction of risk. When faced by extreme behaviour, or even in a fight situation, the judgement may be that by becoming involved staff will increase the chance of somebody getting hurt. In this case the correct decision is to hold back from physical controls.
          dl
            dt Positive Behaviour Plans
            dd
              p Risk management is regarded as an integral part of behaviour management planning. All children who have been identified as presenting a risk should have an individual positive handling and behaviour plan. The plan should detail any strategies which have been found to be effective for that child, along with any particular responses which are not recommended. If particular physical techniques have been found to be effective they should be named, along with alerts to any which have proved ineffective or which have caused problems in the past. Individual child positive handling and behaviour plans should be considered alongside the childs Statement if it exists and any other planning documentation which relate to the child. They should take account of age, sex, level of physical, emotional and intellectual development, special need and social context. Individual child positive handling and behaviour plans should result from multi-professional collaboration and be included in any Pastoral Support Plan or IEP.
          dl
            dt Responding to Unforeseen Emergencies
            dd
              p Even the best planning systems cannot cover every eventuality and the Sparks Play &amp; Care recognises that there are unforeseen or emergency situations in which staff members have to think on their feet. It is not enough to thoughtlessly apply rules without thinking through the likely consequences. The key principals are that any physical intervention should be the least intrusive and restrictive of those options available which are likely to be effective, and also be in the best interests of the child, be reasonable and proportionate and be intended to reduce risk. Whenever a physical intervention has to be made there should be a verbal warning.
              p Where possible staff should always attempt to use diversion or diffusion in preference to physical interventions.
              p Staff should only use the techniques and methods approved for use either within the setting or when responsible for child safety as part of an excursion arranged by Sparks Play &amp; Care.
          dl
            dt The Post Incident Support Structure for children and Staff
            dd
              p Following a serious incident it is the policy of Sparks Play &amp; Care to offer support for all involved. People take time to recover from a serious incident. Until the incident has subsided the only priority is to reduce risk and calm the situation down. Staff should avoid saying or doing anything which could inflame the situation during the recovery phase. Immediate action should be taken to ensure medical help is sought if there are any injuries which require more than basic first aid. All injuries should be reported and recorded. It is important to note that injury in itself is not evidence of malpractice. Even when staff members attempt to do everything right things can go wrong. Part of the post incident support for staff may involve a reminder of this, as people tend to blame themselves when things go wrong. Time needs to be found to repair relationships. When careful steps are taken to repair relationships a serious incident does not necessarily result in long term damage. Time needs to be given to following up incidents so that children have an opportunity to express their feelings, suggest alternative courses of action for the future and appreciate other people&rsquo;s perspective. When time and effort are put into a post incident support structure the outcome of a serious incident can be learning, growth and strengthened relationships.
          dl
            dt Recording, Monitoring, Evaluation and Follow-up
            dd
              p All staff members involved in an incident should contribute to the record which should be completed within 24hrs. Sparks Play &amp; Care will ensure that each incident is reviewed and instigate further action as required. Sparks Play &amp; Care incident report log is open to external monitoring and evaluation from any outside professional body for example, but not limited to, OFSTED, social services, child protection team, etc. Following an incident consideration may be given to conducting a further risk assessment, reviewing the individual child&rsquo;s positive behaviour plan, behaviour management policy or this positive handling policy. Any further action in relation to staff, or an individual child will follow the appropriate procedures. (See disciplinary policy).
          dl
            dt Recording Advice
            dd
              p Whenever physical intervention is used the incident #[em must] be recorded using the approved forms.
              p All staff members involved in an incident should contribute to the record which should be completed within 24hrs. Read through the establishment recording form carefully. Take time to think about what actually happened and try to explain it clearly. Names should be completed in full and all forms should be signed and dated. Bear in mind these records will be retained and cannot be altered. They will be kept for many years and could form part of an investigation at some time in the future. Serious incident reports should not be completed until the individuals concerned have recovered from the immediate effects of the incident. They should not be rushed. A concise record should be written into the incident book. A copy of Sparks Play &amp; Care positive behaviour policy is archived each year and at each update for reference.
          dl
            dt Complaints
            dd
              p It is not uncommon for children to make allegations of inappropriate or excessive use of force following an incident. Sparks Play &amp; Care is an open setting and promotes transparent policy and practice in order to protect the interests of children and its staff. Any concerns regarding the wellbeing of children should be taken to the designated person for child protection. Any safety concerns should be reported to the designated person for Heallth and Safety.
          dl
            dt Availability
            dd
              p A copy of this document is available to staff through their induction pack, any parent/carer wishing to view this document may do so on request.
