---
title: Safe Touch and Positive Handling Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          h2 Aims
          p At Sparks Play and Care we believe that children have the right to independence, choice and inclusion, and we seek to provide opportunities for personal growth and emotional health and wellbeing. However, rights also involve responsibilities, such as not harming other people’s rights. Children unable to control their actions or unable to appreciate danger have a right to be protected; as do other children using the centre, and staff have a duty of care to exercise.
          p
            | Staff without an enhanced DBS check and the appropriate training are prohibited from touching the children when intervening in conflict, comfort, play and any other scenario that may occur during after school club (However, all staff members have a right to defend themselves and keep children away from immediate risk – see section marked *). There will always be a Playworker present that is able to deal with these situations appropriately.
            strong This includes new Playworkers yet to receive their DBS check and junior Playworkers.
          
          h2 Rationale
          p Children learn who they are and how the world is, by forming relationships with people and things around them.
          p The quality of a child’s relationship with significant adults is vital to their healthy development and emotional health and wellbeing.
          p Several children at Sparks have additional needs, this means they will either have a 1:1 playworker with them or are in the stages of diagnosis.  It is with these individuals that we create a detailed play plan along with their parents/ careers and teachers. The 1:1 Playworker will have the right training for this e.g. positive handling. It is with their individual needs in mind that staff seeks to respond to children’s developmental needs by using appropriate safe touch.
          p Our policy takes into account the extensive neurobiological research and studies relating to attachment theory and child development that identify safe touch as a positive contribution to brain development, mental health and the development of social skills. At Sparks, we have adopted an informed, evidence based decision to allow safe touch as a developmentally appropriate intervention that will aid healthy growth and learning.
          p Our policy rests on the belief that every member of staff need to know the difference between appropriate and inappropriate touch. Hence, staff need to demonstrate a clear understanding of the difference. Equally, when a child is in deep distress, staff are trained to know when and how sufficient connection and psychological holding can be provided without touching.
          
          h2 Different Types of Touch
          p There are five different types of touch and physical contact that may be used, these are:
          
          h3 1. Casual / Informal / Incidental Touch
          p Staff use touch with pupils as part of a normal relationship, for example, comforting a child, giving reassurance and congratulating. This might include putting an arm out to bar an exit from a room, taking a child by the hand, patting on the back or putting an arm around the shoulders. The benefit of this action is often proactive and can prevent a situation from escalating.
          
          h3 2. General Reparative Touch
          p This is used by staff working with children who are having difficulties with their emotions. Healthy emotional development requires safe touch as a means of calming, soothing and containing distress for a frightened, angry or sad child. Touch used to regulate a child’s emotions triggers the release of the calming chemical oxytocin in the body. Reparative touch may include stroking a back, squeezing an arm, rocking gently, cuddling, tickling, sitting on an adult’s lap, or hand or foot massage.

          h3 3. Contact Play
          p Contact play is used by staff adopting a role similar to a parent in a healthy child-parent relationship. This will only take place when the child has developed a trusting relationship with the adult and when they feel completely comfortable and at ease with this type of contact. Contact play may include an adult chasing and catching the child or an adult and child playing a game of building towers with their hands.
          
          h3 4. Interactive Play (Rough and Tumble Play)
          p This structured play follows clear rules and is operated under close supervision by staff. It will only ever take place when all participants are in agreement and completely understand the rules. This sort of play releases the following chemicals in the brain:
          ul
            li Opiodes - to calm and soothe and give pleasure;
            li Dopamine - to focus, be alert and concentrate;
            li BDNF (Brain Derived Neurotropic Factor) - a brain ‘fertiliser’ that encourages growth.
          p Interactive play may include: throwing cushions at each other or using soft foam bats to ‘fence’ each other.

          h3 5. Positive Handling (Calming a Dysregulating Child)
          p Trained staff will restrain a child when behaviour is:
          ul
            li Unacceptably threatening, dangerous, aggressive or out of control;
            li In order to avoid harm to self or others or damage to property;
            li To avoid an offence being committed and / or a breakdown of good order and discipline.
            
          p The restraining techniques used should be familiar to the staff involved, and they should be appropriately trained and be able to use them safely.
          p A child who is in a state of dysregulation and has no mechanism for self-calming or regulating their strong emotional reactions will be physically contained by staff. This kind of containment will usually involve a member of staff sitting behind the child and enveloping the child in their arms whilst providing a safe, calm and soothing presence. It may also be necessary for another member of staff to control a child’s kicking legs.
          p Staff will employ the safest and gentlest means of holding a child, which is entirely designed to enable the child to feel safe and soothed and bring him or her down from an uncontrollable state of hyper arousal. Maintaining boundaries in such cases can be a vital corrective emotional experience, without which the child can be left at risk of actual physical or psychological damage.
          p The brain does not develop self-soothing neuronal pathways unless this safe emotional regulation has been experienced.
          p Physical containment of a dysregulating child can be the only way to provide the reassurance necessary to restore calm. Such necessary interventions are fully in line with guidelines set out in the Government Document ‘New Guidance on the Use of Reasonable Force in School’ (DfEE 1998) and in the Education Act Section 550A.
          
          p During any incident of restraint, staff must seek as far as possible to:
          ul
            li Lower the child’s level of anxiety during the restraint by continually offering verbal reassurance and avoiding generating fear if injury in the child;
            li Cause minimum level of restriction of movement of limbs consistent with the danger of injury (so, for example, will not restrict the movement of the child’s legs when they are on the ground unless in an enclosed space where flailing legs are likely to be injured);
            li Ensure at least on other member of staff is present.
            
          h2 Steps to Take Before Positive Handling
          p Prevention strategies and calming measures will be employed and the following action should be taken before a restraint is used.
          ul
            li
              p Conversation, distraction, coaxing skills, gentle persuasion or redirection to other activities (e.g. touching the child’s arm and leading him / her away from danger, gently stroking the child’s shoulder);
            li
              p Encourage the child to help him/herself feel more secure by wrapping a blanket tightly around him/herself or holding on tightly to a large cushion or stuffed toy;
            li
              p Put distance between the child and others - move others to a safer place;
            li
              p Calmly remove anything that could be used as a weapon, including hot drinks, objects, furniture;
            li
              p To prevent a child continuing to pose harm in a dangerous situation, advise others to leave, but remain with the child yourself;
            li
              p Use seclusion only if necessary for a short period while waiting for help, preferably where a member of staff can observe the child;
            li
              p Keep talking calmly to the child, explain what is happening and why, how it can stop, and what will happen next;
            li
              p Use first aid procedures in the event of injury or physical distress when safe to do so.

          h3 Who Can Use Positive Handling?
          p Staff using positive handling techniques will have been on the positive handling course and therefore know how to restrain a child without causing unnecessary stress and/or pain. Specific guidance from child psychotherapists has been sought in regards to when to use positive handling as an appropriate course of action.
          p *There are some situations where those without training might find it reasonable to use a degree of force.
          ul
            li Everyone has the right to defend themselves against an attack provided they do not use a disproportionate degree of force to do so.
            li In an emergency, for example, if a child was in immediate risk of injury or on the point of inflicting injury on someone else, any member of staff would be entitled to intervene.
          p There will always been a trained member of staff present to intervene as soon as possible.

          h2 Sharing Information
          p A detailed written statement recording a physical restraint will be made as soon as possible after the incident in the restraint incident book and must include:
          ul
            li What took place, to and by whom, it’s severity and how long it lasted;
            li What effects there were and to whom;
            li Circumstances leading up to the incident (who was involved, time of day and where it occurred, what activities were taking place etc.);
            li Actions that were taken by staff to avoid restraining;
            li Details of other children or staff that was present at the time.
          p The incident form will be passed onto the parent/carer of the child as soon as is practicable after the incident for them to sign. Once signed, the incident form is them stored in a locked cabinet.
          p Staff will identify what actions would be appropriate for future use and prevention, including environmental /policy / procedural change.
