---
title: Site Security Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1=title
          p
            strong Sparks Play &amp; Care is committed to providing care and learning for children in a safe and secure environment. All staff have an individual and collective responsibility to ensure that they have continuous regard for the safety and security of all children at Sparks Play &amp; Care.
          p Parents/carers are encouraged to talk to their children about the importance of remaining safe and not leaving Sparks premises during the session.
          p These messages will be reinforced by both Sparks Play &amp; Care and its staff.
          p Safety and security procedures will be regularly reviewed by the Directors in consultation with staff and parents/carers.

        section
          h2 Supervision
          p Children will not be left unsupervised at any time during activity sessions. In the event of staff shortages, available space will be restricted to ensure that children are adequately supervised, in accordance with the staff ratio provisions set out in the Staffing policy.
          p The Leader in Charge will allocate responsibility to individual members of staff for observing and supervising the main entrance and exit points at the beginning and end of the session.

        section
          h2 Signing in
          p Sparks Play &amp; Care has a signing in log sheet which is kept close to the main entrance in which staff and visitors must sign on arrival, alongside giving the following information:
          ul
            li Their name.
            li The date and time of their arrival.
            li The reason for their visit.
            li Their expected departure time.
          p Visitors to Sparks Play &amp; Care will not be left unsupervised with children at any time.
          p Staff have a duty to approach any visitor on the premises who has not signed in. They must introduce themselves and establish immediately who the visitor is and the reason for them being on Sparks Play &amp; Care&rsquo;s premises. If the visitor has no suitable reason to be on Sparks Play &amp; Care&rsquo;s premises, then they will be asked to leave immediately and escorted from the premises. If the visitor repeatedly refuses to leave, the police will be telephoned immediately.
          p A record will be made of any such incidents in the Play and incident Record Book, and the Directors will be immediately notified.

        section
          h2 Closing the centre in an emergency and using Lock Down Procedures
          p In very exceptional circumstances, Sparks Play &amp; Care may need to be closed at very short notice due to an unexpected emergency. Such incidents:
          ul
            li Serious weather conditions (combined with heating system failure).
            li Burst water pipes.
            li Discovery of dangerous structural damage.
            li Fire or bomb scare/explosion.
            li Serious assault on a staff member by the public.
            li Serious accident or illness.
          p A member of staff will give a sustained blast on a whistle and will shout &lsquo;Lock Down&rsquo;. All children will be brought in from outside and all children calmly gathered in sitting room for the register.
          p The LIC will ask a playworker to lock both doors of Ashley House, then to ring the school to let them know what is happening.
          p All children and playworkers will stay in sitting room until advised by the school that the threat is over.
