---
title: Visits and Outings Policy
---

extends ../../layouts/index

block content
  main.main
    div.main__container
      div.content
        section
          h1 Visits and Outings Policy
          p
            strong Sparks Play &amp; Care believes that visits and outings play an important and enriching role in the programme of activities that we provide for children. However, during such events, the safety of children remains paramount.
          p Prior to a visit or outing, if logistically possible, a member of staff will carry out an exploratory visit of the proposed destination so as to pre-empt any potential difficulties.
          p The Manager will ensure that a thorough risk assessment has been carried out prior to the proposed visit of an outing, according to the provisions set out in the Risk Assessment policy. This should include consideration of the journey and any transportation involved. If a prior visit is not possible, the Operations team will write to the venue requesting all relevant information and a risk assessment statement where available.
          p Sparks Play &amp; Care will make every effort to involve children in the planning of a visit or outing. Staff will explain to children the aims and objectives of the event, along with what is expected of them in terms of their behaviour and contribution.
          p Children will be talked through any potential safety hazards and told to remain with staff at all times. Staff will explain to children what to do in an emergency, including designating a suitable meeting point.

        section
          h2 Parental consent
          p No less than four weeks before a proposed visit or outing, Sparks Play &amp; Care will send a newsletter to parents/carers giving them detailed information about the proposed event. This will include a full programme of activities, any costs involved, an outline of any journey involved and the mode of transport being used as well as approximate arrival and departure times.
          p Parental consent is needed for all off-site visits and outings. The Leader in Charge will take a photocopy of the signed Visits and Outings Forms on the trip while the original will be stored in Sparks Play &amp; Care&rsquo;s records.
          p Parents/carers have the absolute right to withhold consent for a proposed visit or outing. No child who does not have a signed consent form will be allowed to participate.

        section
          h2 During visits and outings
          p On visits or outings, the staff to child ratio will be 1:5, unless all children are over 10 in which case it can be 1:10; subject to the nature of the activity and the risk assessment.
          ul
            li
              p Children will remain under close supervision at all times.
            li
              p The Leader in Charge will ensure that a full First Aid kit is on hand, in compliance with the relevant provisions of the Health, Illness and Emergency policy.
            li
              p One designated member of staff will keep mobile phones with them at all times and their number will be circulated to all parents/carers in advance of the visits and outings. This number will also be left at Sparks Play &amp; Care in case of an emergency.
            li
              p A register will be taken at the beginning, middle and end of the visit or outing. Additionally, regular head counts will be taken by staff.
            li
              p A list of all members of staff and children participating in the visit or outing, along with relevant mobile phone numbers, will be left with the member of staff left on duty at Sparks Play &amp; Care&rsquo;s premises (if staff numbers allow for such a provision).

        section
          h2 Missing children
          p
            strong Sparks Play &amp; Care has the highest regard for the safety of the children in our care. Staff will always be extremely aware of the potential for children to go missing during sessions.
          p Even when all precautions are properly observed, emergencies can still arise. Therefore members of staff will undertake periodic head counts, especially at the transition points between sessions (in addition to the registration procedures set out in the Arrival and Departures policy). If for any reason a member of staff cannot account for a child&rsquo;s whereabouts during a session at Sparks Play &amp; Care, the following procedure will be activated:
          ul
            li
              p The member of staff in question will inform both Leader in Charge and the rest of the staff team that the child is missing and a thorough search of the entire premises will commence. The staff team will be careful not to create an atmosphere of panic and to ensure that the other children remain safe and adequately supervised.
            li
              p Leader in Charge will nominate one member of staff, to search the area surrounding the premises. All staff will be extra vigilant to any potentially suspicious behaviour or persons in and around Sparks Play &amp; Care.
            li
              p If after 15 minutes of thorough searching the child is still missing, Leader in Charge will inform the police and then the child&rsquo;s parent/carer.
            li
              p While waiting for the police and the parent/carer to arrive, searches for the child will continue. During this period, other members of staff will maintain as normal a routine as is possible for the rest of the children at Sparks Play &amp; Care.
            li
              p Leader in Charges will be responsible for meeting the police and the missing child&rsquo;s parent/carer. Leader in Charges will co-ordinate any actions instructed by the police, and do all they can to comfort and reassure the parents/carers.
            li
              p Once the incident is resolved, Leader in Charge and the staff team will review relevant policies and procedures and implement any necessary changes (paying particular note to the relevant provisions of Sparks Play &amp; Care&rsquo;s Site Security and Risk Assessment policies).
            li
              p All incidents of children going missing from Sparks Play &amp; Care will be recorded in the Incident Record Book, and in cases where either the police or social services have been informed, Ofsted will also be informed, as soon as is practicable.
