extends layouts/index

block content
  main.main
    div.main__container
      h1.main__heading Welcome to Sparks!
      p.main__body Sparks Play & Care cares for school children aged 3 to 14 years in Bristol. Our team of passionate and qualified playworkers work together to provide a variety of clubs during term time and holidays.
