extends layouts/index
include mixins/post-preview

block content
  main.main
    div.main__container
      h1 Welcome to Sparks!
      p Sparks Play & Care cares for school children aged 3 to 14 years in Bristol. Our team of passionate and qualified playworkers work together to provide a variety of clubs during term time and holidays.

      section.post-list.post-list--embedded
        h2.post-list__heading
          span From the blog
        for post in posts.slice(0, 3)
          +post-preview(post)
        a.post-list__more(href=pageUrl('blog/index.jade')) See more blog posts
