doctype html
html(lang='en')
  head
    include ../includes/meta
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap:400,700|Roboto:400,500')
    link(rel='stylesheet' href=assetUrl('css/index.css'))
  body
    include ../includes/header
    block content
    include ../includes/footer
    script.
      var nav = document.querySelector('.js-nav');
      document.querySelector('.js-nav-toggle').addEventListener('click', function () {
        nav.classList.toggle('is-open');
      }, false);

      var breadcrumb = document.querySelector('.js-breadcrumb');
      if (breadcrumb) {
        breadcrumb.addEventListener('click', function (e) {
          var parent = e.target.parentNode;

          if (e.target.classList.contains('js-breadcrumb-link')) {
            parent.classList.add('is-open');
            e.preventDefault();
          }

          if (e.target.classList.contains('js-breadcrumb-overlay')) {
            parent.classList.remove('is-open');
          }
        }, false);
      }
