doctype html
html(lang='en')
  head
    include ../includes/meta
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap:400,700|Roboto:400,500')
    link(rel='stylesheet' href=assetUrl('css/index.css'))
  body
    include ../includes/header
    block content
    include ../includes/footer
    script.
      var nav = document.querySelector('.js-nav')
      document.querySelector('.js-nav-toggle').addEventListener('click', function () {
        nav.classList.toggle('is-open')
      }, false)
