doctype html
html(lang='en')
  head
    include ../includes/meta
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap:400,700|Roboto:400,500')
    link(rel='stylesheet' href=assetUrl('css/index.css'))
  body
    include ../includes/header
    div.notice.notice--main Sparks is closed today, Friday 1st February, due to snow and ice
    block content
    include ../includes/footer
    script.
      var nav = document.querySelector('.js-nav')
      var navItems = nav.querySelectorAll('.js-nav-item')

      document.addEventListener('focus', function (event) {
        var target = event.target

        if (matches(target, '.js-nav-sub-link')) {
          closest(target, '.js-nav-item').classList.add('is-open')
        }
      }, true)

      document.addEventListener('blur', function (event) {
        var target = event.target

        if (matches(target, '.js-nav-sub-link')) {
          closest(target, '.js-nav-item').classList.remove('is-open')
        }
      }, true)

      document.addEventListener('click', function (event) {
        var target = event.target

        if (matches(target, '.js-nav-toggle')) {
          nav.classList.toggle('is-open')
          return
        }

        var parent = closest(target, '.js-nav-item')

        if (!parent) closeAll(navItems)

        if (matches(target, '.js-nav-link') && !parent.classList.contains('is-open')) {
          closeAll(navItems)
          parent.classList.add('is-open')
          event.preventDefault()
        }
      }, false)

      function closeAll (navItems) {
        for (var i = 0; i < navItems.length; i++) {
          navItems[i].classList.remove('is-open')
        }
      }

      function closest (element, selector) {
        if (element.closest) return element.closest(selector)

        while (element) {
          if (matches(element, selector)) return element
          element = element.parentElement
        }

        return null
      }

      function matches (element, selector) {
        var method = element.matches || element.webkitMatchesSelector || element.oMatchesSelector || element.msMatchesSelector || element.mozMatchesSelector
        return method.call(element, selector)
      }
    block foot
      if watch
        script(src='http://localhost:35729/livereload.js')
