doctype html
html(lang='en')
  head
    include ../includes/meta
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap:400,700|Roboto:400,500')
    link(rel='stylesheet' href=assetUrl('css/index.css'))
  body
    include ../includes/header
    block content
    include ../includes/footer
    script.
      var nav = document.querySelector('.js-nav')
      var navItems = nav.querySelectorAll('.js-nav-item')

      document.addEventListener('focus', function (event) {
        var target = event.target

        if (target.matches('.js-nav-sub-link')) {
          target.closest('.js-nav-item').classList.add('is-open')
        }
      }, true)

      document.addEventListener('blur', function (event) {
        var target = event.target

        if (target.matches('.js-nav-sub-link')) {
          target.closest('.js-nav-item').classList.remove('is-open')
        }
      }, true)

      document.addEventListener('click', function (event) {
        var target = event.target

        if (target.matches('.js-nav-toggle')) {
          nav.classList.toggle('is-open')
          return
        }

        var closest = target.closest('.js-nav-item')

        if (!closest) closeAll(navItems)

        if (target.matches('.js-nav-link') && !closest.classList.contains('is-open')) {
          closeAll(navItems)
          closest.classList.add('is-open')
          event.preventDefault()
        }
      }, false)

      function closeAll (navItems) {
        for (var i = 0; i < navItems.length; i++) {
          navItems[i].classList.remove('is-open')
        }
      }
