doctype html
html(lang='en')
  head
    include ../partials/meta
    link(rel='stylesheet' href=assetUrl('css/index.css'))
  body
    include ../partials/header
    main.main
      main.main__container
        block content
    include ../partials/footer
    script.
      var nav = document.querySelector('.js-nav');
      document.querySelector('.js-nav-toggle').addEventListener('click', function() {
        nav.classList.toggle('is-open');
      });
    if watchmode
      script(src='http://localhost:35729/livereload.js')
