doctype html
html(lang='en')
  head
    include ../partials/meta
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap:400,700|Roboto:400')
    link(rel='stylesheet' href=assetUrl('css/index.css'))
  body
    include ../partials/header
    main.main
      div.main__container
        block content
    include ../partials/footer
    script.
      var nav = document.querySelector('.js-nav');
      document.querySelector('.js-nav-toggle').addEventListener('click', function () {
        nav.classList.toggle('is-open');
      }, false);
    if watchmode
      script(src='http://localhost:35729/livereload.js')
