extends ./index

block content
  main.main
    div.main__container
      div.post
        div.post__body
          block body
        p.post__meta Published #[time(datetime=date.toISOString())=date.toDateString()]
        if previous || next
          nav.post__nav
          if previous
            div.post__nav-item
              div.post__nav-label Previous
              a(href=pageUrl(previous.filename))=previous.title
          if next
            div.post__nav-item
              div.post__nav-label Next
              a(href=pageUrl(next.filename))=next.title
